<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改资料')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <link th:href="@{/css/dm/dm.css}" rel="stylesheet"/>
    <link th:href="@{/css/dm/operation.css}" rel="stylesheet"/>
    <script th:src="@{/js/dm/dm.js}" type="text/javascript"></script>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-data-edit" th:object="${data}">
        <input name="dataBoroughId" id="treeIdArea" type="text" hidden>
        <input name="dataId"  type="hidden"  th:field="*{dataId}" />
        <h4 class="form-header h4">基本信息</h4>
<!--        <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>申请人：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input type="text" name="dataApplicant" class="form-control" placeholder="请输入名字" th:field="*{dataApplicant}" required>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>所属单位：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input type="text" name="dataCompany" class="form-control" placeholder="请输入单位名称" th:field="*{dataCompany}" required>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>所属区域：</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="dataBorough" onclick="selectAreaTree()" id="treeNameArea" type="text" th:field="*{dataBorough}" required placeholder="请选择区域" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>所属流域：</label>
                    <div class="col-sm-8">
                        <!--<input type="text" name="dataRiver" class="form-control" placeholder="请输入流域" th:field="*{dataRiver}" required>-->
                        <select class="form-control" name="dataRiver">
                            <option value="茅洲河" th:selected="*{dataRiver=='茅洲河'}">茅洲河</option>
                            <option value="观澜河" th:selected="*{dataRiver=='观澜河'}">观澜河</option>
                            <option value="龙岗河" th:selected="*{dataRiver=='龙岗河'}">龙岗河</option>
                            <option value="深圳河湾" th:selected="*{dataRiver=='深圳河湾'}">深圳河湾</option>
                            <option value="坪山河" th:selected="*{dataRiver=='坪山河'}">坪山河</option>
                            <option value="大亚湾" th:selected="*{dataRiver=='大亚湾'}">大亚湾</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>所属类别：</label>
                    <div class="col-sm-8">
                        <input type="text" name="dataType" class="form-control" placeholder="请输入类别" th:field="*{dataType}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>密级：</label>
                    <div class="col-sm-8">
                        <!--<input type="text" name="dataLevel" class="form-control" placeholder="请输入密级" th:field="*{dataLevel}" required>-->
                        <select class="form-control" name="dataLevel">
                            <option value="普通" th:selected="*{dataLevel=='普通'}">普通</option>
                            <option value="密" th:selected="*{dataLevel=='密'}">密</option>
                            <option value="机密" th:selected="*{dataLevel=='机密'}">机密</option>
                            <option value="极机密" th:selected="*{dataLevel=='极机密'}">极机密</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>资料名称：</label>
                    <div class="col-sm-8">
                        <input type="text" name="dataTheme" class="form-control" placeholder="请输入资料名称" th:field="*{dataTheme}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">说明：</label>
                    <div class="col-sm-10">
                        <textarea type="text" name="dataDesc" class="form-control" placeholder="请输入说明" th:field="*{dataDesc}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">&nbsp;</div>

    <h4 class="form-header h4">附属文件</h4>
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary multiple disabled" onclick="downloadSelected()">
                <i class="fa fa-download"></i> 下载
            </a>
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script type="text/javascript">

    var prefix = ctx + "dm/file";

    $(function() {
        var options = {
            url: prefix+ "/select?dataId=[[${data.dataId}]]",
            modalName: "附属文件",
            showSearch:false,
            showRefresh:false,
            showColumns:false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'fileId',
                    title: '文件编号',
                    sortable: true
                },
                {
                    field: 'fileName',
                    title: '文件名',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="fileDownload(\'' + row.fileId + '\')"><i class="fa fa-download"></i>下载</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="fileDelete(' + row.fileId+',\''+row.filePath + '\')"><i class="fa fa-trash"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-data-edit").serializeArray();
            $.operate.save(prefix + "/edit", data);
        }
    }

    // 文件下载(单个)
    function fileDownload(fileId){
        $.modal.confirm("确认下载该文件？", function() {
            var url = prefix + "/download?ids="+fileId;
            window.location.href = url;
        });
    }

    //文件下载(多选)
    function downloadSelected(){
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一个文件");
            return;
        }
        $.modal.confirm("确认要下载选中的" + rows.length + "个文件吗?", function() {
            var url = prefix + "/download?ids="+rows.join();
            window.location.href = url;
        });
    }


    function fileDelete(fileId,filePath){
        $.modal.confirm("确认删除该文件？", function() {
            var url = prefix+"/delete?fileId="+fileId+"&filePath="+filePath;
            $.operate.post(url);
            $("#bootstrap-table").bootstrapTable('refresh', options);
        })
    }
</script>
</body>
</html>