<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.check.PlantCheckDeviceMapper">

    <resultMap type="com.szps.web.domain.check.PlantCheckDevice" id="PlantCheckDeviceResult">
        <result property="deviceSid"    column="device_sid"    />
        <result property="plantId"    column="plant_id"    />
        <result property="plantName"    column="plant_name"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="checkId"    column="check_id"    />
        <result property="deviceCreateuser"    column="device_createuser"    />
        <result property="deviceCreatetime"    column="device_createtime"    />
    </resultMap>

    <sql id="selectPlantCheckDeviceVo">
        select device_sid, plant_id, plant_name, device_id, device_name, check_id, device_createuser, device_createtime from PLANT_CHECK_DEVICE
    </sql>

    <select id="selectPlantCheckDeviceList" parameterType="com.szps.web.domain.check.PlantCheckDevice" resultMap="PlantCheckDeviceResult">
        <include refid="selectPlantCheckDeviceVo"/>
        <where>
            <if test="plantId != null  and plantId != ''"> and plant_id = #{plantId}</if>
            <if test="plantName != null  and plantName != ''"> and plant_name like concat(concat('%', #{plantName}), '%')</if>
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat(concat('%', #{deviceName}), '%')</if>
            <if test="checkId != null  and checkId != ''"> and check_id = #{checkId}</if>
            <if test="deviceCreateuser != null  and deviceCreateuser != ''"> and device_createuser = #{deviceCreateuser}</if>
            <if test="deviceCreatetime != null "> and device_createtime = #{deviceCreatetime}</if>
        </where>
    </select>

    <select id="selectPlantCheckDeviceById" parameterType="java.lang.Long" resultMap="PlantCheckDeviceResult">
        <include refid="selectPlantCheckDeviceVo"/>
        where device_sid = #{deviceSid}
    </select>

    <insert id="insertPlantCheckDevice" parameterType="com.szps.web.domain.check.PlantCheckDevice">
        <selectKey keyProperty="deviceSid" resultType="long" order="BEFORE">
            SELECT seq_PLANT_CHECK_DEVICE.NEXTVAL as deviceSid FROM DUAL
        </selectKey>
        insert into PLANT_CHECK_DEVICE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceSid != null ">device_sid,</if>
            <if test="plantId != null  and plantId != ''">plant_id,</if>
            <if test="plantName != null  and plantName != ''">plant_name,</if>
            <if test="deviceId != null  and deviceId != ''">device_id,</if>
            <if test="deviceName != null  and deviceName != ''">device_name,</if>
            <if test="checkId != null  and checkId != ''">check_id,</if>
            <if test="deviceCreateuser != null  and deviceCreateuser != ''">device_createuser,</if>
            <if test="deviceCreatetime != null ">device_createtime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceSid != null ">#{deviceSid},</if>
            <if test="plantId != null  and plantId != ''">#{plantId},</if>
            <if test="plantName != null  and plantName != ''">#{plantName},</if>
            <if test="deviceId != null  and deviceId != ''">#{deviceId},</if>
            <if test="deviceName != null  and deviceName != ''">#{deviceName},</if>
            <if test="checkId != null  and checkId != ''">#{checkId},</if>
            <if test="deviceCreateuser != null  and deviceCreateuser != ''">#{deviceCreateuser},</if>
            <if test="deviceCreatetime != null ">#{deviceCreatetime},</if>
         </trim>
    </insert>

    <update id="updatePlantCheckDevice" parameterType="com.szps.web.domain.check.PlantCheckDevice">
        update PLANT_CHECK_DEVICE
        <trim prefix="SET" suffixOverrides=",">
            <if test="plantId != null  and plantId != ''">plant_id = #{plantId},</if>
            <if test="plantName != null  and plantName != ''">plant_name = #{plantName},</if>
            <if test="deviceId != null  and deviceId != ''">device_id = #{deviceId},</if>
            <if test="deviceName != null  and deviceName != ''">device_name = #{deviceName},</if>
            <if test="checkId != null  and checkId != ''">check_id = #{checkId},</if>
            <if test="deviceCreateuser != null  and deviceCreateuser != ''">device_createuser = #{deviceCreateuser},</if>
            <if test="deviceCreatetime != null ">device_createtime = #{deviceCreatetime},</if>
        </trim>
        where device_sid = #{deviceSid}
    </update>

    <delete id="deletePlantCheckDeviceById" parameterType="java.lang.Long">
        delete from PLANT_CHECK_DEVICE where device_sid = #{deviceSid}
    </delete>

    <delete id="deletePlantCheckDeviceByIds" parameterType="java.lang.String">
        delete from PLANT_CHECK_DEVICE where device_sid in
        <foreach item="deviceSid" collection="array" open="(" separator="," close=")">
            #{deviceSid}
        </foreach>
    </delete>

</mapper>
