<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('增加供应商')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="form"  class="form-horizontal m"  th:object="${obj}">
        <input name="deptid" type="hidden" id="treeId" th:field="*{deptid}"/>
        <input name="id" type="hidden"  th:field="*{id}"/>
        	<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">单位名称：</label>
						<div class="col-sm-8">
								<input name="deptname" id="treeName"  th:field="*{deptname}"  onclick="selectDeptTree()" type="text"  class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">所在地点：</label>
						<div class="col-sm-8">
							<input  name="dlocation" id="dlocation"  th:field="*{dlocation}" class="form-control" type="text"  >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">所在部门：</label>
						<div class="col-sm-8">
								<input name="deptname2"  id="deptname2"  th:field="*{deptname2}"  type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">设备编号：</label>
						<div class="col-sm-8">
							<input  name="dnumber"  id="dnumber" th:field="*{dnumber}"   class="form-control" type="text" >
						</div>
					</div>
				</div>
			</div>						
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">设备名称：</label>
						<div class="col-sm-8">
							<input  name="assetname"  id="assetname"  th:field="*{assetname}"  class="form-control" type="text" >
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">规格型号：</label>
						<div class="col-sm-8">
							<input  name="dtype"  id="dtype"  th:field="*{dtype}"  class="form-control" type="text" >
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">主要技术参数：</label>
						<div class="col-sm-8">
								<input name="dparameter"  id="dparameter"  th:field="*{dparameter}"  type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">生产厂家：</label>
						<div class="col-sm-8">
							<input  name="manufacturer"  id="manufacturer"  th:field="*{manufacturer}"  class="form-control" type="text" >
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">计量单位：</label>
						<div class="col-sm-8">
								<input name="measurement"  id="measurement"  th:field="*{measurement}"  type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">账面数量：</label>
						<div class="col-sm-8">
							<input  name="bookquantity"  id="bookquantity" th:field="*{bookquantity}"   class="form-control" type="number" >
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">实际数量：</label>
						<div class="col-sm-8">
								<input name="realquantity"  id="realquantity"  th:field="*{realquantity}"  type="number" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">购置日期：</label>
						<div class="col-sm-8">
							<input name="purchasedate" id="purchasedate"  th:field="*{purchasedate}" class="time-input form-control"  type="text"   data-type="date" data-format="yyyy-MM-dd"/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">启用日期：</label>
						<div class="col-sm-8">
							<input name="introductiondate" id="introductiondate" th:field="*{introductiondate}"  class="time-input form-control"  type="text"   data-type="date" data-format="yyyy-MM-dd"/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">设备现状：</label>
						<div class="col-sm-8">
							<input  name="dstatus"  id="dstatus"  th:field="*{dstatus}"  class="form-control" type="text" >
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
			<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">原值（元）：</label>
						<div class="col-sm-8">
								<input  name="originalvalue"  id="originalvalue"  th:field="*{originalvalue}"  type="number"  class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-8">
							<textarea  name="remark"  id="remark"  th:field="*{remark}"   class="form-control" type="text"></textarea>
						</div>
					</div>
				</div>
			</div>
	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<script>
	var prefix = ctx + "op/fixedasset/officeequipment";
	
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	$.operate.save(prefix + "/edit", data);
	        }
	    }
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
         
    </script>
</body>
</html>
