<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('设备清单')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="info-form">
				<input name="areaId" type="hidden" id="treeId2"/>
					<div class="select-list">
						<ul>
<!-- 							<li>
		                        <label >所属区：</label>
                            	<input name="areaName" onclick="selectAreaTree()" id="treeName2" type="text" placeholder="" >
							</li> -->
							
							<li>
		                         <label >排水渠道唯一编号：</label>
                            	<input name="lno"  id="lno" type="text" >
							</li>
							<li>
		                         <label >项目名称：</label>
                            	<input name="prj_name"  id="prj_name" type="text" >
							</li>
							<li>
								<a class="btn  btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn  btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
<!-- 		<div class="select-list">
			<ul>
				
				<li>
                   	<a class="btn"  th:href="'/op/dev/pscombinfo'"  style="border-color: #1a7bb9">雨水口</a>
                   	<a class="btn"  th:href="'/op/dev/psconduitinfo'"  style="border-color: #EE0000">渠</a>
                   	<a class="btn"  th:href="'/op/dev/psmanholeinfo'"  style="border-color: #1a7bb9">检查井</a>
                   	<a class="btn"  th:href="'/op/dev/psoutfallinfo'"  style="border-color: #1a7bb9">排放口</a>
                   	<a class="btn"  th:href="'/op/dev/pspipeinfo'"  style="border-color: #1a7bb9">管</a>
                   	<a class="btn"  th:href="'/op/dev/pspointinfo'"  style="border-color: #1a7bb9">特征点</a>
				</li>
				<li></li>
				<li></li>
				<li>
                   	<a class="btn"  th:href="'/op/dev/ed'"  style="border-color: #1a7bb9">内窥检测数据</a>
                   	<a class="btn"  th:href="'/op/dev/nm'"  style="border-color: #1a7bb9">管网养护数据</a>
                   	<a class="btn"  th:href="'/op/dev/drainagenetworkmaintenance'"  style="border-color: #1a7bb9">维保数据</a>
                   	<a class="btn"  th:href="'/op/dev/drainagenetworkspare'"  style="border-color: #1a7bb9">备品备件</a>
                   	<a class="btn"  th:href="'/op/dev/drainagenetworksupplier'"  style="border-color: #1a7bb9">供应商</a>
				</li>						
			</ul>
		</div>	 -->	
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="dev:psconduitinfo:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dev:psconduitinfo:delete">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dev:psconduitinfo:export">
		            <i class="fa fa-download"></i> 导出
		        </a> -->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "op/dev/psconduitinfo";//
        var viewFlag = [[${@permission.hasPermi('dev:psconduitinfo:view')}]];
        var editFlag = [[${@permission.hasPermi('dev:psconduitinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('dev:psconduitinfo:delete')}]];
        
       
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                removeUrl: prefix + "/remove",
                updateUrl: prefix + "/edit/{id}",
                modalName: "列表",
                columns: [{
		            checkbox: true
		        },
		        {field: 'lno',title: '排水渠道唯一编号',},
		        {field: 'prj_no',title: '项目编号',},
		        {field: 'prj_name',title: '项目名称',},
		        {field: 'grade',title: '渠道级别',},
		        {field: 's_point',title: '起点管线点号',},
		        {field: 's_deep',title: '起点管线埋深',},
		        {field: 'in_elev',title: '起点管内底标高',},
		        {field: 'e_point',title: '终点管线点号',},
		        {field: 'e_deep',title: '终点管线埋深',},
		        {field: 'out_elev',title: '终点管内底标高',},
		        {field: 'sewagesystem_id',title: '所在污水分区',},
		        {field: 'stormsystem_id',title: '所在雨水分区',},
		        {field: 'conduit_style1',title: '渠道类型 1',},
		        {field: 'conduit_style2',title: '渠道类型 2',},
		        {field: 'type',title: '管线种类',},
		        {field: 'code',title: '对象编码',},
		        {field: 'material',title: '材质',},
		        {field: 'servicelife',title: '材质使用寿命',},
		        {field: 'shapetype',title: '断面形式',},
		        {field: 'shape_data1',title: '断面数据 1',},
		        {field: 'shape_data2',title: '断面数据 2',},
		        {field: 'shape_data3',title: '断面数据 3',},
		        {field: 'shape_data4',title: '断面数据 4',},
		        {field: 'shape_xydata',title: '断面数据 5',},
		        {field: 'pipelength',title: '管线长度',},
		        {field: 'flowdir',title: '流向',},
		        {field: 'embed',title: '埋设方式',},
		        {field: 'interfaceP',title: '接口方式',},
		        {field: 'address',title: '地址',},
		        {field: 'datasource',title: '数据来源',},
		        {field: 'sunit',title: '探测单位',},
		        {field: 'sdate',title: '探测日期',},
		        {field: 'updatetime',title: '更新日期',},
		        {field: 'mdate',title: '埋设日期',},
		        {field: 'plan',title: '是否按规划',},
		        {field: 'conduit_type',title: '渠道类别',},
		        {field: 'status',title: '现状',},
		        {field: 'ename',title: '所属工程名称',},
		        {field: 'design_dept',title: '设计单位',},
		        {field: 'conster_dept',title: '施工单位',},
		        {field: 'belong',title: '权属单位',},
		        {field: 'operator',title: '运营单位',},
		        {field: 'note',title: '备注',},


				{
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.lno + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.lno + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        
        /*用户管理-新增-选择部门树*/
        function selectAreaTree() {
        	
        	var treeId = $("#treeId2").val();
        	var deptId = $.common.isEmpty(treeId) ? "3" : $("#treeId2").val();
        	var url = ctx + "system/area/selectAreaTree/" + deptId;
			var options = {
				title: '选择区域',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			//if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId2").val(body.find('#treeId2').val());
    			$("#treeName2").val(body.find('#treeName2').val());
    			layer.close(index);
			//}
		}
    </script>
</body>
</html>