<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('部门列表')" />
	<link th:href="@{/css/employee/employee.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="factory-form">
					<div class="select-list">
						<ul>
							<li>
								公司/水厂代码：<input type="search" name="company_id" placeholder="请输入"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<div class="select-list">
					<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="employee:department:add">
	                	<i class="fa fa-plus"></i> 新增
	            	</a>
					<a class="btn btn-danger" onclick="$.operate.removeAll()" shiro:hasPermission="employee:department:remove">
		            	<i class="fa fa-remove"></i> 删除
		        	</a>
		        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        	<table>
		        		<tr>
		        			<a class="btn" href="/employee/worker">人员信息</a>
		        			<a class="btn" href="/employee/factory">水厂信息</a>
		        			<a class="btn" href="/employee/company">公司信息</a>
		        			<a class="btn btn-main" href="/employee/department">部门信息</a>
		        		</tr>
		        	</table>
				</div>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var removeFlag = [[${@permission.hasPermi('employee:department:remove')}]]; 
		var prefix = ctx + "employee/department";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        removeUrl: prefix + "/remove",
		        sortName: "company_id",
		        modalName: "部门",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'department_id',
		            title: '部门代码',
		        },
		        {
		            field: 'department_name',
		            title: '部门名称',
		            sortable: true
		        },
		        {
		            field: 'company_id',
		            title: '公司/水厂代码',
		            sortable: true
		        },
		        {
		            field: 'parent_department_id',
		            title: '上级部门代码',
		            sortable: true
		        }/* ,
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                return actions.join('');
		            }
		        } */]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>