<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('部门列表')" />
<link th:href="@{/css/employee/employee.css}" rel="stylesheet" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="btn-group-sm" id="toolbar" role="group">
				<div>
					<form id="factory-form">
						<div class="select-list">
							<ul>
								<li>公司/水厂代码：<input type="search" name="company_id"
									placeholder="请输入" />
								</li>
								<li><a class="btn btn-primary btn-rounded btn-sm btn-main"
									onclick="$.table.search()">搜索</a>
									<a class="btn btn-main2 btn-sm"
									onclick="$.form.reset()">重置</a>
								</li>
							</ul>
						</div>
					</form>
				</div>
				<div class="select-list">
					<a class="btn btn-main2" onclick="$.operate.add()"
						shiro:hasPermission="employee:department:add"> <i
						class="fa-user-defined fa-add"></i> 新增
					</a> <a class="btn btn-main2" onclick="$.operate.removeAll()"
						shiro:hasPermission="employee:department:remove"> <i
						class="fa-user-defined fa-delete"></i> 删除
					</a>
					<a class="btn btn-main2" onclick="$.table.exportExcel()" shiro:hasPermission="employee:department:export">
		            	<i class="fa-user-defined fa-export"></i> 导出
		        	</a>
				</div>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var removeFlag = [[${@permission.hasPermi('employee:department:remove')}]]; 
		var prefix = ctx + "employee/department";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "company_id",
		        modalName: "部门",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'department_id',
		            title: '部门代码',
		        },
		        {
		            field: 'department_name',
		            title: '部门名称',
		            sortable: true
		        },
		        {
		            field: 'company_id',
		            title: '公司/水厂代码',
		            sortable: true
		        },
		        {
		            field: 'parent_department_id',
		            title: '上级部门代码',
		            sortable: true
		        }/* ,
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                return actions.join('');
		            }
		        } */]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>