<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <th:block th:include="include :: header('详细基本资料')"/>-->
<!--    <th:block th:include="include :: datetimepicker-css"/>-->


    <script th:src="@{/checkFonts/js/modernizr.custom.js}"></script>


    <link rel="stylesheet" th:href="@{/checkFonts/css/demo.css}">
    <link rel="stylesheet" th:href="@{/checkFonts/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/checkFonts/css/component.css}">
    <link rel="stylesheet" th:href="@{/checkFonts/css/fxsmall.css}">



</head>
<body style="background-color: white;width: 100%;height: 100%">
<div class="container" >

    <section style="margin-top: 12%">

        <div id="component" >

            <ul class="itemwrap">
                <li class="current">
                    <img th:src="${first}" />
                </li>
                <li th:if="${second!=null}">
                    <img th:src="${second}"/>
                </li>
                <li th:if="${third!=null}">
                    <img th:src="${third}"/>
                </li>
                <li th:if="${fourth!=null}">
                    <img th:src="${fourth}"/>
                </li>
            </ul>
            <nav>

                <a class="prev" href="#">Previous item</a>
                <a class="next" href="#">Next item</a>
            </nav>
        </div>
    </section>
</div><!-- /container -->


<script th:src="@{/checkFonts/js/classie.js}"></script>
<script th:src="@{/checkFonts/js/main.js}"></script>


</body>
</html>