<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.CsdtMapper">
 
	<resultMap type="Csdt" id="result">
		<id     property="id"    column="id"    />
		<result     property="dlocation"   column="dlocation"   />
		<result     property="areaid"   column="areaid"   />
		<result     property="areaname"   column="areaname"   />
		<result     property="dnumber"   column="dnumber"   />
		<result     property="dname"   column="dname"   />
		<result     property="dtype"   column="dtype"   />
		<result     property="dmodel"   column="dmodel"   />
		<result     property="dqty"   column="dqty"   />
		<result     property="dunit"   column="dunit"   />
		<result     property="producedate"   column="producedate"   />
		<result     property="supplierid"   column="supplierid"   />
		<result     property="manufacturer"   column="manufacturer"   />
		<result     property="purchasedate"   column="purchasedate"   />
		<result     property="usedeptid"   column="usedeptid"   />
		<result     property="usedept"   column="usedept"   />
		<result     property="servicelife"   column="servicelife"   />
		<result     property="dparameter"   column="dparameter"   />


        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectVo">
        select *
        from dev_csdt r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" areaid !=null">
				and areaid = #{areaid}
			</if>
			<if test=" areaname != null and areaname != ''">
				AND areaname  like concat(concat('%',#{areaname}),'%')
			</if>
			<if test=" dname != null and dname != ''">
				AND dname  like concat(concat('%',#{dname}),'%')
			</if>
			<if test=" dnumber !=null and dnumber != ''">
				and dnumber = #{dnumber}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="Csdt" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="Csdt" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
        <if test=" id != null and id != 0">
			AND id = #{id}
		</if>
		<if test=" areaid !=null">
				and areaid = #{areaid}
		</if>
		<if test=" areaname != null and areaname != ''">
			AND areaname  like concat(concat('%',#{areaname}),'%')
		</if>
		<if test=" dname != null and dname != ''">
				AND dname  like concat(concat('%',#{dname}),'%')
		</if>
		<if test=" dnumber !=null and dnumber != ''">
			and dnumber = #{dnumber}
		</if>
		<if test=" dtype !=null and dtype != ''">
			and dtype = #{dtype}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		
		order by r.id
    </select>
      <select id="selectByName" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where  1 = 1
		<if test=" dname != null and dname != ''">
				AND dname  like concat(concat('%',#{dname}),'%')
		</if>
	</select>
	
	<select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		delete from dev_csdt where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from dev_csdt where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="Csdt">
 		update dev_csdt
 		<set>
			<if test=" dlocation != null and dlocation != ''">dlocation = #{dlocation},</if>
			<if test=" areaid != null">areaid = #{areaid},</if>
			<if test=" areaname != null and areaname != ''">areaname = #{areaname},</if>
			<if test=" dnumber != null and dnumber != ''">dnumber = #{dnumber},</if>
			<if test=" dname != null and dname != ''">dname = #{dname},</if>
			<if test=" dtype != null and dtype != ''">dtype = #{dtype},</if>
			<if test=" dmodel != null and dmodel != ''">dmodel = #{dmodel},</if>
			<if test=" dqty != null ">dqty = #{dqty},</if>
			<if test=" dunit != null and dunit != ''">dunit = #{dunit},</if>
			<if test=" producedate != null and producedate != ''">producedate = #{producedate},</if>
			<if test=" supplierid != null ">supplierid = #{supplierid},</if>
			<if test=" manufacturer != null and manufacturer != ''">manufacturer = #{manufacturer},</if>
			<if test=" purchasedate != null and purchasedate != ''">purchasedate = #{purchasedate},</if>
			<if test=" usedeptid != null ">usedeptid = #{usedeptid},</if>
			<if test=" usedept != null and usedept != ''">usedept = #{usedept},</if>
			<if test=" servicelife != null and servicelife != ''">servicelife = #{servicelife},</if>
			<if test=" dparameter != null and dparameter != ''">dparameter = #{dparameter},</if>
			
			<if test=" remark != null and remark != ''">remark = #{remark},</if>
 			<if test=" updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="Csdt">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_dev_csdt.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO dev_csdt(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" dlocation != null and  dlocation != ''">dlocation,</if>
			<if test=" areaid != null ">areaid,</if>
			<if test=" areaname != null and  areaname != ''">areaname,</if>
			<if test=" dnumber != null and  dnumber != ''">dnumber,</if>
			<if test=" dname != null and  dname != ''">dname,</if>
			<if test=" dtype != null and  dtype != ''">dtype,</if>
			<if test=" dmodel != null and  dmodel != ''">dmodel,</if>
			<if test=" dqty != null ">dqty,</if>
			<if test=" dunit != null and  dunit != ''">dunit,</if>
			<if test=" producedate != null and  producedate != ''">producedate,</if>
			<if test=" supplierid != null ">supplierid,</if>
			<if test=" manufacturer != null and  manufacturer != ''">manufacturer,</if>
			<if test=" purchasedate != null and  purchasedate != ''">purchasedate,</if>
			<if test=" usedeptid != null ">usedeptid,</if>
			<if test=" usedept != null and  usedept != ''">usedept,</if>
			<if test=" servicelife != null and  servicelife != ''">servicelife,</if>
			<if test=" dparameter != null and  dparameter != ''">dparameter,</if>
			
			<if test=" remark != null and remark != ''">REMARK,</if>
			<if test=" createBy != null and createBy != ''">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" dlocation != null and dlocation != ''">#{dlocation},</if>
			<if test=" areaid != null ">#{areaid},</if>
			<if test=" areaname != null and areaname != ''">#{areaname},</if>
			<if test=" dnumber != null and dnumber != ''">#{dnumber},</if>
			<if test=" dname != null and dname != ''">#{dname},</if>
			<if test=" dtype != null and dtype != ''">#{dtype},</if>
			<if test=" dmodel != null and dmodel != ''">#{dmodel},</if>
			<if test=" dqty != null ">#{dqty},</if>
			<if test=" dunit != null and dunit != ''">#{dunit},</if>
			<if test=" producedate != null and producedate != ''">#{producedate},</if>
			<if test=" supplierid != null ">#{supplierid},</if>
			<if test=" manufacturer != null and manufacturer != ''">#{manufacturer},</if>
			<if test=" purchasedate != null and purchasedate != ''">#{purchasedate},</if>
			<if test=" usedeptid != null ">#{usedeptid},</if>
			<if test=" usedept != null and usedept != ''">#{usedept},</if>
			<if test=" servicelife != null and servicelife != ''">#{servicelife},</if>
			<if test=" dparameter != null and dparameter != ''">#{dparameter},</if>
			
			<if test=" remark != null and remark != ''">#{remark},</if>
			<if test=" createBy != null and createBy != ''">#{createBy},</if>
			<if test=" dept_id != null and dept_id != ''">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>