
*.class
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
target/
out/
build/
.settings/org.eclipse.core.resources.prefs
szps-operation/.classpath
szps-operation/.project
*.prefs
