<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('新增水厂')" />
	<link rel="stylesheet" th:href="@{/css/employee/operation.css}"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-factory-add">
			<div class="form-group">
				<label class="col-sm-3 control-label ">水厂代码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="factory_id" id="factory_id" maxlength="10" placeholder="请输入" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">厂名：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="name" id="name" maxlength="15" placeholder="请输入" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">地址：</label>
				<div class="col-sm-8">
			    	<input class="form-control" type="text" name="address" id="address" maxlength="25" placeholder="请输入" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">归属地区：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="attribution_area" id="attribution_area" maxlength="10" placeholder="请输入" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">厂长：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="factory_director" id="factory_director" maxlength="4" placeholder="请输入" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">副厂长：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deputy_director" id="deputy_director" maxlength="4" placeholder="请输入" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">日处理水量/吨：</label>
				<div class="col-sm-8">
					<input class="form-control" type="number" name="daily_water" id="daily_water" placeholder="请输入数字" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="telephone" id="telephone" placeholder="请输入" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">简介：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="introduction" id="introduction" maxlength="40" placeholder="请输入/无" required/>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		//提交新增公司信息
		function submitHandler() {
	        if ($.validate.form()) {
	        	add();
	        }
	    }
		
		//---------------------------主程序结束-----------------------------
	
		//检查表单中水厂代码是否重复
		$("#form-factory-add").validate({
			rules:{
				onkeyup: false,
				factory_id:{
					remote: {
		                url: ctx + "employee/factory/checkFactoryIdUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"factory_id" : function() {
		                		return $.common.trim($("#factory_id").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				}
			},
			messages: {
		        "factory_id": {
		            remote: "水厂代码重复"
		        }
		    },
		    focusCleanup: true
		});
	
		//ajax添加新水厂
		function add() {
			var factory_id = $("input[name='factory_id']").val();
			var name = $("input[name='name']").val();
			var address = $("input[name='address']").val();
			var attribution_area = $("input[name='attribution_area']").val();
			var factory_director = $("input[name='factory_director']").val();
			var deputy_director = $("input[name='deputy_director']").val();
			var daily_water = $("input[name='daily_water']").val();
			var telephone = $("input[name='telephone']").val();
			var introduction = $("input[name='introduction']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "employee/factory/add",
				data : {
					"factory_id": factory_id,
					"name": name,
					"address": address,
					"attribution_area": attribution_area,
					"factory_director": factory_director,
					"deputy_director":deputy_director,
					"daily_water":daily_water,
					"telephone":telephone,
					"introduction":introduction,
				},
				async : false,
				error : function(request) {
					$.modal.alertError("添加新水厂发生错误"); 
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		} 
	</script>
</body>
</html>
