<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('规则列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">

		<div class="col-sm-12 search-collapse">
			<form id="role-form">
				<div class="select-list">
					<ul>
						<li>
							规则编号：<input type="text" name="ruleNumber" maxlength="11"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">
			<div class="select-list">
				<a class="btn"  th:href="'/supervise/data/data'"  style="border-color: #1a7bb9">
					任务库管理
				</a>
				<a class="btn" th:href="'/supervise/data1/data1'"  style="margin-left: 30px;border-color: #1a7bb9">
					人员库管理
				</a>
				<a class="btn btn-success" th:href="'/supervise/data2/data2'" style="margin-left: 30px" >
					随机规则管理
				</a>
				<button class="btn btn-success " type="button" name="showSearch" title="高级筛选" style="margin-left: 30px;">高级筛选</button>
				<a class="btn btn-success" onclick="check()" shiro:hasPermission="supervise:task:add" >
					双规则检查
				</a>
			</div>
			<br/>
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="supervise:data2:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="supervise:data2:edit">
				<i class="fa fa-edit"></i> 修改
			</a>
			<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="supervise:data2:remove">
				<i class="fa fa-remove"></i> 删除
			</a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('supervise:data2:edit')}]];
    var removeFlag = [[${@permission.hasPermi('supervise:data2:remove')}]];
    var prefix = ctx + "supervise/data2";


    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/Ruleadd",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "ruleNumber",
            modalName: "规则",
            columns: [{
                checkbox: true
            },
                {
                    field: 'ruleNumber',
                    title: '规则编号',
                    sortable: true
                },
                {
                    field: 'ruleContent',
                    title: '规则内容'

                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.ruleNumber + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.ruleNumber + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function check() {
        $.modal.open("添加双随机检查任务" ,ctx + "supervise/task/TaskCheck");
    }






</script>
</body>
</html>