<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改检查人员')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-role-edit" th:object="${staff}">
			<input id="staffNumber" name="staffNumber" type="hidden" th:field="*{staffNumber}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法人员姓名：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffName" id="staffName" th:field="*{staffName}" maxlength="10" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法人员单位：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffDept" id="staffDept" th:field="*{staffDept}" maxlength="20" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法人员类型：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffPost" id="staffPost" th:field="*{staffPost}" maxlength="10" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法证件编号：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffCart" id="staffCart" th:field="*{staffCart}" maxlength="20" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法人员状态：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffW" id="staffW" th:field="*{staffW}" maxlength="5" required>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label">执法范围：</label>
				<div class="col-sm-8">
					<select class="form-control" name="staffArea" id="staffArea" >
						<option value="检查部门" th:selected="*{staffArea=='罗湖区'}">罗湖区</option>
						<option value="后勤部门" th:selected="*{staffArea=='南山区'}">南山区</option>
						<option value="外勤部门" th:selected="*{staffArea=='福田区'}">福田区</option>
						<option value="维修部门" th:selected="*{staffArea=='盐田区'}">盐田区</option>
					</select>
				</div>
			</div>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">

	
		$("#form-role-edit").validate({
			onkeyup: false,
			rules:{
				roleName:{
					remote: {
		                url: ctx + "system/role/checkRoleNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
							"roleId": function() {
							    return $("#roleId").val();
							},
							"roleName": function() {
							    return $.common.trim($("#roleName").val());
							}
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleKey:{
					remote: {
		                url: ctx + "system/role/checkRoleKeyUnique",
		                type: "post",
		                dataType: "json",
		                data: {
							"roleId": function() {
								return $("#roleId").val();
							},
							"roleKey": function() {
							    return $.common.trim($("#roleKey").val());
							}
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleSort:{
					digits:true
				},
			},
			messages: {
		        "roleName": {
		            remote: "角色名称已经存在"
		        },
		        "roleKey": {
		            remote: "角色权限已经存在"
		        }
		    },
		    focusCleanup: true
		});

		function edit() {
            var staffNumber = $("input[name='staffNumber']").val();
            var staffName = $("input[name='staffName']").val();
            var staffDept = $("input[name='staffDept']").val();
            var staffPost = $("input[id='staffPost']").val();
            var staffArea = $("select[id='staffArea']").val();
            var staffCart = $("input[name='staffCart']").val();
            var staffW = $("input[name='staffW']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "supervise/data1/edit",
				data : {
				    "staffNumber":staffNumber,
                    "staffName": staffName,
                    "staffArea": staffArea,
                    "staffDept": staffDept,
                    "staffCart": staffCart,
                    "staffPost": staffPost,
                    "staffW":staffW
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }
	</script>
</body>
</html>
