<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增检查人员')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-role-add">
			<div class="form-group">
				<label class="col-sm-2 control-label ">人员姓名：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="staffName" id="staffName" maxlength="10" required>
				</div>
				<label class="col-sm-2 control-label ">性别：</label>
				<div class="col-sm-4">
					<select class="form-control" name="staffGender" id="staffGender">
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">部门：</label>
				<div class="col-sm-4">
					<select class="form-control" name="staffDept" id="staffDept">
						<option value="检查部门">检查部门</option>
						<option value="后勤部门">后勤部门</option>
						<option value="外勤部门">外勤部门</option>
						<option value="维修部门">维修部门</option>
					</select>
				</div>
				<label class="col-sm-2 control-label ">职务：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="staffPost" id="staffPost" maxlength="11" required>
				</div>

			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">电话：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="staffTelephone" id="staffTelephone" maxlength="11" required>
				</div>
				<label class="col-sm-2 control-label">权值：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="staffW" id="staffW" maxlength="5" required>
				</div>

			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">出生年月：</label>
				<div class="col-sm-10">
					<input type="text" class="form-control time-input" id="startTime" placeholder="点击弹出日历" name="staffBirthday" required/>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">

		
		$("#form-role-add").validate({
			rules:{
				onkeyup: false,
				roleName:{
					remote: {
		                url: ctx + "system/role/checkRoleNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"roleName" : function() {
		                		return $.common.trim($("#roleName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleKey:{
					remote: {
		                url: ctx + "system/role/checkRoleKeyUnique",
		                type: "post",
		                dataType: "json",
		                data: {
                            "roleKey" : function() {
                                return $.common.trim($("#roleKey").val());
                            }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleSort:{
					digits:true
				},
			},
			messages: {
		        "roleName": {
		            remote: "角色名称已经存在"
		        },
		        "roleKey": {
		            remote: "角色权限已经存在"
		        }
		    },
		    focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	add();
	        }
	    }
	
		function add() {

			var staffName = $("input[name='staffName']").val();
			var staffGender = $("select[name='staffGender']").val();
			var staffTelephone = $("input[id='staffTelephone']").val();
            var staffDept = $("select[id='staffDept']").val();
            var staffBirthday = $("input[name='staffBirthday']").val();
			var staffPost = $("input[name='staffPost']").val();
            var staffW = $("input[name='staffW']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "supervise/data1/add",
				data : {
					"staffName": staffName,
					"staffGender": staffGender,
					"staffTelephone": staffTelephone,
					"staffDept": staffDept,
					"staffBirthday": staffBirthday,
					"staffPost": staffPost,
                    "staffW":staffW
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
	</script>
</body>
</html>
