<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增抽查对象')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-role-add">
			<input id="taskNumber" name="taskNumber" type="hidden" th:field="*{task.taskNumber}"/>
			<div class="form-group" style="display: flex; ">
				<label class="col-sm-2 control-label" style="line-height: 3">抽取事项：</label>
				<div class="col-sm-10" style="width: 500px">
					<select class="form-control" name="ruleName" id="ruleName" >

						<!--<option value="建设项目排水审批">建设项目排水审批</option>-->
						<!--<option value="城市排水许可">城市排水许可</option>-->
					</select>
				</div>
			</div>

			<div class="form-group" style="display: flex">
				<label class="col-sm-2 control-label" style="line-height: 3">替换对象：</label>
				<div class="col-sm-10" style="width: 500px">
					<input class="form-control" type="text" name="houseName" id="houseName" th:field="*{task.tbHouse.houseName}"    readonly>
				</div>
			</div>
			<div class="form-group" style="display: flex">
				<label class="col-sm-2 control-label " style="line-height: 3">补抽说明：</label>
				<div class="col-sm-10" style="width: 500px">
					<textarea class="form-control" type="text" name="taskBc" id="taskBc" maxlength="11" placeholder="请输入补抽说明" ></textarea>
				</div>
			</div>
			<button onclick="add()" id="iBtnOk" hidden="hidden"></button>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">


        function getRule() {
              var a='[[${task.ruleName}]]';
              var b='[[${task.tbHouse.houseName}]]';
            $.ajax({
                cache : true,
                type : "POST",
                url : ctx + "supervise/datas/getRule",
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {


                    var alls=new Array();
                    alls=data.data;
                    var str = '';

                    for(var o in alls) {
                        if(a==alls[o])
						{
                            str += '<option value="'+alls[o]+'" selected>'+alls[o]+'</option>';
						}
						else{
                            str += '<option value="'+alls[o]+'">'+alls[o]+'</option>';
						}


                    }

                    $("#ruleName").append(str);



                }
            });
        }
        $(function() {
            getRule();

        });
//		function submitHandler() {
//
//	    }

		function add() {


			var houseName = $("input[name='houseName']").val();
			var ruleName = $("select[name='ruleName']").val();
            var taskBc = $("textarea[name='taskBc']").val();
            var taskNumber = $("input[name='taskNumber']").val();

			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "supervise/datas/bchedit",
				data : {
					"taskNumber": taskNumber,
					"houseName": houseName,
					"ruleName": ruleName,
					"taskBc": taskBc


				},
				async : false,
				success : function(data) {
					if(data.data==0)
					{
                        parent.fatock2();
					}
					else {
                        parent.fatock1();
					}
				}
			});

		}
	</script>
</body>
</html>
