<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('申请设备')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
      <form id="form" class="form-horizontal" th:object="${obj}">
        <input name="id" type="hidden" id="id"  th:field="*{id}"/>
        <input name="deptId" type="hidden" id="treeId" th:field="*{deptId}"/>
		<div class="control-group" align="center">
			<label class="lbl" >设备定期保养记录表</label><br>
		</div>
		<div class="control-group">
		<!-- required -->
		<table  class="table table-striped table-bordered table-condensed">
		  <tr >
		    <td >设备使用部门：</td>
		    <td colspan="4"><input name="useDept"   onclick="selectDeptTree()"  th:field="*{useDept}" id="treeName"  class="form-control"/></td>
		    <td>填写日期：</td>
		    <td>
		    <input id="recordDate" name="recordDate" type="text"  th:field="*{recordDate}"  class="time-input form-control"/></td>
		  </tr>
		  <tr >
		    <td >设备名称：</td>
		    <td colspan="2"><input name="devName"   th:field="*{devName}"  class="form-control"/></td>
		    <td>设备编号：</td>
		    <td><input name="devNumber"   th:field="*{devNumber}"  class="form-control"/></td>
		    <td>设备型号：</td>
		    <td><input name="devModel"   th:field="*{devModel}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >设备规格：</td>
		    <td colspan="2"><input name="devSpec"   th:field="*{devSpec}"  class="form-control"/></td>
		    <td>保养类别：</td>
		    <td><input name="mType"   th:field="*{mType}"  class="form-control"/></td>
		    <td>保养周期(月)：</td>
		    <td><input name="mCycle"   th:field="*{mCycle}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >安装地点：</td>
		    <td colspan="2"><input name="installPlace"   th:field="*{installPlace}"  class="form-control"/></td>
		    <td>设备类别：</td>
		    <td>
		<select class="selectpicker form-control" name="devType"  id="devType" th:field="*{devType}" type="text" >
	 <option value="机械设备">机械设备</option>
	  <option value="电器电柜">电器电柜</option>
	  <option value="自控仪表">自控仪表</option>
	</select>		    
		    </td>
		    <td>上次保养时间：</td>
		    <td><input name="lastDate"   th:field="*{lastDate}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td  >保养内容</td>
		    <td colspan="6"><textarea name="content"  th:field="*{content}"  class="form-control"></textarea></td>
		  </tr>
		  <tr >
		  <td >备注：</td>
		    <td  colspan="6"><textarea name="maintainRemarks"  th:field="*{maintainRemarks}"  class="form-control"></textarea>
		  </tr>
		  <tr >
		    <td  colspan="2">　计划保养日期:</td>
		    <td>
		    <input id="planStartTime" name="planStartTime"  th:field="*{planStartTime}"  class="time-input form-control"/></td>
		    <td>至</td>
		    <td>
		    <input id="planEndTime" name="planEndTime" type="text"  th:field="*{planEndTime}"  class="time-input form-control"/></td>
		    <td>计划耗时(天):</td>
		    <td><input name="planUseTime"  th:field="*{planUseTime}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="2" >　实际保养时间：</td>
		    <td>
		    <input id="startTime" name="startTime" type="text"  th:field="*{startTime}"  class="time-input form-control"/></td>
		    <td>至</td>
		    <td>
		    <input id="endTime" name="endTime" type="text"  th:field="*{endTime}"  class="time-input form-control"/></td>
		    <td>实际耗时(天):</td>
		    <td><input name="useTime"   th:field="*{useTime}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="2" >保养耗材:</td>
		  </tr>
		  <tr >
		    <td  colspan="7"><textarea name="commodities"  th:field="*{commodities}"  class="form-control"></textarea></td>
		  </tr>
		  <tr >
		    <td colspan="2">维修班长确认:</td>
		    <td colspan="6"><input name="monitor"   th:field="*{monitor}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="2">保养后运行结果：</td>
		    <td colspan="6" ><textarea name="result"  th:field="*{result}"  class="form-control"></textarea></td>
		  </tr>
		  <tr >
		    <td colspan="2">保养人：</td>
		    <td colspan="6"><input name="maintainPerson"   th:field="*{maintainPerson}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >操作员确认：</td>
		    <td colspan="2"><input name="operator"   th:field="*{operator}"  class="form-control"/></td>
		    <td>生产主管确认：</td>
		    <td><input name="prodSupr"   th:field="*{prodSupr}"  class="form-control"/></td>
		    <td>设备主管确认：</td>
		    <td><input name="faciSuper"   th:field="*{faciSuper}"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >时间：</td>
		    <td colspan="2">
		    <input id="operatorConfirmTime" name="operatorConfirmTime"  th:field="*{operatorConfirmTime}"  class="time-input form-control"/></td>
		    </td>
		    <td>时间：</td>
		    <td>
		    <input id="prodSuperConfirmTime" name="prodSuperConfirmTime"  th:field="*{prodSuperConfirmTime}" class="time-input form-control"/></td></td>
		    <td>时间：</td>
		    <td>
		    <input id="faciSuperConfirmTime" name="faciSuperConfirmTime"  th:field="*{faciSuperConfirmTime}"  class="time-input form-control"/></td></td>
		  </tr>
		</table>
		</div>
		
	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script>
	    var prefix = ctx + "op/dev/maintainRecord";
	
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	/* var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
	        	var roleIds = $.form.selectCheckeds("role");
	        	var postIds = $.form.selectSelects("post");
	        	data.push({"name": "status", "value": status});
	        	data.push({"name": "roleIds", "value": roleIds});
	        	data.push({"name": "postIds", "value": postIds}); */
	        	$.operate.saveTab(prefix + "/edit", data);
	        }
	    }
         
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
		
		
		function selectDeptTree2() {
        	var treeId = $("#treeId2").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId2").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit2
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit2(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			var body = layer.getChildFrame('body', index);
   			$("#treeId2").val(body.find('#treeId2').val());
   			$("#treeName2").val(body.find('#treeName2').val());
   			layer.close(index);
		}

		$(function() {
            $('#post').select2({
                placeholder:"请选择岗位",
                allowClear: true
            });
        })
    </script>
</body>
</html>
