<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.report.DayReportWMapper">

	<resultMap type="DayReportW" id="result">
		<id     property="id"    column="id"    />
		<result     property="deptid"   column="deptid"   />
		<result     property="deptname"   column="deptname"   />
		<result     property="basin"   column="basin"   />
		<result     property="reportdate"   column="reportdate"   />
		<result     property="dscale"   column="dscale"   />
		<result     property="tcapacity"   column="tcapacity"   />
		<result     property="loadrate"   column="loadrate"   />
		<result     property="incod"   column="incod"   />
		<result     property="inan"   column="inan"   />
		<result     property="darea"   column="darea"   />
		<result     property="inp"   column="inp"   />
		<result     property="inss"   column="inss"   />
		<result     property="inbod"   column="inbod"   />
		<result     property="outcod"   column="outcod"   />
		<result     property="outan"   column="outan"   />
		<result     property="outp"   column="outp"   />
		<result     property="outdo"   column="outdo"   />
		<result     property="dlevel"   column="dlevel"   />
		<result     property="aleave"   column="aleave"   />
		<result     property="sludec"   column="sludec"   />
		<result     property="lanfilll"   column="lanfilll"   />
		<result     property="sol"   column="sol"   />
		<result     property="operation"   column="operation"   />
		<result     property="dtype"   column="dtype"   />

		<result     property="intn"   column="intn"   />
		<result     property="outbod"   column="outbod"   />
		<result     property="outtn"   column="outtn"   />
		<result     property="outss"   column="outss"   />

        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectVo">
        select *
        from REPORT_DAY_W r
    </sql>	
    
	<sql id="selectVo2">
        select deptname, basin, reportdate, tcapacity, darea, dscale
        from REPORT_DAY_W r
    </sql>	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" deptname != null and deptname != ''">
				AND deptname  like concat(concat('%',#{deptname}),'%')
			</if>
			<if test=" reportdate !=null and reportdate != ''">
				and reportdate = #{reportdate}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="DayReportW" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="DayReportW" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
        <if test=" id != null and id != 0">
			AND id = #{id}
		</if>
		<if test=" deptname != null and deptname != ''">
				AND deptname  like concat(concat('%',#{deptname}),'%')
			</if>
		<if test=" dtype !=null and dtype != ''">
			and dtype = #{dtype}
		</if>
		<if test=" reportdate !=null and reportdate != ''">
			and reportdate = #{reportdate}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		
		order by r.reportdate, r.basin, r.deptname, r.darea
    </select>

    
    <select id="selectListForYear" parameterType="String" resultMap="result">
        <include refid="selectVo2"/>
        where  dtype = #{dtype} and reportdate &gt; #{startTime1} and reportdate &lt; #{endTime1}
    </select>

    <select id="selectListBetween" parameterType="String" resultMap="result">
        <include refid="selectVo"/>
        where  dtype = #{dtype} and reportdate &gt; #{startTime1} and reportdate &lt; #{endTime1}
    </select>
	
	<select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		delete from REPORT_DAY_W where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from REPORT_DAY_W where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="DayReportW">
 		update REPORT_DAY_W
 		<set>
 		 	<if test=" deptid != null ">deptid = #{deptid},</if>
			<if test=" deptname != null">deptname = #{deptname},</if>
			<if test=" basin != null">basin = #{basin},</if>
			<if test=" reportdate != null">reportdate = #{reportdate},</if>
			<if test=" dscale != null">dscale = #{dscale},</if>
			<if test=" tcapacity != null">tcapacity = #{tcapacity},</if>
			<if test=" loadrate != null">loadrate = #{loadrate},</if>
			<if test=" incod != null">incod = #{incod},</if>
			<if test=" inan != null">inan = #{inan},</if>
			<if test=" darea != null">darea = #{darea},</if>
			<if test=" inp != null">inp = #{inp},</if>
			<if test=" inss != null">inss = #{inss},</if>
			<if test=" inbod != null">inbod = #{inbod},</if>
			<if test=" outcod != null">outcod = #{outcod},</if>
			<if test=" outan != null">outan = #{outan},</if>
			<if test=" outp != null">outp = #{outp},</if>
			<if test=" outdo != null">outdo = #{outdo},</if>
			<if test=" dlevel != null">dlevel = #{dlevel},</if>
			<if test=" aleave != null">aleave = #{aleave},</if>
			<if test=" sludec != null">sludec = #{sludec},</if>
			<if test=" lanfilll != null">lanfilll = #{lanfilll},</if>
			<if test=" sol != null">sol = #{sol},</if>
			<if test=" operation != null">operation = #{operation},</if>
			<if test=" dtype != null">dtype = #{dtype},</if>
			
			<if test=" intn != null">intn = #{intn},</if>
			<if test=" outbod != null">outbod = #{outbod},</if>
			<if test=" outtn != null">outtn = #{outtn},</if>
			<if test=" outss != null">outss = #{outss},</if>
			
			<if test=" remark != null">remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="DayReportW">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_REPORT_DAY_W.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO REPORT_DAY_W(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" deptid != null ">deptid,</if>
			<if test=" deptname != null">deptname,</if>
			<if test=" basin != null">basin,</if>
			<if test=" reportdate != null">reportdate,</if>
			<if test=" dscale != null">dscale,</if>
			<if test=" tcapacity != null">tcapacity,</if>
			<if test=" loadrate != null">loadrate,</if>
			<if test=" incod != null">incod,</if>
			<if test=" inan != null">inan,</if>
			<if test=" darea != null">darea,</if>
			<if test=" inp != null">inp,</if>
			<if test=" inss != null">inss,</if>
			<if test=" inbod != null">inbod,</if>
			<if test=" outcod != null">outcod,</if>
			<if test=" outan != null">outan,</if>
			<if test=" outp != null">outp,</if>
			<if test=" outdo != null">outdo,</if>
			<if test=" dlevel != null">dlevel,</if>
			<if test=" aleave != null">aleave,</if>
			<if test=" sludec != null">sludec,</if>
			<if test=" lanfilll != null">lanfilll,</if>
			<if test=" sol != null">sol,</if>
			<if test=" operation != null">operation,</if>
			<if test=" dtype != null">dtype,</if>
			
			<if test=" intn != null">intn,</if>
			<if test=" outbod != null">outbod,</if>
			<if test=" outtn != null">outtn,</if>
			<if test=" outss != null">outss,</if>
			
			<if test=" remark != null">REMARK,</if>
			<if test=" createBy != null">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" deptid != null ">#{deptid},</if>
			<if test=" deptname != null">#{deptname},</if>
			<if test=" basin != null">#{basin},</if>
			<if test=" reportdate != null">#{reportdate},</if>
			<if test=" dscale != null">#{dscale},</if>
			<if test=" tcapacity != null">#{tcapacity},</if>
			<if test=" loadrate != null">#{loadrate},</if>
			<if test=" incod != null">#{incod},</if>
			<if test=" inan != null">#{inan},</if>
			<if test=" darea != null">#{darea},</if>
			<if test=" inp != null">#{inp},</if>
			<if test=" inss != null">#{inss},</if>
			<if test=" inbod != null">#{inbod},</if>
			<if test=" outcod != null">#{outcod},</if>
			<if test=" outan != null">#{outan},</if>
			<if test=" outp != null">#{outp},</if>
			<if test=" outdo != null">#{outdo},</if>
			<if test=" dlevel != null">#{dlevel},</if>
			<if test=" aleave != null">#{aleave},</if>
			<if test=" sludec != null">#{sludec},</if>
			<if test=" lanfilll != null">#{lanfilll},</if>
			<if test=" sol != null">#{sol},</if>
			<if test=" operation != null">#{operation},</if>
			<if test=" dtype != null">#{dtype},</if>
			<if test=" intn != null">#{intn},</if>
			<if test=" outbod != null">#{outbod},</if>
			<if test=" outtn != null">#{outtn},</if>
			<if test=" outss != null">#{outss},</if>
			<if test=" remark != null">#{remark},</if>
			<if test=" createBy != null">#{createBy},</if>
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>