<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.report.PsProgressMapper">

	<resultMap type="PsProgress" id="result">
    	<id     property="id"    column="id"    />
    	<result     property="areaid"   column="areaid"   />
		<result     property="areaname"   column="areaname"   />
		<result     property="deadline"   column="deadline"   />
		<result     property="recruitmentmethod"   column="recruitmentmethod"   />
		<result     property="signingdate"   column="signingdate"   />
		<result     property="planfinishdate"   column="planfinishdate"   />
		<result     property="rq_completed_num"   column="rq_completed_num"   />
		<result     property="rq_entrust"   column="rq_entrust"   />
		<result     property="rq_actual"   column="rq_actual"   />
		<result     property="rq_reception_rate"   column="rq_reception_rate"   />
		<result     property="rq_network_length"   column="rq_network_length"   />
		<result     property="rq_detection_length"   column="rq_detection_length"   />
		<result     property="rq_mapping_length"   column="rq_mapping_length"   />
		<result     property="rq_dredging_capacity"   column="rq_dredging_capacity"   />
		<result     property="rq_renovation"   column="rq_renovation"   />
		<result     property="iq_completed_num"   column="iq_completed_num"   />
		<result     property="iq_entrust"   column="iq_entrust"   />
		<result     property="iq_actual"   column="iq_actual"   />
		<result     property="iq_reception_rate"   column="iq_reception_rate"   />
		<result     property="iq_network_length"   column="iq_network_length"   />
		<result     property="iq_detection_length"   column="iq_detection_length"   />
		<result     property="iq_mapping_length"   column="iq_mapping_length"   />
		<result     property="iq_dredging_capacity"   column="iq_dredging_capacity"   />
		<result     property="iq_renovation"   column="iq_renovation"   />
		<result     property="eq_completed_num"   column="eq_completed_num"   />
		<result     property="eq_entrust"   column="eq_entrust"   />
		<result     property="eq_actual"   column="eq_actual"   />
		<result     property="eq_reception_rate"   column="eq_reception_rate"   />
		<result     property="eq_network_length"   column="eq_network_length"   />
		<result     property="eq_detection_length"   column="eq_detection_length"   />
		<result     property="eq_mapping_length"   column="eq_mapping_length"   />
		<result     property="eq_dredging_capacity"   column="eq_dredging_capacity"   />
		<result     property="eq_renovation"   column="eq_renovation"   />
		<result     property="erq_completed_num"   column="erq_completed_num"   />
		<result     property="erq_entrust"   column="erq_entrust"   />
		<result     property="erq_actual"   column="erq_actual"   />
		<result     property="erq_reception_rate"   column="erq_reception_rate"   />
		<result     property="erq_network_length"   column="erq_network_length"   />
		<result     property="erq_detection_length"   column="erq_detection_length"   />
		<result     property="erq_mapping_length"   column="erq_mapping_length"   />
		<result     property="erq_dredging_capacity"   column="erq_dredging_capacity"   />
		<result     property="erq_renovation"   column="erq_renovation"   />
		<result     property="pq_completed_num"   column="pq_completed_num"   />
		<result     property="pq_entrust"   column="pq_entrust"   />
		<result     property="pq_actual"   column="pq_actual"   />
		<result     property="pq_reception_rate"   column="pq_reception_rate"   />
		<result     property="pq_network_length"   column="pq_network_length"   />
		<result     property="pq_detection_length"   column="pq_detection_length"   />
		<result     property="pq_mapping_length"   column="pq_mapping_length"   />
		<result     property="pq_dredging_capacity"   column="pq_dredging_capacity"   />
		<result     property="pq_renovation"   column="pq_renovation"   />
		<result     property="vq_completed_num"   column="vq_completed_num"   />
		<result     property="vq_entrust"   column="vq_entrust"   />
		<result     property="vq_actual"   column="vq_actual"   />
		<result     property="vq_reception_rate"   column="vq_reception_rate"   />
		<result     property="vq_network_length"   column="vq_network_length"   />
		<result     property="vq_detection_length"   column="vq_detection_length"   />
		<result     property="vq_mapping_length"   column="vq_mapping_length"   />
		<result     property="vq_dredging_capacity"   column="vq_dredging_capacity"   />
		<result     property="vq_renovation"   column="vq_renovation"   />
		<result     property="tq_completed_num"   column="tq_completed_num"   />
		<result     property="tq_entrust"   column="tq_entrust"   />
		<result     property="tq_actual"   column="tq_actual"   />
		<result     property="tq_reception_rate"   column="tq_reception_rate"   />
		<result     property="tq_network_length"   column="tq_network_length"   />
		<result     property="tq_detection_length"   column="tq_detection_length"   />
		<result     property="tq_mapping_length"   column="tq_mapping_length"   />
		<result     property="tq_dredging_capacity"   column="tq_dredging_capacity"   />
		<result     property="tq_renovation"   column="tq_renovation"   />

        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result property="delFlag"    column="delFlag"    />
		<result     property="dept_id"   column="dept_id"   />

    </resultMap>

	<sql id="selectVo">
        select *
        from REPORT_PS_PROGRESS r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" areaname != null and areaname != ''">
				AND areaname  like concat(concat('%',#{areaname}),'%')
			</if>
			<if test=" recruitmentmethod != null and recruitmentmethod != ''">
				AND recruitmentmethod  like concat(concat('%',#{recruitmentmethod}),'%')
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="PsProgress" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="PsProgress" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
        <if test=" id != null and id != 0">
			AND id = #{id}
		</if>
			<if test=" areaname != null and areaname != ''">
				AND areaname  like concat(concat('%',#{areaname}),'%')
			</if>
			<if test=" recruitmentmethod != null and recruitmentmethod != ''">
				AND recruitmentmethod  like concat(concat('%',#{recruitmentmethod}),'%')
			</if>

		<!-- 数据范围过滤 -->
		${params.dataScope}	
		
		order by r.id
    </select>
      <select id="selectByName" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where  1 = 1
		<!-- <if test=" dname != null and dname != ''">
				AND dname  like concat(concat('%',#{dname}),'%')
		</if> -->
	</select>
	
	<select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		delete from REPORT_PS_PROGRESS where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from REPORT_PS_PROGRESS where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="PsProgress">
 		update REPORT_PS_PROGRESS
 		<set>
			<if test=" areaid != null">areaid = #{areaid},</if>
			<if test=" areaname != null">areaname = #{areaname},</if>
			<if test=" deadline != null">deadline = #{deadline},</if>
			<if test=" recruitmentmethod != null">recruitmentmethod = #{recruitmentmethod},</if>
			<if test=" signingdate != null">signingdate = #{signingdate},</if>
			<if test=" planfinishdate != null">planfinishdate = #{planfinishdate},</if>
			<if test=" rq_completed_num != null">rq_completed_num = #{rq_completed_num},</if>
			<if test=" rq_entrust != null">rq_entrust = #{rq_entrust},</if>
			<if test=" rq_actual != null">rq_actual = #{rq_actual},</if>
			<if test=" rq_reception_rate != null">rq_reception_rate = #{rq_reception_rate},</if>
			<if test=" rq_network_length != null">rq_network_length = #{rq_network_length},</if>
			<if test=" rq_detection_length != null">rq_detection_length = #{rq_detection_length},</if>
			<if test=" rq_mapping_length != null">rq_mapping_length = #{rq_mapping_length},</if>
			<if test=" rq_dredging_capacity != null">rq_dredging_capacity = #{rq_dredging_capacity},</if>
			<if test=" rq_renovation != null">rq_renovation = #{rq_renovation},</if>
			<if test=" iq_completed_num != null">iq_completed_num = #{iq_completed_num},</if>
			<if test=" iq_entrust != null">iq_entrust = #{iq_entrust},</if>
			<if test=" iq_actual != null">iq_actual = #{iq_actual},</if>
			<if test=" iq_reception_rate != null">iq_reception_rate = #{iq_reception_rate},</if>
			<if test=" iq_network_length != null">iq_network_length = #{iq_network_length},</if>
			<if test=" iq_detection_length != null">iq_detection_length = #{iq_detection_length},</if>
			<if test=" iq_mapping_length != null">iq_mapping_length = #{iq_mapping_length},</if>
			<if test=" iq_dredging_capacity != null">iq_dredging_capacity = #{iq_dredging_capacity},</if>
			<if test=" iq_renovation != null">iq_renovation = #{iq_renovation},</if>
			<if test=" eq_completed_num != null">eq_completed_num = #{eq_completed_num},</if>
			<if test=" eq_entrust != null">eq_entrust = #{eq_entrust},</if>
			<if test=" eq_actual != null">eq_actual = #{eq_actual},</if>
			<if test=" eq_reception_rate != null">eq_reception_rate = #{eq_reception_rate},</if>
			<if test=" eq_network_length != null">eq_network_length = #{eq_network_length},</if>
			<if test=" eq_detection_length != null">eq_detection_length = #{eq_detection_length},</if>
			<if test=" eq_mapping_length != null">eq_mapping_length = #{eq_mapping_length},</if>
			<if test=" eq_dredging_capacity != null">eq_dredging_capacity = #{eq_dredging_capacity},</if>
			<if test=" eq_renovation != null">eq_renovation = #{eq_renovation},</if>
			<if test=" erq_completed_num != null">erq_completed_num = #{erq_completed_num},</if>
			<if test=" erq_entrust != null">erq_entrust = #{erq_entrust},</if>
			<if test=" erq_actual != null">erq_actual = #{erq_actual},</if>
			<if test=" erq_reception_rate != null">erq_reception_rate = #{erq_reception_rate},</if>
			<if test=" erq_network_length != null">erq_network_length = #{erq_network_length},</if>
			<if test=" erq_detection_length != null">erq_detection_length = #{erq_detection_length},</if>
			<if test=" erq_mapping_length != null">erq_mapping_length = #{erq_mapping_length},</if>
			<if test=" erq_dredging_capacity != null">erq_dredging_capacity = #{erq_dredging_capacity},</if>
			<if test=" erq_renovation != null">erq_renovation = #{erq_renovation},</if>
			<if test=" pq_completed_num != null">pq_completed_num = #{pq_completed_num},</if>
			<if test=" pq_entrust != null">pq_entrust = #{pq_entrust},</if>
			<if test=" pq_actual != null">pq_actual = #{pq_actual},</if>
			<if test=" pq_reception_rate != null">pq_reception_rate = #{pq_reception_rate},</if>
			<if test=" pq_network_length != null">pq_network_length = #{pq_network_length},</if>
			<if test=" pq_detection_length != null">pq_detection_length = #{pq_detection_length},</if>
			<if test=" pq_mapping_length != null">pq_mapping_length = #{pq_mapping_length},</if>
			<if test=" pq_dredging_capacity != null">pq_dredging_capacity = #{pq_dredging_capacity},</if>
			<if test=" pq_renovation != null">pq_renovation = #{pq_renovation},</if>
			<if test=" vq_completed_num != null">vq_completed_num = #{vq_completed_num},</if>
			<if test=" vq_entrust != null">vq_entrust = #{vq_entrust},</if>
			<if test=" vq_actual != null">vq_actual = #{vq_actual},</if>
			<if test=" vq_reception_rate != null">vq_reception_rate = #{vq_reception_rate},</if>
			<if test=" vq_network_length != null">vq_network_length = #{vq_network_length},</if>
			<if test=" vq_detection_length != null">vq_detection_length = #{vq_detection_length},</if>
			<if test=" vq_mapping_length != null">vq_mapping_length = #{vq_mapping_length},</if>
			<if test=" vq_dredging_capacity != null">vq_dredging_capacity = #{vq_dredging_capacity},</if>
			<if test=" vq_renovation != null">vq_renovation = #{vq_renovation},</if>
			<if test=" tq_completed_num != null">tq_completed_num = #{tq_completed_num},</if>
			<if test=" tq_entrust != null">tq_entrust = #{tq_entrust},</if>
			<if test=" tq_actual != null">tq_actual = #{tq_actual},</if>
			<if test=" tq_reception_rate != null">tq_reception_rate = #{tq_reception_rate},</if>
			<if test=" tq_network_length != null">tq_network_length = #{tq_network_length},</if>
			<if test=" tq_detection_length != null">tq_detection_length = #{tq_detection_length},</if>
			<if test=" tq_mapping_length != null">tq_mapping_length = #{tq_mapping_length},</if>
			<if test=" tq_dredging_capacity != null">tq_dredging_capacity = #{tq_dredging_capacity},</if>
			<if test=" tq_renovation != null">tq_renovation = #{tq_renovation},</if>
			
			<if test=" remark != null">remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="PsProgress">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_REPORT_PS_PROGRESS.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO REPORT_PS_PROGRESS(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" areaid != null ">areaid,</if>
			<if test=" areaname != null">areaname,</if>
			<if test=" deadline != null">deadline,</if>
			<if test=" recruitmentmethod != null">recruitmentmethod,</if>
			<if test=" signingdate != null">signingdate,</if>
			<if test=" planfinishdate != null">planfinishdate,</if>
			<if test=" rq_completed_num != null ">rq_completed_num,</if>
			<if test=" rq_entrust != null ">rq_entrust,</if>
			<if test=" rq_actual != null ">rq_actual,</if>
			<if test=" rq_reception_rate != null ">rq_reception_rate,</if>
			<if test=" rq_network_length != null ">rq_network_length,</if>
			<if test=" rq_detection_length != null ">rq_detection_length,</if>
			<if test=" rq_mapping_length != null ">rq_mapping_length,</if>
			<if test=" rq_dredging_capacity != null ">rq_dredging_capacity,</if>
			<if test=" rq_renovation != null ">rq_renovation,</if>
			<if test=" iq_completed_num != null ">iq_completed_num,</if>
			<if test=" iq_entrust != null ">iq_entrust,</if>
			<if test=" iq_actual != null ">iq_actual,</if>
			<if test=" iq_reception_rate != null ">iq_reception_rate,</if>
			<if test=" iq_network_length != null ">iq_network_length,</if>
			<if test=" iq_detection_length != null ">iq_detection_length,</if>
			<if test=" iq_mapping_length != null ">iq_mapping_length,</if>
			<if test=" iq_dredging_capacity != null ">iq_dredging_capacity,</if>
			<if test=" iq_renovation != null ">iq_renovation,</if>
			<if test=" eq_completed_num != null ">eq_completed_num,</if>
			<if test=" eq_entrust != null ">eq_entrust,</if>
			<if test=" eq_actual != null ">eq_actual,</if>
			<if test=" eq_reception_rate != null ">eq_reception_rate,</if>
			<if test=" eq_network_length != null ">eq_network_length,</if>
			<if test=" eq_detection_length != null ">eq_detection_length,</if>
			<if test=" eq_mapping_length != null ">eq_mapping_length,</if>
			<if test=" eq_dredging_capacity != null ">eq_dredging_capacity,</if>
			<if test=" eq_renovation != null ">eq_renovation,</if>
			<if test=" erq_completed_num != null ">erq_completed_num,</if>
			<if test=" erq_entrust != null ">erq_entrust,</if>
			<if test=" erq_actual != null ">erq_actual,</if>
			<if test=" erq_reception_rate != null ">erq_reception_rate,</if>
			<if test=" erq_network_length != null ">erq_network_length,</if>
			<if test=" erq_detection_length != null ">erq_detection_length,</if>
			<if test=" erq_mapping_length != null ">erq_mapping_length,</if>
			<if test=" erq_dredging_capacity != null ">erq_dredging_capacity,</if>
			<if test=" erq_renovation != null ">erq_renovation,</if>
			<if test=" pq_completed_num != null ">pq_completed_num,</if>
			<if test=" pq_entrust != null ">pq_entrust,</if>
			<if test=" pq_actual != null ">pq_actual,</if>
			<if test=" pq_reception_rate != null ">pq_reception_rate,</if>
			<if test=" pq_network_length != null ">pq_network_length,</if>
			<if test=" pq_detection_length != null ">pq_detection_length,</if>
			<if test=" pq_mapping_length != null ">pq_mapping_length,</if>
			<if test=" pq_dredging_capacity != null ">pq_dredging_capacity,</if>
			<if test=" pq_renovation != null ">pq_renovation,</if>
			<if test=" vq_completed_num != null ">vq_completed_num,</if>
			<if test=" vq_entrust != null ">vq_entrust,</if>
			<if test=" vq_actual != null ">vq_actual,</if>
			<if test=" vq_reception_rate != null ">vq_reception_rate,</if>
			<if test=" vq_network_length != null ">vq_network_length,</if>
			<if test=" vq_detection_length != null ">vq_detection_length,</if>
			<if test=" vq_mapping_length != null ">vq_mapping_length,</if>
			<if test=" vq_dredging_capacity != null ">vq_dredging_capacity,</if>
			<if test=" vq_renovation != null ">vq_renovation,</if>
			<if test=" tq_completed_num != null ">tq_completed_num,</if>
			<if test=" tq_entrust != null ">tq_entrust,</if>
			<if test=" tq_actual != null ">tq_actual,</if>
			<if test=" tq_reception_rate != null ">tq_reception_rate,</if>
			<if test=" tq_network_length != null ">tq_network_length,</if>
			<if test=" tq_detection_length != null ">tq_detection_length,</if>
			<if test=" tq_mapping_length != null ">tq_mapping_length,</if>
			<if test=" tq_dredging_capacity != null ">tq_dredging_capacity,</if>
			<if test=" tq_renovation != null ">tq_renovation,</if>

			
			<if test=" remark != null">REMARK,</if>
			<if test=" createBy != null">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" areaid != null ">#{areaid},</if>
			<if test=" areaname != null">#{areaname},</if>
			<if test=" deadline != null">#{deadline},</if>
			<if test=" recruitmentmethod != null">#{recruitmentmethod},</if>
			<if test=" signingdate != null">#{signingdate},</if>
			<if test=" planfinishdate != null">#{planfinishdate},</if>
			<if test=" rq_completed_num != null  ">#{rq_completed_num},</if>
			<if test=" rq_entrust != null  ">#{rq_entrust},</if>
			<if test=" rq_actual != null  ">#{rq_actual},</if>
			<if test=" rq_reception_rate != null  ">#{rq_reception_rate},</if>
			<if test=" rq_network_length != null  ">#{rq_network_length},</if>
			<if test=" rq_detection_length != null  ">#{rq_detection_length},</if>
			<if test=" rq_mapping_length != null  ">#{rq_mapping_length},</if>
			<if test=" rq_dredging_capacity != null  ">#{rq_dredging_capacity},</if>
			<if test=" rq_renovation != null  ">#{rq_renovation},</if>
			<if test=" iq_completed_num != null  ">#{iq_completed_num},</if>
			<if test=" iq_entrust != null  ">#{iq_entrust},</if>
			<if test=" iq_actual != null  ">#{iq_actual},</if>
			<if test=" iq_reception_rate != null  ">#{iq_reception_rate},</if>
			<if test=" iq_network_length != null  ">#{iq_network_length},</if>
			<if test=" iq_detection_length != null  ">#{iq_detection_length},</if>
			<if test=" iq_mapping_length != null  ">#{iq_mapping_length},</if>
			<if test=" iq_dredging_capacity != null  ">#{iq_dredging_capacity},</if>
			<if test=" iq_renovation != null  ">#{iq_renovation},</if>
			<if test=" eq_completed_num != null  ">#{eq_completed_num},</if>
			<if test=" eq_entrust != null  ">#{eq_entrust},</if>
			<if test=" eq_actual != null  ">#{eq_actual},</if>
			<if test=" eq_reception_rate != null  ">#{eq_reception_rate},</if>
			<if test=" eq_network_length != null  ">#{eq_network_length},</if>
			<if test=" eq_detection_length != null  ">#{eq_detection_length},</if>
			<if test=" eq_mapping_length != null  ">#{eq_mapping_length},</if>
			<if test=" eq_dredging_capacity != null  ">#{eq_dredging_capacity},</if>
			<if test=" eq_renovation != null  ">#{eq_renovation},</if>
			<if test=" erq_completed_num != null  ">#{erq_completed_num},</if>
			<if test=" erq_entrust != null  ">#{erq_entrust},</if>
			<if test=" erq_actual != null  ">#{erq_actual},</if>
			<if test=" erq_reception_rate != null  ">#{erq_reception_rate},</if>
			<if test=" erq_network_length != null  ">#{erq_network_length},</if>
			<if test=" erq_detection_length != null  ">#{erq_detection_length},</if>
			<if test=" erq_mapping_length != null  ">#{erq_mapping_length},</if>
			<if test=" erq_dredging_capacity != null  ">#{erq_dredging_capacity},</if>
			<if test=" erq_renovation != null  ">#{erq_renovation},</if>
			<if test=" pq_completed_num != null  ">#{pq_completed_num},</if>
			<if test=" pq_entrust != null  ">#{pq_entrust},</if>
			<if test=" pq_actual != null  ">#{pq_actual},</if>
			<if test=" pq_reception_rate != null  ">#{pq_reception_rate},</if>
			<if test=" pq_network_length != null  ">#{pq_network_length},</if>
			<if test=" pq_detection_length != null  ">#{pq_detection_length},</if>
			<if test=" pq_mapping_length != null  ">#{pq_mapping_length},</if>
			<if test=" pq_dredging_capacity != null  ">#{pq_dredging_capacity},</if>
			<if test=" pq_renovation != null  ">#{pq_renovation},</if>
			<if test=" vq_completed_num != null  ">#{vq_completed_num},</if>
			<if test=" vq_entrust != null  ">#{vq_entrust},</if>
			<if test=" vq_actual != null  ">#{vq_actual},</if>
			<if test=" vq_reception_rate != null  ">#{vq_reception_rate},</if>
			<if test=" vq_network_length != null  ">#{vq_network_length},</if>
			<if test=" vq_detection_length != null  ">#{vq_detection_length},</if>
			<if test=" vq_mapping_length != null  ">#{vq_mapping_length},</if>
			<if test=" vq_dredging_capacity != null  ">#{vq_dredging_capacity},</if>
			<if test=" vq_renovation != null  ">#{vq_renovation},</if>
			<if test=" tq_completed_num != null  ">#{tq_completed_num},</if>
			<if test=" tq_entrust != null  ">#{tq_entrust},</if>
			<if test=" tq_actual != null  ">#{tq_actual},</if>
			<if test=" tq_reception_rate != null  ">#{tq_reception_rate},</if>
			<if test=" tq_network_length != null  ">#{tq_network_length},</if>
			<if test=" tq_detection_length != null  ">#{tq_detection_length},</if>
			<if test=" tq_mapping_length != null  ">#{tq_mapping_length},</if>
			<if test=" tq_dredging_capacity != null  ">#{tq_dredging_capacity},</if>
			<if test=" tq_renovation != null  ">#{tq_renovation},</if>

			
			<if test=" remark != null">#{remark},</if>
			<if test=" createBy != null">#{createBy},</if>
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>