<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.report.PumpDetailMapper">
 
	<resultMap type="pumpDetail" id="ReportResult">
		<id     property="id"    column="id"    />
		<result     property="pumpid"   column="pumpid"   />
		<result     property="dtype"   column="dtype"   />
		<result     property="dnumber"   column="dnumber"   />
		<result     property="assetname"   column="assetname"   />
		<result     property="supplyer"   column="supplyer"   />
		<result     property="dspec"   column="dspec"   />
		<result     property="dunit"   column="dunit"   />
		<result     property="areaorquantity"   column="areaorquantity"   />


        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectReportVo">
        select *
        from report_pumpdetail r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" pumpid !=null">
				and pumpid = #{pumpid}
			</if>
			
		</where>
	</sql>
	

    
    <select id="selectReport" parameterType="PumpDetail" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectListByPumpId" parameterType="Long" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where  1 = 1
        	<if test=" pumpid !=null">
				and pumpid = #{pumpid}
			</if>
			
		
		order by r.id
    </select>
<!--       <select id="selectByPumpId" parameterType="Long" resultMap="ReportResult">
		<include refid="selectReportVo"/>
		where r.pumpid = #{pumpid}
	</select> -->
	
    <delete id="deleteByPumpId" parameterType="Long">
		delete from report_pumpdetail where pumpid = #{pumpid}
	</delete>
	<delete id="deleteByPumpIds" parameterType="Long">
 		delete from report_pumpdetail where pumpid in
 		<foreach collection="array" item="pumpid" open="(" separator="," close=")">
 			#{pumpid}
        </foreach> 
 	</delete>
    
    <update id="updateReport" parameterType="PumpDetail">
 		update report_pumpdetail
 		<set>
			<if test=" dtype != null">dtype = #{dtype},</if>
			<if test=" dnumber != null ">dnumber = #{dnumber},</if>
			<if test=" assetname != null">assetname = #{assetname},</if>
			<if test=" supplyer != null">supplyer = #{supplyer},</if>
			<if test=" dspec != null">dspec = #{dspec},</if>
			<if test=" dunit != null">dunit = #{dunit},</if>
			<if test=" areaorquantity != null">areaorquantity = #{areaorquantity},</if>
			<if test="  remark != null">remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insertReport" parameterType="PumpDetail">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_report_pumpdetail.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO report_pumpdetail(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" pumpid != null ">pumpid,</if>
			<if test=" dtype != null">dtype,</if>
			<if test=" dnumber != null ">dnumber,</if>
			<if test=" assetname != null">assetname,</if>
			<if test=" supplyer != null">supplyer,</if>
			<if test=" dspec != null">dspec,</if>
			<if test=" dunit != null">dunit,</if>
			<if test=" areaorquantity != null">areaorquantity,</if>


			<if test=" remark != null">REMARK,</if>
			<if test=" createBy != null">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" pumpid != null ">#{pumpid},</if>
			<if test=" dtype != null">#{dtype},</if>
			<if test=" dnumber != null ">#{dnumber},</if>
			<if test=" assetname != null">#{assetname},</if>
			<if test=" supplyer != null">#{supplyer},</if>
			<if test=" dspec != null">#{dspec},</if>
			<if test=" dunit != null">#{dunit},</if>
			<if test=" areaorquantity != null">#{areaorquantity},</if>

			<if test=" remark != null">#{remark},</if>
			<if test=" createBy != null">#{createBy},</if>
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>