<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.report.PumpMapper">
 
	<resultMap type="pump" id="ReportResult">
		<id     property="id"    column="id"    />
		<result     property="deptid"   column="deptid"   />
		<result     property="deptname"   column="deptname"   />
		<result     property="pumpname"   column="pumpname"   />
		<result     property="recorddate"   column="recorddate"   />


        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectReportVo">
        select *
        from report_pump r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" deptname !=null and deptname != ''">
				AND deptname  like concat(concat('%',#{deptname}),'%')
			</if>
			<if test=" pumpname !=null and pumpname != ''">
				AND pumpname  like concat(concat('%',#{pumpname}),'%')
			</if>
			<if test=" recorddate !=null and recorddate != ''">
				AND recorddate  like concat(concat('%',#{recorddate}),'%')
			</if>
		</where>
	</sql>
	

    
    <select id="selectReport" parameterType="Pump" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectReportList" parameterType="Pump" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where  1 = 1
        	<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" deptname !=null and deptname != ''">
				AND deptname  like concat(concat('%',#{deptname}),'%')
			</if>
			<if test=" pumpname !=null and pumpname != ''">
				AND pumpname  like concat(concat('%',#{pumpname}),'%')
			</if>
			<if test=" recorddate !=null and recorddate != ''">
				AND recorddate  like concat(concat('%',#{recorddate}),'%')
			</if>
		
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		order by r.id
    </select>
      <select id="selectReportById" parameterType="Long" resultMap="ReportResult">
		<include refid="selectReportVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteReportById" parameterType="Long">
		delete from report_pump where id = #{id}
	</delete>
	 <delete id="deleteReportByIds" parameterType="Long">
 		delete from report_pump where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="updateReport" parameterType="Pump">
 		update report_pump
 		<set>
 			<if test=" deptid != null ">deptid = #{deptid},</if>
			<if test=" deptname != null and deptname != ''">deptname = #{deptname},</if>
			<if test=" pumpname != null and pumpname != ''">pumpname = #{pumpname},</if>
			<if test=" recorddate != null and recorddate != ''">recorddate = #{recorddate},</if>
			<if test="  remark != null and remark != ''">remark = #{remark},</if>
 			<if test=" updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insertReport" parameterType="Pump">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_report_pump.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO report_pump(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" deptid != null ">deptid,</if>
			<if test=" deptname != null and  deptname != ''">deptname,</if>
			<if test=" pumpname != null and  pumpname != ''">pumpname,</if>
			<if test=" recorddate != null and  recorddate != ''">recorddate,</if>


			<if test=" remark != null and remark != ''">REMARK,</if>
			<if test=" createBy != null and createBy != ''">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" deptid != null ">#{deptid},</if>
			<if test=" deptname != null and deptname != ''">#{deptname},</if>
			<if test=" pumpname != null and pumpname != ''">#{pumpname},</if>
			<if test=" recorddate != null and recorddate != ''">#{recorddate},</if>

			<if test=" remark != null and remark != ''">#{remark},</if>
			<if test=" createBy != null and createBy != ''">#{createBy},</if>
			<if test=" dept_id != null and dept_id != ''">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>