<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改资料')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <link th:href="@{/css/dm/dm.css}" rel="stylesheet"/>
    <link th:href="@{/css/dm/operation.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-role-add" th:object="${cost}">
        <input name="costId"  type="hidden"  th:field="*{costId}" />
        <input name="costFactoryId" id="treeIdBrf" type="text" hidden>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">水质净化厂：</label>
                    <div class="col-sm-8">
                            <input class="form-control" name="costFactory" onclick="selectBrfTree()" id="treeNameBrf" type="text" th:field="*{costFactory}" placeholder="请选择水质净化厂" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">运营单位：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="costCompany" id="costCompany" th:field="*{costCompany}" placeholder="请输入运营单位名称">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">申请支付时间：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control time-input" id="costApplyTime" th:field="*{costApplyTime}" placeholder="请选择申请支付时间"
                               name="costApplyTime" data-type="date">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">实际支付月份：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control time-input" id="costPayTime" th:field="*{costPayTime}" placeholder="请选择实际支付月份"
                               name="costPayTime" data-type="month">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">实际处理水量(m³)：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="costWaterVolume" th:field="*{costWaterVolume}" placeholder="请输入实际处理水量"
                               name="costWaterVolume">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">实际处理费用(元)：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="costPayMoney" th:field="*{costPayMoney}" placeholder="请输入实际处理费"
                               name="costPayMoney">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">处罚金额(元)：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="costPunishMoney" th:field="*{costPunishMoney}" placeholder="请输入处罚金额"
                               name="costPunishMoney">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">处理原因：</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="costPunishReason" name="costPunishReason" placeholder="请选择处罚原因">
                            <option value="出水超标COD" th:selected="*{costPunishReason=='出水超标COD'}">出水超标COD</option>
                            <option value="出水超标BOD" th:selected="*{costPunishReason=='出水超标BOD'}">出水超标BOD</option>
                            <option value="出水超标氨氮" th:selected="*{costPunishReason=='出水超标氨氮'}">出水超标氨氮</option>
                            <option value="出水超标TP" th:selected="*{costPunishReason=='出水超标TP'}">出水超标TP</option>
                            <option value="出水超标TN" th:selected="*{costPunishReason=='出水超标TN'}">出水超标TN</option>
                            <option value="出水超标SS" th:selected="*{costPunishReason=='出水超标SS'}">出水超标SS</option>
                            <option value="出水超标粪大肠菌群" th:selected="*{costPunishReason=='出水超标粪大肠菌群'}">出水超标粪大肠菌群</option>
                            <option value="出水超标污泥含量" th:selected="*{costPunishReason=='出水超标污泥含量'}">出水超标污泥含量</option>
                            <option value="其他" th:selected="*{costPunishReason=='其他'}">其他</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label ">备注：</label>
                    <div class="col-sm-8">
                        <textarea type="text" id="costRemark" name="costRemark" class="form-control" th:field="*{costRemark}" placeholder="请输入备注"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">&nbsp;</div>

    <h4 class="form-header h4">附属文件</h4>
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn multiple disabled" onclick="downloadSelected()">
                <i class="fa fa-download"></i> 下载
            </a>
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>提 交</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script th:src="@{/js/dm/dm.js}" type="text/javascript"></script>
<script type="text/javascript">

    let prefix = ctx+"dm/cost";
    let file_prefix = ctx + "dm/file";

    $(document).ready(function () {
        var options = {
            url: file_prefix+ "/select?uuid=[[${cost.costUuid}]]",
            modalName: "附属文件",
            showSearch:false,
            showRefresh:false,
            showColumns:false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'fileId',
                    title: '文件编号',
                    sortable: true
                },
                {
                    field: 'fileName',
                    title: '文件名',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="fileDownload(\'' + row.fileId + '\')"><i class="fa fa-download"></i>下载</a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="fileDelete(\'' + row.fileId + '\')"><i class="fa fa-trash"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

        $("#filePath").fileinput({
            'uploadUrl': '#',
            overwriteInitial: false,
            initialPreviewAsData: true,
            showPreview : false,	//预览
            showUpload: false		//上传按钮
        });
    });

    function submitHandler() {
        if ($.validate.form()) {
            uploadFile();
        }
    }

    function uploadFile() {
        var formData = new FormData();

        formData.append('costId',$("#costId").val());
        formData.append('costFactory',$("#treeNameBrf").val());
        formData.append('costCompany',$("#costCompany").val());
        formData.append('costApplyTime',$("#costApplyTime").val());
        formData.append('costPayTime',$("#costPayTime").val());
        formData.append('costWaterVolume',$("#costWaterVolume").val());
        formData.append('costPayMoney',$("#costPayMoney").val());
        formData.append('costPunishMoney',$("#costPunishMoney").val());
        formData.append('costPunishReason',$("#costPunishReason").val());
        formData.append('costRemark',$("#costRemark").val());
        formData.append('costFileName', $("#filePath").val());

        $.ajax({
            url: prefix + "/edit",
            type: 'post',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function(result) {
                $.operate.successCallback(result);
            }
        });
    }

    // 文件下载(单个)
    function fileDownload(fileId){
        $.modal.confirm("确认下载该文件？", function() {
            var url = file_prefix + "/download/ids?ids="+fileId;
            window.location.href = url;
        });
    }

    //文件下载(多选)
    function downloadSelected(){
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一个文件");
            return;
        }
        $.modal.confirm("确认要下载选中的" + rows.length + "个文件吗?", function() {
            var url = file_prefix + "/download/ids?ids="+rows.join();
            window.location.href = url;
        });
    }

    function fileDelete(fileId) {
        $.modal.confirm("确认删除该文件？", function() {
            var url = file_prefix+"/delete?fileId="+fileId;
            $.operate.post(url);
            $("#bootstrap-table").bootstrapTable('refresh', options);
        })
    }
</script>
</body>
</html>
