<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('申请列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="form">
				<input name="deptId" type="hidden" id="treeId"/>
					<div class="select-list">
						<ul>
							<li>
		                        <label >使用部门：</label>
                            	<input name="useDept" onclick="selectDeptTree()" id="treeName" type="text" placeholder="" >
							</li>
							<li>
		                        <label >设备名称：</label>
                            	<input name="devName"  id="devName" type="text" placeholder="" >
							</li>
							<li class="select-time">
								<label>填写日期： </label>
								<input type="text" class="time-input" id="recordDate"  name="recordDate"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="dev:maintainPlan:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dev:maintainPlan:delete">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dev:maintainPlan:export">
		            <i class="fa fa-download"></i> 导出
		        </a> -->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "op/dev/maintainPlan";
        var viewFlag = [[${@permission.hasPermi('dev:maintainPlan:view')}]];
        var editFlag = [[${@permission.hasPermi('dev:maintainPlan:edit')}]];
        var removeFlag = [[${@permission.hasPermi('dev:maintainPlan:delete')}]];
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                
                modalName: "保养计划",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号' 
				},
				{
					field : 'useDept', 
					title : '使用部门' 
				},
				{
		            field: 'devNumber',
		            title: '设备编号',
		        },
		        
		        {
		            field: 'recordDate',
		            title: '填写日期',
		        },
		        {
		            field: 'devName',
		            title: '设备名称',
		        },
		        {
		            field: 'devProDate',
		            title: '设备出厂日期',
		        },
		        {
		            field: 'devType',
		            title: '设备类别',
		        },
		        {
		            field: 'mType',
		            title: '保养类别',
		        },
		        {
		            field: 'mCycle',
		            title: '保养周期',
		        },
		        {
		            field: 'lastDate',
		            title: '上次保养时间',
		        },
		        {
		            field: 'lastEffect',
		            title: '上次保养效果',
		        },
		        {
		            field: 'reason',
		            title: '保养原因',
		        },
		        {
		            field: 'planDate',
		            title: '计划保养时间',
		        },
		        {
		            field: 'effect',
		            title: '保养效果',
		        },
		        {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>