<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('负责人邮箱信息列表')"/>
    <link th:href="@{/css/event/submit.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-white" onclick="$.operate.add()" shiro:hasPermission="event:email:add">
                <i class="fa fa-plus"></i>
                添加

            </a>
            <a class="btn btn-white single disabled" onclick="$.operate.edit()" shiro:hasPermission="event:email:edit">
                <i class="fa fa-edit"></i>
                    修改
            </a>
            <a class="btn btn-white " onclick="$.operate.removeAll()" shiro:hasPermission="event:email:remove">
                <i class="fa fa-remove"></i>
                    删除
            </a>
            <a class="btn btn-white" onclick="$.table.exportExcel()" shiro:hasPermission="event:email:export">
                <i class="fa fa-download"></i>
                    导出
            </a>
            <a class="btn btn-white" href="/event/submit">
                    返回
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" style="font-family: '苹方 中等'"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('event:email:edit')}]];
    var removeFlag = [[${@permission.hasPermi('event:email:remove')}]];
    var prefix = ctx + "event/email";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "负责人邮箱信息",
            columns: [{
                checkbox: true
            },
                {
                    field: 'sid',
                    title: '系统流水号',
                    sortable: true
                },
                {
                    field: 'eventAttribute',
                    title: '事件属性',
                    sortable: true
                },
                {
                    field: 'eventEmail',
                    title: '负责人邮箱',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="  btn-xs ' + editFlag + '" href="javascript:void(0)" ' +
                            'onclick="$.operate.edit(\'' + row.sid + '\')">' +
                            '<text style="color: #2BA3FD">编辑' +
                            '</text>' +
                            '</a> ');
                        actions.push('<a class="  btn-xs ' + removeFlag + '" href="javascript:void(0)" ' +
                            'onclick="$.operate.remove(\'' + row.sid + '\')">' +
                            '<text style="color: #2BA3FD">删除' +
                            '</text>' +
                            '</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>