<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.dm.DmAuditMapper">
    <resultMap type="DmAudit" id="DmAuditResult">
        <id     property="auditId"       column="audit_id"        />
        <result property="dataId"     column="data_id"      />
        <result property="userId"     column="user_id"      />
        <result property="userName"     column="user_name"      />
        <result property="auditStatus"      column="audit_status"       />
        <result property="auditResult"    column="audit_result"     />
        <result property="auditDate"    column="audit_date"     />
        <result property="auditCreate"    column="audit_create"     />
    </resultMap>

    <sql id="selectAuditVo">
		select a.audit_id,a.data_id,a.user_id,a.user_name,a.audit_status,a.audit_result,a.audit_date,a.audit_create
		from dm_audit a
	</sql>

    <insert id="insertAudit" parameterType="DmAudit" useGeneratedKeys="true" keyProperty="auditId">
        <selectKey keyProperty="auditId" order="BEFORE" resultType="Long">
            select seq_dm_audit.nextval as auditId from DUAL
        </selectKey>
        insert into dm_audit(
        <if test="auditId != null and auditId != 0">audit_id,</if>
        <if test="dataId != null and dataId != 0">data_id,</if>
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
        <if test="auditResult != null and auditResult != ''">audit_result,</if>
        audit_create
        )values(
        <if test="auditId != null and auditId != 0">#{auditId},</if>
        <if test="dataId != null and dataId != 0">#{dataId},</if>
        <if test="userId != null and userId != 0">#{userId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
        <if test="auditResult != null and auditResult != ''">#{auditResult},</if>
        SYSDATE
        )
    </insert>

    <update id="changeStatus" parameterType="DmAudit">
        update dm_audit
        <set>
            <if test="userId != null and userId != 0">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="auditStatus != null and auditStatus != 0">audit_status = #{auditStatus},</if>
            <if test="auditResult != null and auditResult != ''">audit_result = #{auditResult},</if>
            audit_date = sysdate
        </set>
        where data_id = #{dataId}
    </update>

    <delete id="deleteAuditByDataIds" parameterType="Long">
        delete from dm_audit a
        where a.data_id in
        <foreach collection="array" item="dataId" open="(" separator="," close=")">
            #{dataId}
        </foreach>
    </delete>

</mapper>