<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.dm.DmPerMapper">

    <resultMap type="DmUDP" id="DmUDPResult">
        <id     property="perId"       column="per_id"        />
        <result property="dataId"     column="data_id"      />
        <result property="userId"      column="user_id"       />
        <result property="perDate"     column="per_date"      />
        <result property="perStatus"     column="per_status"      />
        <association property="data"    column="data_id" javaType="DmData" resultMap="DmDataResult" />
        <association property="user"    column="user_id" javaType="SysUser" resultMap="SysUserResult" />
    </resultMap>

    <resultMap type="DmData" id="DmDataResult">
        <id     property="dataId"       column="data_id"        />
        <result property="dataUuid"     column="data_uuid"      />
        <result property="dataDate"      column="data_date"       />
        <result property="dataApplicant"     column="data_applicant"      />
        <result property="dataCompany"    column="data_company"     />
        <result property="dataBorough"       column="data_borough"         />
        <result property="dataStreet"      column="data_street"       />
        <result property="dataType"     column="data_type"      />
        <result property="dataLevel"   column="data_level"    />
        <result property="dataTheme"     column="data_theme"      />
        <result property="dataDesc"   column="data_desc"    />
        <result property="dataFlag"       column="data_flag"         />
        <result property="dataRiver"       column="data_river"         />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="loginName"    column="login_name"   />
        <result property="userName"     column="user_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="salt"         column="salt"         />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <sql id="selectListPrefix">
        select distinct p.per_id,p.data_id,p.user_id,p.per_date,
        d.data_date,d.data_level,d.data_theme,
        u.login_name,u.user_name
        from dm_permission p
        left join dm_data d on d.data_id=p.data_id
        left join sys_user u on u.user_id=p.user_id
    </sql>

    <insert id="insertPer" parameterType="DmPermission" useGeneratedKeys="true" keyProperty="perId">
        <selectKey keyProperty="perId" order="BEFORE" resultType="Long">
            select seq_dm_permission.nextval as perId from DUAL
        </selectKey>
        insert into dm_permission(
        <if test="perId != null and perId != 0">per_id,</if>
        <if test="dataId != null and dataId != 0">data_id,</if>
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="perStatus != null and perStatus != ''">per_status,</if>
        per_date
        )values(
        <if test="perId != null and perId != 0">#{perId},</if>
        <if test="dataId != null and dataId != 0">#{dataId},</if>
        <if test="userId != null and userId != 0">#{userId},</if>
        <if test="perStatus != null and perStatus != ''">#{perStatus},</if>
        sysdate
        )
    </insert>

    <select id="selectNotApprovalPerList" parameterType="DmUDP" resultMap="DmUDPResult">
        <include refid="selectListPrefix"></include>
        where p.per_status='0'
        <if test="user.userName != null and user.userName != ''">
            AND u.user_name like concat(concat('%',#{user.userName}),'%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND p.per_date &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND p.per_date &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectPassPerList" parameterType="DmUDP" resultMap="DmUDPResult">
        <include refid="selectListPrefix"></include>
        where p.per_status='1'
        <if test="user.userName != null and user.userName != ''">
            AND u.user_name like concat(concat('%',#{user.userName}),'%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND p.per_date &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND p.per_date &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectRejectPerList" parameterType="DmUDP" resultMap="DmUDPResult">
        <include refid="selectListPrefix"></include>
        where p.per_status='2'
        <if test="user.userName != null and user.userName != ''">
            AND u.user_name like concat(concat('%',#{user.userName}),'%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND p.per_date &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND p.per_date &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <update id="changeStatus">
        update dm_permission
        <set>
            <if test="perStatus != null and perStatus != ''">per_status = #{perStatus}</if>
        </set>
        where per_id = #{perId}
    </update>

    <delete id="deletePerByIds" parameterType="Long">
        delete from dm_permission where per_id in
        <foreach collection="array" item="perId" open="(" separator="," close=")">
            #{perId}
        </foreach>
    </delete>

    <delete id="deletePerByDataIds" parameterType="Long">
        delete from dm_permission where data_id in
        <foreach collection="array" item="dataId" open="(" separator="," close=")">
            #{dataId}
        </foreach>
    </delete>

    <select id="selectDataListByUserId" resultMap="DmDataResult">
        select d.data_id,d.data_uuid,d.data_date,d.data_applicant,d.data_company,d.data_borough,d.data_street,d.data_type,d.data_level,d.data_theme,d.data_desc,d.data_flag,d.data_river
        from dm_data d
        left join dm_permission p on d.data_id=p.data_id
        where p.per_status='1' and p.user_id=#{per_userId} and d.data_flag='0'
        <if test="dmData.dataTheme != null and dmData.dataTheme != ''">
            AND d.data_theme like concat(concat('%',#{dmData.dataTheme}),'%')
        </if>
        <if test="dmData.dataBorough != null and dmData.dataBorough != ''">
            AND d.data_borough like concat(concat('%',#{dmData.dataBorough}),'%')
        </if>
        <if test="dmData.params.beginTime != null and dmData.params.beginTime != ''"><!-- 开始时间检索 -->
            AND d.data_date &gt;= to_date(#{dmData.params.beginTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <if test="dmData.params.endTime != null and dmData.params.endTime != ''"><!-- 结束时间检索 -->
            AND d.data_date &lt;= to_date(#{dmData.params.endTime},'yyyy-MM-dd HH24:mi:ss')
        </if>
        <!-- 数据范围过滤 -->
        ${dmData.params.dataScope}
    </select>

    <select id="checkPerExist" resultType="int">
      select count(*)
      from dm_permission p
      where p.user_id=#{userId} and p.data_id=#{dataId} and p.per_status='1'
    </select>

</mapper>