<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
	<th:block th:include="include :: header('新增设备')" />
	<th:block th:include="include :: cropbox-css" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="form"  class="form-horizontal m" th:object="${obj}">
        <input name="id" type="hidden" id="id"  th:field="*{id}"/>
        <input name="supplierid" type="hidden" id="treeIdSupplier"  th:field="*{supplierid}" />
        <div class="container">
			<div class="row">
				<div class="col-sm-6">
					   <div class="form-group">
						   <label class="col-sm-3 control-label">备件名称：</label>
						   <div class="col-sm-8">
							   <input name="devname"  th:field="*{devname}" class="form-control"  type="text"  >
						   </div>
					   </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">类型：</label>
						<div class="col-sm-8">
								<input name="dtype"  th:field="*{dtype}" class="form-control"  type="text"  >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					   <div class="form-group">
						   <label class="col-sm-3 control-label">编号：</label>
						   <div class="col-sm-8">
							   <input name="dnumber"  th:field="*{dnumber}" class="form-control"  type="text"  >
						   </div>
					   </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">型号规格：</label>
						<div class="col-sm-8">
								<input name="dmodel"  th:field="*{dmodel}" class="form-control"  type="text"  >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					   <div class="form-group">
						   <label class="col-sm-3 control-label">数量：</label>
						   <div class="col-sm-8">
							   <input name="quantity"  th:field="*{quantity}" class="form-control"  type="text"  >
						   </div>
					   </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">单位：</label>
						<div class="col-sm-8">
								<input name="unit"  th:field="*{unit}" class="form-control"  type="text"  >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					   <div class="form-group">
						   <label class="col-sm-3 control-label">单价：</label>
						   <div class="col-sm-8">
							   <input name="unitprice"  th:field="*{unitprice}" class="form-control"  type="text"  >
						   </div>
					   </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">出厂编号：</label>
						<div class="col-sm-8">
								<input name="idnumber"  th:field="*{idnumber}" class="form-control"  type="text"  >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					   <div class="form-group">
						   <label class="col-sm-3 control-label">出厂日期：</label>
						   <div class="col-sm-8">
							   <input name="releasedate"  th:field="*{releasedate}" class="time-input form-control " data-type="date" data-format="yyyy-MM-dd"  type="text"  >
						   </div>
					   </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">供应商：</label>
						<div class="col-sm-8">
								<input name="supplier" onclick="selectSupplier()" id="treeNameSupplier"   th:field="*{supplier}" class="form-control"  type="text"  >
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>

	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
	<script>
	    var prefix = ctx + "op/dev/drainagenetworkspare";
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        

        /*用户管理-新增-选择部门树*/
        function selectSupplier() {
        	var treeId = $("#treeIdSupplier").val();
        	var sid = $.common.isEmpty(treeId) ? "0" : $("#treeIdSupplier").val();
        	var url = ctx + "op/dev/drainagenetworksupplier/selectSupplier/" + sid;
			var options = {
				title: '选择供应商',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
        
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeIdSupplier").val(body.find('#treeIdSupplier').val());
    			$("#treeNameSupplier").val(body.find('#treeNameSupplier').val());
    			layer.close(index);
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	$.operate.save(prefix + "/edit", data);
	        }
	    }

    </script>
</body>
</html>
