/*从业人员模块各个弹窗页面通用的样式
zxc
2020-2-19
*/
@charset "UTF-8";

/*radio单选按钮  label标签*/
label{
    line-height: 16px;
    display: inline-block;
    color: rgba(33,33,33,.87);
}
label.male{
	margin-top: 6px;
	margin-left: 20px;
}
label.female{
	margin-top: 6px;
	margin-left: 20px;
}
input[type="radio"]{
    width: 0px;
    height: 0px;
    appearance: none;
    position: absolute;
    margin-top: 6px;
}
input[type="radio"]:before{
    content: "\a0";  
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid #2BA3FD;
    text-indent: .15em;
    line-height: 1; 
}
input[type="radio"]:checked:before{
    /* content: ''; */
    width: 16px;
    height: 16px;
    background-color: #2BA3FD;
    background-clip: content-box; 
    padding: .2em;
    border: 1px solid #2BA3FD;
    display: inline-block;
    /* border-radius: 50%; */
    vertical-align: middle;
}
input[type="radio"]:checked:after{
    background-color: #2BA3FD;
    background-clip: content-box; 
    padding: .2em;
}

/*text 文本框*/
input[type="text"]{
	background: #FFFFFF;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
}

/*select 下拉菜单*/
select.form-control{
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    color: inherit;
    display: inline-block;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
/*select-option 下拉菜单默认选项*/
option[value=""]{
	display: none;
}

/*date 日期选择框 隐藏上下三角按钮 修改图标*/
input[type="date"]{
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 4px;	
}
input[type="date"]::-webkit-inner-spin-button {
	visibility: hidden; 
}
input[type="date"]::-webkit-calendar-picker-indicator { 
    background-image: url(../../img/日历.svg);
    opacity: 0.25;
    background-position: 4px 0px;
    background-size: 14px 15px;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0); /*设置小三角透明*/
}