<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('从业人员列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								从业人员姓名：<input type="text" name="name"/>
							</li>
							<li>
								从业人员所属公司：<input type="text" name="company_name"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="employee:worker:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="employee:worker:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('employee:worker:edit')}]];
		var removeFlag = [[${@permission.hasPermi('employee:worker:remove')}]];
		var prefix = ctx + "employee/worker";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        sortName: "company_name",
		        modalName: "从业人员",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'idCard',
		            title: '身份证号',
		        },
		        {
		            field: 'name',
		            title: '姓名',
		            sortable: true
		        },
		        {
		            field: 'sex',
		            title: '性别',
		            sortable: true
		        },
		        {
		            field: 'join_work_time',
		            title: '参加工作日期',
		            sortable: true,
		            visible: false
		        },
		        {
		            field: 'education',
		            title: '学历',
		            sortable: true
		        },
		        {
		            field: 'title',
		            title: '职称',
		            sortable: true
		        },
		        {
		            field: 'profession',
		            title: '专业',
		            sortable: true,
		            visible: false
		        },
		        {
		            field: 'company_name',
		            title: '所属企业/厂',
		            sortable: true
		        },
		        {
		            field: 'position',
		            title: '职位',
		            sortable: true
		        },
		        {
		            field: 'department_name',
		            title: '部门',
		            sortable: true
		        },
		        {
		        	field:'qualification_certificate',
		        	title:'资质证书',
		        	sortable:true,
		        	visible: false
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.idCard + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>