<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
	<th:block th:include="include :: header('新增设备')" />
	<th:block th:include="include :: cropbox-css" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated ">
        <form id="form"  class="form-horizontal m" th:object="${obj}">
        <input name="id" type="hidden" id="id"  th:field="*{id}"/>
        <input name="supplierid" type="hidden" id="treeIdSupplier"  th:field="*{supplierid}"/>
        <input name="areaid" type="hidden" id="treeIdArea"  th:field="*{areaid}"/>
        <div class="container ">
			   <div class="form-group">
				   <label class="col-sm-3 control-label">名称：</label>
				   <div class="col-sm-8">
					   <input name="dname"    th:field="*{dname}" class="form-control"  type="text"  >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">所属区：</label>
					<div class="col-sm-8">
							<input name="areaname" onclick="selectAreaTree()" id="treeNameArea"  th:field="*{areaname}" class="form-control"  type="text" >
					</div>
				</div>
					
				<div class="form-group">
					   <label class="col-sm-3 control-label">类型：</label>
					   <div class="col-sm-8">
						   <select name="dtype"  th:field="*{dtype}" class="form-control"  type="text" >
                           	<option value="建筑物">建筑物</option>
                           	<option value="设备">设备</option>
                           </select>
					   </div>
				   </div>
				<div class="form-group">
					<label class="col-sm-3 control-label">建设单位/生产厂家：</label>
					<div class="col-sm-8">
							<input name="dsupplier" onclick="selectSupplier()" id="treeNameSupplier"  th:field="*{dsupplier}" class="form-control"  type="text" >
					</div>
				</div>
			
				<div class="form-group">
					<label class="col-sm-3 control-label">规格型号：</label>
					<div class="col-sm-8">
							<input name="dmodel"  th:field="*{dmodel}" class="form-control"  type="text" >
					</div>
				</div>
			   <div class="form-group">
				   <label class="col-sm-3 control-label">单位：</label>
				   <div class="col-sm-8">
					   <input name="dunit"  th:field="*{dunit}" class="form-control"  type="text"  >
                           
				   </div>
			   </div>
			
			   <div class="form-group">
				   <label class="col-sm-3 control-label">面积/数量：</label>
				   <div class="col-sm-8">
					   <input name="dqty"  th:field="*{dqty}" class="form-control"  type="text" >
				   </div>
			   </div>
				<div class="form-group">
					<label class="col-sm-3 control-label">备注：</label>
					<div class="col-sm-8">
						<textarea name="remark"   th:field="*{remark}" class="form-control"  type="text" ></textarea>
					</div>
				</div>
				
		</div>
	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
	<script>
	    var prefix = ctx + "op/dev/pumpstationinfo";
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        

        
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	$.operate.save(prefix + "/edit", data);
	        }
	    }
		
		 
        function selectAreaTree() {
        	
        	var treeId = $("#treeIdArea").val();
        	var deptId = $.common.isEmpty(treeId) ? "3" : $("#treeIdArea").val();
        	var url = ctx + "system/area/selectAreaTree/" + deptId;
			var options = {
				title: '选择区域',
				width: "380",
				url: url,
				callBack: doSubmitArea
			};
			$.modal.openOptions(options);
		}
        function doSubmitArea(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeIdArea").val(body.find('#treeIdArea').val());
    			$("#treeNameArea").val(body.find('#treeNameArea').val());
    			layer.close(index);
		}
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmitDept
			};
			$.modal.openOptions(options);
		}
        function doSubmitDept(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
        
        function selectSupplier() {
        	var treeId = $("#treeIdSupplier").val();
        	var sid = $.common.isEmpty(treeId) ? "0" : $("#treeIdSupplier").val();
        	var url = ctx + "op/dev/pumpstationsupplier/selectSupplier/" + sid;
			var options = {
				title: '选择供应商',
				width: "380",
				url: url,
				callBack: doSubmitSupplier
			};
			$.modal.openOptions(options);
		}
		
		function doSubmitSupplier(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeIdSupplier").val(body.find('#treeIdSupplier').val());
    			$("#treeNameSupplier").val(body.find('#treeNameSupplier').val());
    			layer.close(index);
		}
    </script>
</body>
</html>
