<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('申请表')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
</head>
<body class="white-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">

	<form class="form-horizontal m" id="form-role-edit" th:object="${look}">
		<input id="SBLSH" name="SBLSH" type="hidden" th:field="*{SBLSH}"/>

		<div class="form-group">

			<div class="col-sm-2">
				<input class="form-control" type="text"   value="接驳口1" style="border: 0px;outline:none;" >
			</div>
			<div class="col-sm-10">
				<textarea   class="form-control" type="text"  id="BMMC" th:field="*{BYZD3} " style="resize:none;" ></textarea>
			</div>


		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label ">X=</label>
			<div class="col-sm-4">
				<input class="form-control" type="text"  id="WD1" th:field="*{WD1}" >
			</div>
			<label class="col-sm-2 control-label ">Y=</label>
			<div class="col-sm-4">
				<input class="form-control" type="text"  id="JD1" th:field="*{JD1}"   >
			</div>
		</div>

		<div class="form-group">

			<div class="col-sm-2">
				<input class="form-control" type="text"   value="接驳口2" style="border: 0px;outline:none;" >
			</div>
			<div class="col-sm-10">
				<textarea   class="form-control" type="text"  id="BMMC" th:field="*{BMMC} " style="resize:none;" ></textarea>
			</div>


		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label ">X=</label>
			<div class="col-sm-4">
				<input class="form-control" type="text"  id="WD2" th:field="*{WD2}" >
			</div>
			<label class="col-sm-2 control-label ">Y=</label>
			<div class="col-sm-4">
				<input class="form-control" type="text"  id="JD2" th:field="*{JD2}"   >
			</div>
		</div>





	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: ztree-js" />
<script type="text/javascript">


    function edit() {
        var BYZD3 = $("textarea[name='BYZD3']").val();
        var BMMC = $("textarea[name='BMMC']").val();
        var WD1 = $("input[name='WD1']").val();
        var WD2 = $("input[name='WD2']").val();
        var JD1 = $("input[name='JD1']").val();
        var JD2 = $("input[name='JD2']").val();
        var SBLSH = $("input[name='SBLSH']").val();

        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "op/permit/edit",
            data : {
                "SBLSH":SBLSH,
                "BYZD3":BYZD3,
                "BMMC": BMMC,
                "WD1": WD1,
                "WD2": WD2,
                "JD1": JD1,
                "JD2":JD2
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.successCallback(data);
            }
        });
    }

    function submitHandler() {
        if ($.validate.form()) {
            edit();
        }
    }
</script>

</body>
</html>
