<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('基本信息')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
</head>
<body class="white-bg">

	<div class="wrapper wrapper-content animated fadeInRight ibox-content">

		<form class="form-horizontal m" id="form-role-edit" th:object="${ppp}">
			<!--<input id="staffNumber" name="staffNumber" type="hidden" th:field="*{staffNumber}"/>-->
			<div class="form-group">
			<label class="col-sm-2 control-label ">业务编号：</label>
			<div class="col-sm-3">
				<input class="form-control" type="text"  id="SBLSH" th:field="*{SBLSH_SHORT}"  >
			</div>
				<label class="col-sm-2 control-label ">事项名称：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="SXMC" th:field="*{SXMC}"  >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">项目名称：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="FSXBM" th:field="*{FSXBM}"  >
				</div>
				<label class="col-sm-2 control-label ">申请单位/人：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="SQRMC" th:field="*{SQRMC}"  >

				</div>
				<div class="col-sm-2">
					<span style="color: red">注：不能填写数字或特殊字符</span>
				</div>

			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">单位地址/地址：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="LXRYX" th:field="*{LXRYX}"  >
				</div>
				<label class="col-sm-2 control-label ">证件代码：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="SQRZJHM" th:field="*{SQRZJHM}"  >
				</div>
				<div class="col-sm-2">
					<span style="color: red">注：申请单位填组织机构代码，申请人填身份证号码</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">申请人类型：</label>
				<div class="col-sm-3">
					<select class="form-control" name="" id="">

						<option value="执法人员" >执法人员</option>
						<option value="公司代表" >公司代表</option>
					</select>
				</div>
				<label class="col-sm-2 control-label ">联系人：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="LXRXM" th:field="*{LXRXM}"  >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">联系人证件类型：</label>
				<div class="col-sm-3">
					<select class="form-control" name="" id="">
						<option value="身份证" >身份证</option>
						<option value="户口本" >户口本</option>
					</select>
				</div>
				<label class="col-sm-2 control-label ">联系人证件号码：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="LXRSFZJHM" th:field="*{LXRSFZJHM}"  >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">手机号码：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="LXRSJ" th:field="*{LXRSJ}"  >
				</div>
				<label class="col-sm-2 control-label ">申请日期：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text"  id="BYZD1" th:field="*{BYZD1}"  >
				</div>
			</div>





		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">

	</script>

</body>
</html>
