<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.system.mapper.SysAreaMapper">

    <resultMap type="SysArea" id="SysAreaResult">
        <id property="areaId" column="area_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="areaName" column="area_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="areaCode" column="area_code"/>
        <result property="areaType" column="area_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="delFlag"/>
    </resultMap>





    <sql id="selectAreaVo">
        select d.area_id, d.parent_id, d.ancestors, d.area_name, d.order_num, d.area_code, d.area_type, d.create_by, d.create_time
        from sys_area d
    </sql>

    <select id="getSysArea" parameterType="SysArea" resultMap="SysAreaResult">
        <include refid="selectAreaVo"/>
        where 1 = 1 and delFlag = '0'
        <if test="areaCode != null and areaCode != 0">
            AND area_code = #{areaCode}
        </if>
        <if test="areaName != null and areaName != ''">
            AND area_name like concat(concat('%',#{areaName}),'%')
        </if>
        order by d.parent_id, d.order_num
    </select>

    <select id="selectAreaCount" parameterType="SysArea" resultType="int">

		select count(1) from sys_area
		where 1 = 1
		<if test="areaId != null and areaId != 0"> and area_id = #{areaId} </if>
		<if test="parentId != null and parentId != 0"> and parent_id = #{parentId} </if>
	</select>
	
	<select id="selectAreaAll" resultMap="SysAreaResult">
		<include refid="selectAreaVo"/>
	</select>
	


    <select id="selectAreaList" parameterType="SysArea" resultMap="SysAreaResult">

        <include refid="selectAreaVo"/>
        where 1 = 1 and delFlag = '0'
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="areaName != null and areaName != ''">
            AND area_name like concat(concat('%',#{areaName}),'%')
        </if>
        order by d.parent_id, d.order_num
    </select>
    <!--
    ,
                (select area_name from sys_area where area_id = d.parent_id) parent_name
     -->
    <select id="selectAreaById" parameterType="Long" resultMap="SysAreaResult">
		select d.area_id, d.parent_id, d.ancestors, d.area_name, d.order_num, d.area_code, d.area_type
		from sys_area d
		where d.area_id = #{areaId}
	</select>

    <select id="selectChildrenAreaById" parameterType="Long" resultMap="SysAreaResult">
		select * from sys_area where instr(','||ancestors||',' ,  ','||#{areaId}||',') <![CDATA[ <> ]]> 0
	</select>

    <insert id="insertArea" parameterType="SysArea">
        <selectKey keyProperty="areaId" order="BEFORE" resultType="Long">
            select seq_sys_area.nextval as areaId from DUAL
        </selectKey>
        insert into sys_area(
        <if test="areaId != null and areaId != 0">area_id,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="areaName != null">area_name,</if>
        <if test="ancestors != null">ancestors,</if>
        <if test="orderNum != null">order_num,</if>
        <if test="areaCode != null">area_code,</if>
        <if test="areaType != null">area_type,</if>
        <if test="createBy != null">create_by,</if>
        <if test="delFlag != null">create_by,</if>
        create_time
        )values(
        <if test="areaId != null and areaId != 0">#{areaId},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="areaName != null">#{areaName},</if>
        <if test="ancestors != null">#{ancestors},</if>
        <if test="orderNum != null">#{orderNum},</if>
        <if test="areaCode != null">#{areaCode},</if>
        <if test="areaType != null">#{areaType},</if>
        <if test="createBy != null">#{createBy},</if>
        <if test="delFlag != null">#{delFlag},</if>
        sysdate
        )
    </insert>

    <update id="updateArea" parameterType="SysArea">
        update sys_area
        <set>
            <if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="areaType != null">area_type = #{areaType},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate
        </set>
        where area_id = #{areaId}
    </update>

    <update id="updateAreaChildren" parameterType="java.util.List">
        update sys_area set ancestors =
        <foreach collection="areas" item="item" index="index"
                 separator=" " open="case area_id" close="end">
            when #{item.areaId} then #{item.ancestors}
        </foreach>
        where area_id in
        <foreach collection="areas" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.areaId}
        </foreach>
    </update>

    <delete id="deleteAreaById" parameterType="Long">
		delete from  sys_area where area_id = #{areaId}
	</delete>


</mapper> 