<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.system.mapper.SysBRFMapper">

	<resultMap type="SysBRF" id="SysBRFResult">
		<id     property="brfId"     column="brf_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="brfName"   column="brf_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
		<result property="delFlag"    column="delFlag"    />
	</resultMap>
	
	<sql id="selectVo">
        select d.brf_id, d.parent_id, d.ancestors, d.brf_name, d.order_num,  d.create_by, d.create_time 
        from sys_brf d
    </sql>
    
    <select id="selectCount" parameterType="SysBRF" resultType="int">
		select count(1) from sys_brf
		where 1 = 1
		<if test="brfId != null and brfId != 0"> and brf_id = #{brfId} </if>
		<if test="parentId != null and parentId != 0"> and parent_id = #{parentId} </if>
	</select>
	
	<select id="selectList" parameterType="SysBRF" resultMap="SysBRFResult">
        <include refid="selectVo"/>
        where 1 = 1 and delFlag = '0'
        <if test="parentId != null and parentId != 0">
			AND parent_id = #{parentId}
		</if>
		<if test="brfName != null and brfName != ''">
			AND brf_name like concat(concat('%',#{brfName}),'%')
		</if>
		order by d.parent_id, d.order_num
    </select>
<!-- 	
,
			(select brf_name from sys_brf where brf_id = d.parent_id) parent_name
 -->			
	<select id="selectById" parameterType="Long" resultMap="SysBRFResult">
		select d.brf_id, d.parent_id, d.ancestors, d.brf_name, d.order_num
		from sys_brf d
		where d.brf_id = #{brfId}
	</select>

	<select id="selectChildrenById" parameterType="Long" resultMap="SysBRFResult">
		select * from sys_brf where instr(','||ancestors||',' ,  ','||#{brfId}||',') <![CDATA[ <> ]]> 0
	</select>
	
	<insert id="insert" parameterType="SysBRF">
	    <selectKey keyProperty="brfId" order="BEFORE" resultType="Long">
			select seq_sys_brf.nextval as brfId from DUAL
		</selectKey>
 		insert into sys_brf(
 			<if test="brfId != null and brfId != 0">brf_id,</if>
 			<if test="parentId != null and parentId != 0">parent_id,</if>
 			<if test="brfName != null and brfName != ''">brf_name,</if>
 			<if test="ancestors != null and ancestors != ''">ancestors,</if>
 			<if test="orderNum != null and orderNum != ''">order_num,</if>
 			
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			<if test="delFlag != null and delFlag != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="brfId != null and brfId != 0">#{brfId},</if>
 			<if test="parentId != null and parentId != 0">#{parentId},</if>
 			<if test="brfName != null and brfName != ''">#{brfName},</if>
 			<if test="ancestors != null and ancestors != ''">#{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">#{orderNum},</if>
 			
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
 			sysdate
 		)
	</insert>
	
	<update id="update" parameterType="SysBRF">
 		update sys_brf
 		<set>
 			<if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
 			<if test="brfName != null and brfName != ''">brf_name = #{brfName},</if>
 			<if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
 			<if test="orderNum != null">order_num = #{orderNum},</if>
 			
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where brf_id = #{brfId}
	</update>
	
	<update id="updateChildren" parameterType="java.util.List">
	    update sys_brf set ancestors =
	    <foreach collection="brfs" item="item" index="index"
	        separator=" " open="case brf_id" close="end">
	        when #{item.brfId} then #{item.ancestors}
	    </foreach>
	    where brf_id in
	    <foreach collection="brfs" item="item" index="index"
	        separator="," open="(" close=")">
	        #{item.brfId}
	    </foreach>
	 </update>

	<delete id="deleteById" parameterType="Long">
		delete from  sys_brf where brf_id = #{brfId}
	</delete>

</mapper> 