<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.system.mapper.SysPurPlantMapper">

	<resultMap type="SysPurPlant" id="SysPurPlantResult">
		<id     property="plantId"     column="plant_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="plantName"   column="plant_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="plantType"      column="plant_type"       />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="selectPurPlantVo">
        select d.plant_id, d.parent_id, d.ancestors, d.plant_name, d.order_num,  d.plant_type, d.create_by, d.create_time 
        from sys_purplant d
    </sql>
    
    <select id="selectPurPlantCount" parameterType="SysPurPlant" resultType="int">
		select count(1) from sys_purplant
		where 1 = 1
		<if test="plantId != null and plantId != 0"> and plant_id = #{plantId} </if>
		<if test="parentId != null and parentId != 0"> and parent_id = #{parentId} </if>
	</select>
	
	<select id="selectPurPlantList" parameterType="SysPurPlant" resultMap="SysPurPlantResult">
        <include refid="selectPurPlantVo"/>
        where 1 = 1
        <if test="parentId != null and parentId != 0">
			AND parent_id = #{parentId}
		</if>
		<if test="plantName != null and plantName != ''">
			AND plant_name like concat(concat('%',#{plantName}),'%')
		</if>
		order by d.parent_id, d.order_num
    </select>
<!-- 	
,
			(select plant_name from sys_purplant where plant_id = d.parent_id) parent_name
 -->			
	<select id="selectPurPlantById" parameterType="Long" resultMap="SysPurPlantResult">
		select d.plant_id, d.parent_id, d.ancestors, d.plant_name, d.order_num, d.plant_type
		from sys_purplant d
		where d.plant_id = #{plantId}
	</select>

	<select id="selectChildrenPurPlantById" parameterType="Long" resultMap="SysPurPlantResult">
		select * from sys_purplant where instr(','||ancestors||',' ,  ','||#{plantId}||',') <![CDATA[ <> ]]> 0
	</select>
	
	<insert id="insertPurPlant" parameterType="SysPurPlant">
	    <selectKey keyProperty="plantId" order="BEFORE" resultType="Long">
			select seq_sys_purplant.nextval as plantId from DUAL
		</selectKey>
 		insert into sys_purplant(
 			<if test="plantId != null and plantId != 0">plant_id,</if>
 			<if test="parentId != null and parentId != 0">parent_id,</if>
 			<if test="plantName != null">plant_name,</if>
 			<if test="ancestors != null">ancestors,</if>
 			<if test="orderNum != null">order_num,</if>
 			<if test="plantType != null">plant_type,</if>
 			<if test="createBy != null">create_by,</if>
 			create_time
 		)values(
 			<if test="plantId != null and plantId != 0">#{plantId},</if>
 			<if test="parentId != null and parentId != 0">#{parentId},</if>
 			<if test="plantName != null">#{plantName},</if>
 			<if test="ancestors != null">#{ancestors},</if>
 			<if test="orderNum != null">#{orderNum},</if>
 			<if test="plantType != null">#{plantType},</if>
 			<if test="createBy != null">#{createBy},</if>
 			sysdate
 		)
	</insert>
	
	<update id="updatePurPlant" parameterType="SysPurPlant">
 		update sys_purplant
 		<set>
 			<if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
 			<if test="plantName != null">plant_name = #{plantName},</if>
 			<if test="ancestors != null">ancestors = #{ancestors},</if>
 			<if test="orderNum != null">order_num = #{orderNum},</if>
 			<if test="plantType != null">plant_type = #{plantType},</if>
 			<if test="updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where plant_id = #{plantId}
	</update>
	
	<update id="updatePurPlantChildren" parameterType="java.util.List">
	    update sys_purplant set ancestors =
	    <foreach collection="plants" item="item" index="index"
	        separator=" " open="case plant_id" close="end">
	        when #{item.plantId} then #{item.ancestors}
	    </foreach>
	    where plant_id in
	    <foreach collection="plants" item="item" index="index"
	        separator="," open="(" close=")">
	        #{item.plantId}
	    </foreach>
	 </update>

	<delete id="deletePurPlantById" parameterType="Long">
		delete from  sys_purplant where plant_id = #{plantId}
	</delete>
	

</mapper> 