<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('详细基本资料')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <link rel="stylesheet" th:href="@{/checkFonts/css/lanrenzhijia.css}">

</head>
<body class="white-bg" style="height: 100%;width: 100%;">
<div class="wrapper wrapper-content animated fadeInRight ibox-content" style="z-index: 0">
    <div style="margin-left: 2%;font-size: 15pt">

        <table>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600;">事件名称：</text>
                </td>
                <td>
                    [[${event.eventName}]]
                </td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600">事件地点：</text>
                </td>
                <td> [[${event.eventPlace}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600">事件时间：</text>
                </td>
                <td> [[${eventTime}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600"> 事件内容：</text>
                </td>
                <td> [[${event.eventContent}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600"> 上&nbsp;&nbsp;报&nbsp;&nbsp;人：</text>
                </td>
                <td> [[${event.eventSubmitUser}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600"> 联系电话：</text>
                </td>
                <td> [[${event.eventPhone}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600">所属单位：</text>
                </td>
                <td> [[${event.eventUnit}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600">上报时间：</text>
                </td>
                <td> [[${eventSubmitTime}]]</td>
            </tr>
            <tr>
                <td>
                    <text style="font-family: 苹方;font-weight: 600">现场图片：</text>
                </td>
                <td>
                    <th:block th:each="list,list2:${eventPicture}">

                        <a th:if="${list2.index==0}" id="example1" th:href="${list.eventPictureUrl}">
                            <img  th:src="${list.eventPictureUrl}"
                                 style="width: 100px;height: 100px;margin-top: 20px"/></a>
                        <a id="example2" th:if="${list2.index!=0  and list2.index==1}" th:href="${list.eventPictureUrl}">
                            <img  th:src="${list.eventPictureUrl}"
                                 style="width: 100px;height: 100px;margin-left: 20px;margin-top: 20px"
                            />
                        </a>
                        <a th:if="${list2.index!=0  and list2.index==2}" id="example3" th:href="${list.eventPictureUrl}">
                            <img  th:src="${list.eventPictureUrl}"
                                 style="width: 100px;height: 100px;margin-left: 20px;margin-top: 20px"
                            />
                        </a>
                        <a th:if="${list2.index!=0 and list2.index==3}" id="example4" th:href="${list.eventPictureUrl}">
                            <img  th:src="${list.eventPictureUrl}"
                                 style="width: 100px;height: 100px;margin-left: 20px;margin-top: 20px"
                            />
                        </a>
                    </th:block>
                </td>
            </tr>
        </table>


    </div>


</div>


<script th:src="@{/checkFonts/js/jquery.min.js}"></script>
<script th:src="@{/checkFonts/js/jquery.imgbox.pack.js}"></script>

<script>
    $(function () {

        $("#example1").imgbox({
            'speedIn': 0,
            'speedOut': 0,
            'alignment': 'center',
            'overlayShow': true,
            'allowMultiple': false
        });
        $("#example2").imgbox({
            'speedIn': 0,
            'speedOut': 0,
            'alignment': 'center',
            'overlayShow': true,
            'allowMultiple': false
        });
        $("#example3").imgbox({
            'speedIn': 0,
            'speedOut': 0,
            'alignment': 'center',
            'overlayShow': true,
            'allowMultiple': false
        });
        $("#example4").imgbox({
            'speedIn': 0,
            'speedOut': 0,
            'alignment': 'center',
            'overlayShow': true,
            'allowMultiple': false
        });
    });
</script>


</body>
