<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>Newground Application</title>
<link th:href="@{/dist/static/css/chunk-6bbca11f.85ccbb00.css}" rel="prefetch">
<link th:href="@{/dist/static/js/chunk-6bbca11f.160ae2ba.js}" rel="prefetch">
<link th:href="@{/dist/static/css/app.e0309381.css}" rel="preload" as="style">
<link th:href="@{/dist/static/css/chunk-vendors.0340a989.css}" rel=preload as=style>
<link th:href="@{/dist/static/js/app.14a2c4b3.js}" rel="preload" as="script">
<link th:href="@{/dist/static/js/chunk-vendors.b26d9198.js}" rel="preload" as="script">
<link th:href="@{/dist/static/css/chunk-vendors.0340a989.css}" rel="stylesheet">
<link th:href="@{/dist/static/css/app.e0309381.css}" rel="stylesheet">
</head>
<body>
	<div id=app></div>
	<script th:src="@{/dist/static/js/chunk-vendors.b26d9198.js}"></script>
	<script th:src="@{/dist/static/js/app.14a2c4b3.js}"></script>
	
</body>
</html>