<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>Newground Application</title>
<link th:href="@{/dist_index/static/css/chunk-31f4df80.85ccbb00.css}" rel=prefetch>
<link th:href="@{/dist_index/static/css/chunk-5ba8c5d5.224e7e97.css}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-042cae34.1df3444b.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-150ad333.87e4ad5e.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-25bbf142.a93473ba.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-2e49678a.a282740e.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-31f4df80.196afcda.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-54cddb6f.f1dd2f35.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-5ba8c5d5.d4b71fb5.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-b1c2cfc6.0b40262b.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-d933eb2c.558d3ee6.js}" rel=prefetch>
<link th:href="@{/dist_index/static/js/chunk-e7842bcc.ed1555ac.js}" rel=prefetch>
<link th:href="@{/dist_index/static/css/app.fa9d8585.css}" rel=preload as=style>
<link th:href="@{/dist_index/static/css/chunk-vendors.b80cec6e.css}" rel=preload as=style>
<link th:href="@{/dist_index/static/js/app.968c64f0.js}" rel=preload as=script>
<link th:href="@{/dist_index/static/js/chunk-vendors.156a7046.js}" rel=preload as=script>
<link th:href="@{/dist_index/static/css/chunk-vendors.b80cec6e.css}" rel=stylesheet>
<link th:href="@{/dist_index/static/css/app.fa9d8585.css}" rel=stylesheet>
</head>
<script>
	if (document.referrer === 'http://120.24.159.39:8851/') {
		window.location.href = 'http://vx.newground.cn:6868/'
	}
	console.log('document.referrer', document.referrer)
</script>
<body>
	<noscript>
		<strong>We're sorry but vms doesn't work properly without
			JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<script th:src="@{/dist_index/static/js/chunk-vendors.156a7046.js}"></script>
	<script th:src="@{/dist_index/static/js/app.968c64f0.js}"></script>
</body>
</html>