<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>Newground Application</title>
<link th:href="@{/dist_n_index2/static/css/chunk-6bbca11f.85ccbb00.css}" rel=prefetch>
<link th:href="@{/dist_n_index2/static/js/chunk-6bbca11f.e03f7bb4.js}" rel=prefetch>
<link th:href="@{/dist_n_index2/static/css/app.db7c7627.css}" rel=preload as=style>
<link th:href="@{/dist_n_index2/static/css/chunk-vendors.0340a989.css}" rel=preload as=style>
<link th:href="@{/dist_n_index2/static/js/app.00a6c5e4.js}" rel=preload as=script>
<link th:href="@{/dist_n_index2/static/js/chunk-vendors.636e86df.js}" rel=preload as=script>
<link th:href="@{/dist_n_index2/static/css/chunk-vendors.0340a989.css}" rel=stylesheet>
<link th:href="@{/dist_n_index2/static/css/app.db7c7627.css}" rel=stylesheet>
</head>
<script>
	if (document.referrer === 'http://120.24.159.39:8851/') {
		window.location.href = 'http://vx.newground.cn:6868/'
	}
	console.log('document.referrer', document.referrer)
</script>
<body>
	<noscript>
		<strong>We're sorry but vms doesn't work properly without
			JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<script th:src="@{/dist_n_index2/static/js/chunk-vendors.636e86df.js}"></script>
	<script th:src="@{/dist_n_index2/static/js/app.00a6c5e4.js}"></script>
</body>
</html>