<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
	<th:block th:include="include :: header('修改设备信息')" />
	<th:block th:include="include :: cropbox-css" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="form"  class="form-horizontal m" th:object="${obj}">
        <input name="id" type="hidden" th:field="*{id}" />
        <input name="supplierid" type="hidden" id="treeId" th:field="*{supplierid}" />
        <h4 class="form-header h4">基本信息</h4>
        
        <div class="container">
			<div class="row clearfix">
				<div class="col-md-8">
					 <div class="row">
						<div class="col-sm-6">
							   <div class="form-group">
								   <label class="col-sm-4 control-label">设备编号：</label>
								   <div class="col-sm-8">
									   <input name="dnumber" class="form-control" type="text" th:field="*{dnumber}" >
								   </div>
							   </div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">设备类型：</label>
								<div class="col-sm-8">
									<div class="input-group">
											<select class="selectpicker form-control" name="dtype"  id="dtype" type="text"  th:field="*{dtype}">
											 <option value="机械设备">机械设备</option>
											  <option value="电器电柜">电器电柜</option>
											  <option value="自控仪表">自控仪表</option>
											</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							   <div class="form-group">
								   <label class="col-sm-4 control-label">设备名称：</label>
								   <div class="col-sm-8">
									   <input name="dname" class="form-control" type="text" th:field="*{dname}" >
								   </div>
							   </div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">设备别名：</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input name="dalias" class="form-control" type="text" th:field="*{dalias}">
									</div>
								</div>
							</div>
						</div>
					</div>
			
					 <div class="row">
						<div class="col-sm-6">
							   <div class="form-group">
								   <label class="col-sm-4 control-label">设备品牌：</label>
								   <div class="col-sm-8">
									   <input name="dbrand" class="form-control" type="text" th:field="*{dbrand}" >
								   </div>
							   </div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">设备型号：</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input name="dmodel" class="form-control" type="text" th:field="*{dmodel}">
									</div>
								</div>
							</div>
						</div>
					</div>
			
					<div class="row">
						<div class="col-sm-6">
							   <div class="form-group">
								   <label class="col-sm-4 control-label">购买时间：</label>
								   <div class="col-sm-8">
									   <input id="buytime" name="buytime" class="time-input form-control " data-type="datetime" data-format="yyyy-MM-dd HH:MM" th:field="*{buytimeStr}"/>
								   </div>
							   </div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">投用时间：</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input id="beganusetime" name="beganusetime" class="time-input form-control " data-type="datetime" data-format="yyyy-MM-dd HH:MM" th:field="*{beganusetimeStr}"/>
									</div>
								</div>
							</div>
						</div>
					</div>
			
					<div class="row">
						<div class="col-sm-6">
							   <div class="form-group">
								   <label class="col-sm-4 control-label">安装位置：</label>
								   <div class="col-sm-8">
									   <input name="installationsite" class="form-control" type="text" th:field="*{installationsite}" >
								   </div>
							   </div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">设备状态：</label>
								<div class="col-sm-8">
									<div class="input-group">
											<select class="selectpicker form-control" name="dstatus" th:field="*{dstatus}"  id="dstatus" type="text" >
											 <option value="正常运行">正常运行</option>
											  <option value="停机保养">停机保养</option>
											  <option value="设备停用">设备停用</option>
											  <option value="设备故障">设备故障</option>
											  <option value="设备封存">设备封存</option>
											</select>
									</div>
								</div>
							</div>
						</div>
					</div>
			
			
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<div class="row">
	                        <img class=" img-lg" th:src=" @{/img/sample.jpg} ">
	                    </div>
	                    <div class="row">
	                    	<a href="">修改</a>
	                    </div>
	                    <div class="row">
	                    	<a href="">生产设备二维码</a>
	                    </div>
	                    <div class="row">
	                        <img class=" img-sm" th:src=" @{/img/sample2.jpg} ">
	                    </div>
                    </div>
				</div>
			</div>
		</div>
        
        <h4 class="form-header h4">供应商信息</h4>
       	<div class="row">
			<div class="col-sm-10" >
				   <div class="form-group">
					   <label class="col-sm-2 control-label">选择供应商:</label>
					   <div class="col-sm-8">
					   	<textarea name="suppliername"  onclick="selectSupplier()" id="treeName" class="form-control" type="text" th:field="*{supplierStr}"></textarea>
					   </div>
				   </div>
			</div>
		</div>
	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
	<script>
	    var prefix = ctx + "op/dev/drainagenetworkinfo";
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        

        /*用户管理-新增-选择部门树*/
        function selectSupplier() {
        	var treeId = $("#treeId").val();
        	var sid = $.common.isEmpty(treeId) ? "0" : $("#treeId").val();
        	var url = ctx + "op/dev/supplier/selectSupplier/" + sid;
			var options = {
				title: '选择供应商',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
        
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	$.operate.saveTab(prefix + "/edit", data);
	        }
	    }
		 // 上传文件
        function sendFile(file, obj) {
            var data = new FormData();
            data.append("file", file);
            $.ajax({
                type: "POST",
                url: ctx + "common/upload",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                    } else {
                        $.modal.alertError(result.msg);
                    }
                },
                error: function(error) {
                    $.modal.alertWarning("上传失败。");
                }
            });
        }
		 
        $(document).ready(function () {
            $("#fileinput-demo-1").fileinput({
                'theme': 'explorer-fas',
                showPreview: false,
                maxFileCount: 1,
                'uploadUrl': '/common/upload',
                overwriteInitial: false
            });

            $("#fileinput-demo-1").on("fileuploaded", function (event, data, previewId, index) {
                console.log(data.response);
                if(data.response.code == 0){
                    $('#imgUrl').val(data.response.url);
                }
            });
            
            $("#fileinput-demo-2").fileinput({
                'theme': 'explorer-fas',
                showPreview: false,
                maxFileCount: 1,
                'uploadUrl':  '/common/upload',
                overwriteInitial: false
            });

            $("#fileinput-demo-2").on("fileuploaded", function (event, data, previewId, index) {
                console.log(data.response);
                if(data.response.code == 0){
                    $('#imgUrl2').val(data.response.url);
                }
            });

        });
    </script>
</body>
</html>
