<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('日志列表')" />
</head>
<body>
	<div class="container-div">

		<div class="col-sm-12 search-collapse">
			<form id="role-form">
				<div class="select-list">
					<ul>
						<li>用户：
							<input type="text" name="userAccount"></li>
						<li>日志内容：
							<input type="text" name="logContent"></li>
						<li class="select-time">
							<label>录入时间：</label>
							<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]" lay-key="3">
							<span>-</span>
							<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]" lay-key="4"></li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">
								<i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()">
								<i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>

	</div>

	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('dm:log:edit')}]];
        var removeFlag = [[${@permission.hasPermi('dm:log:remove')}]];
        var prefix = ctx + "dm/log";


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "操作日志",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'logId',
                        title: '序号'
                    },
                    {
                        field: 'logDate',
                        title: '录入时间',
                        sortable: true
                    },
                    {
                        field: 'logContent',
                        title: '日志内容',
                        sortable: true
                    },
                    {
                        field: 'userAccount',
                        title: '用户',
                        sortable: true
                    },
                    {
                        field: 'logIp',
                        title: '来源IP',
                        sortable: true
                    },
                    {
                        field: 'logResult',
                        title: '操作结果',
                        sortable: true
                    }]
            };
            $.table.init(options);
        });
	</script>
</body>
</html>