<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<style>
		#form-role-add{
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-140px;
			margin-left:-250px;
		}
		td{
			height:35px;
			width:260px;
		}
	</style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-role-add">
			<table>
				<tr>
					<td><label class="control-label ">身份证号：</label>
					<input class="form-control" type="text" name="idCard" id="idCard" required></td>
					<td><label class="control-label ">姓名：</label>
					<input class="form-control" type="text" name="name" id="name" required></td>
				</tr>
				<tr>
					<td><label class="control-label">性别：</label>
					<input class="form-control" type="radio" name="sex" id="male" required>
					<label for="male">男</label>
					<input class="form-control" type="radio" name="sex" id="female" required>
					<label for="female">女</label></td>
					<td><label class="control-label">出生日期：</label>
					<input class="form-control" type="date" name="birthday" id="birthday" required>	</td>
				</tr>
				<tr>
					<td><label class="control-label">电话号码：</label>
					<input class="form-control" type="tel" name="telephone" id="telephone" required></td>
					<td><label class="control-label">邮箱：</label>
					<input class="form-control" type="email" name="email" id="email" required></td>
				</tr>
				<tr>
					<td><label class="control-label ">职称：</label>
					<input class="form-control" type="text" name="title" id="title" required></td>
					<td><label class="control-label ">专业资质：</label>
					<input class="form-control" type="text" name="profession" id="profession" required></td>
				</tr>
				<tr>
					<td><label class="control-label ">职称：</label>
					<input class="form-control" type="text" name="title" id="title" required></td>
					<td><label class="control-label ">专业资质：</label>
					<input class="form-control" type="text" name="profession" id="profession" required></td>
				</tr>
				<tr>
					<td><label class="control-label ">所属公司：</label>
					<select>
						<option></option>
					</select></td>
					<td><label class="control-label ">部门：</label>
					<select>
						<option></option>
					</select></td>
				</tr>
				<tr>
					<td><label class="control-label ">职位：</label>
					<input class="form-control" type="text" name="position" id="position" required></td>
					<td></td>
				</tr>
			</table>
		</form>	
	<script type="text/javascript">
		$("#form-role-add").validate({
			rules:{
				onkeyup: false,
				roleName:{
					remote: {
		                url: ctx + "system/role/checkRoleNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"roleName" : function() {
		                		return $.common.trim($("#roleName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleSort:{
					digits:true
				},
			},
			messages: {
		        "roleName": {
		            remote: "角色名称已经存在"
		        }
		    },
		    focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	add();
	        }
	    }
	
		function add() {
			var roleName = $("input[name='roleName']").val();
			var roleKey = $("input[name='roleKey']").val();
			var roleSort = $("input[name='roleSort']").val();
			var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
			var remark = $("input[name='remark']").val();
			var menuIds = $.tree.getCheckedNodes();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "employee/add",
				data : {
					"roleName": roleName,
					"roleKey": roleKey,
					"roleSort": roleSort,
					"status": status,
					"remark": remark,
					"menuIds": menuIds
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
	</script>
</body>
</html>
