<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.employee.CompanyMapper">
	<resultMap type="Company" id="companyResult">
		<id     property="company_id"       column="COMPANY_ID"        />
		<result property="company_name"     column="COMPANY_NAME"      />
		<result property="address"           column="ADDRESS"           />
		<result property="representative"   column="REPRESENTATIVE"    />
		<result property="business_scope"   column="BUSINESS_SCOPE"    />
		<result property="registered_capital" column="REGISTERED_CAPITAL"/>
		<result property="qualification" column="QUALIFICATION" />
	</resultMap>
	
	<!-- 查询全部公司名称和代码(用于下拉菜单) -->
	<select id="selectAllCompanyName" parameterType="Company" resultMap="companyResult">
		select COMPANY_ID,COMPANY_NAME,ADDRESS,REPRESENTATIVE,BUSINESS_SCOPE,
		REGISTERED_CAPITAL,QUALIFICATION from EMPLOYEE_T_COMPANY
	</select>
	
	<!-- 查询全部公司信息 -->
	<select id="selectAllCompany" parameterType="Company" resultMap="companyResult">
		select COMPANY_ID,COMPANY_NAME,ADDRESS,REPRESENTATIVE,BUSINESS_SCOPE,
		REGISTERED_CAPITAL,QUALIFICATION from EMPLOYEE_T_COMPANY where 1=1
		<if test="company_name != null and company_name != ''">
			and COMPANY_NAME like concat(concat('%',#{company_name}),'%') 
		</if>
		<if test="address != null and address != ''">
			and ADDRESS like concat(concat('%',#{address}),'%')  
		</if>
		<if test="business_scope != null and business_scope != ''">
			and BUSINESS_SCOPE like concat(concat('%',#{business_scope}),'%') 
		</if>
	</select>
	
	<!-- 查询某个公司名称 (用于组织结构图) -->
	<select id="selectCompanyById" parameterType="String" resultType="String">
		select COMPANY_NAME from EMPLOYEE_T_COMPANY where COMPANY_ID = #{company_id}
	</select>
	
	<!-- 添加，修改公司时判断公司代码是否重复 -->
	<select id="checkCompanyIdUnique" parameterType="String" resultMap="companyResult">
		select * from EMPLOYEE_T_COMPANY c where c.COMPANY_ID = #{company_id}
	</select>
	
	<!-- 添加公司 -->
	<insert id="insertCompany" parameterType="com.szps.web.domain.employee.Company" keyProperty="company_id">
 		insert into EMPLOYEE_T_COMPANY(COMPANY_ID,COMPANY_NAME,ADDRESS,REPRESENTATIVE,BUSINESS_SCOPE,
 		REGISTERED_CAPITAL,QUALIFICATION) values(#{company_id},#{company_name},#{address},#{representative},
 		 #{business_scope},#{registered_capital},#{qualification})
	</insert>
	
	<!-- 通过公司代码查询某个公司信息 -->
	<select id="selectCompanyById2" parameterType="String" resultMap="companyResult">
		select COMPANY_ID,COMPANY_NAME,ADDRESS,REPRESENTATIVE,BUSINESS_SCOPE,
		REGISTERED_CAPITAL,QUALIFICATION from EMPLOYEE_T_COMPANY where COMPANY_ID = #{company_id}
	</select>
	
	<!-- 修改保存公司信息 -->
	<update id="updateCompany" parameterType="Company">
		update EMPLOYEE_T_COMPANY
		<set>
 			<if test="company_id != null and company_id != ''">COMPANY_ID = #{company_id},</if>
 			<if test="company_name != null and company_name != ''">COMPANY_NAME = #{company_name},</if>
 			<if test="address != null and address != ''">ADDRESS = #{address},</if>
 			<if test="representative != null and representative != ''">REPRESENTATIVE = #{representative},</if>
 			<if test="business_scope != null and business_scope != ''">BUSINESS_SCOPE = #{business_scope},</if>
 			<if test="registered_capital != null and registered_capital != ''">REGISTERED_CAPITAL = #{registered_capital},</if>
 			<if test="qualification != null and qualification != ''">QUALIFICATION = #{qualification} </if>
 		</set>
 		where COMPANY_ID = #{company_id}
	</update>
	
	<!-- 删除公司信息 -->
	<delete id="deleteCompanyById" parameterType="String">
		delete from EMPLOYEE_T_COMPANY where COMPANY_ID in 
 		<foreach collection="array" item="company_id" open="(" separator="," close=")">
 			#{company_id}
 		</foreach>
	</delete>
	
</mapper>