<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.employee.ProjectMapper">
	<resultMap type="Project" id="projectResult">
		<id     property="company_id"       column="COMPANY_ID"        />
		<result property="pipe_project" column="PIPE_PROJECT"          />
		<result property="project_scope" column="PROJECT_SCOPE"        />
		<result property="pipe_stop_time" column="PIPE_STOP_TIME" />
		<result property="project_company_name" column="PROJECT_COMPANY_NAME" />
		<result property="project_company_address" column="PROJECT_COMPANY_ADDRESS" />
		<result property="project_people" column="PROJECT_PEOPLE" />
		<result property="project_header" column="PROJECT_HEADER" />
		<result property="telephone" column="TELEPHONE" />
	</resultMap>
	
	<!-- 通过公司ID查询全部项目信息 -->
	<select id="selectProjectById" parameterType="Project" resultMap="projectResult">
		select COMPANY_ID,PIPE_PROJECT,PROJECT_SCOPE,to_char(PIPE_STOP_TIME,'yyyy-mm-dd') as PIPE_STOP_TIME,
		PROJECT_COMPANY_NAME,PROJECT_COMPANY_ADDRESS,PROJECT_PEOPLE,PROJECT_HEADER,TELEPHONE 
		from EMPLOYEE_T_CP_PROJECT where COMPANY_ID = #{company_id}
		<!-- <if>
		</if> -->
	</select>
	
	<!-- 校验运营项目唯一性 -->
	<select id="checkProjectUnique" parameterType="String" resultMap="projectResult">
		  select * from EMPLOYEE_T_CP_PROJECT p where p.PIPE_PROJECT = #{pipe_project}
	</select>
	
	<!-- 添加项目信息 -->
	<insert id="insertProject" parameterType="com.szps.web.domain.employee.Project" keyProperty="company_id">
 		insert into EMPLOYEE_T_CP_PROJECT(COMPANY_ID,PIPE_PROJECT,PROJECT_SCOPE,PIPE_STOP_TIME,
 		PROJECT_COMPANY_NAME,PROJECT_COMPANY_ADDRESS,PROJECT_PEOPLE,PROJECT_HEADER,TELEPHONE) values(#{company_id},
 		#{pipe_project},#{project_scope},to_date(#{pipe_stop_time},'yyyy-mm-dd'),#{project_company_name},
 		#{project_company_address},#{project_people},#{project_header},#{telephone})
	</insert>
	
	<!-- 通过项目名查询项目信息 -->
	<select id="selectProjectByName" parameterType="String" resultMap="projectResult">
		select COMPANY_ID,PIPE_PROJECT,PROJECT_SCOPE,to_char(PIPE_STOP_TIME,'yyyy-mm-dd') as PIPE_STOP_TIME,
		PROJECT_COMPANY_NAME,PROJECT_COMPANY_ADDRESS,PROJECT_PEOPLE,PROJECT_HEADER,TELEPHONE 
		from EMPLOYEE_T_CP_PROJECT where PIPE_PROJECT = #{pipe_project}
	</select>
	
	<!-- 修改项目信息 -->
	<update id="updateProject" parameterType="Project">
 		update EMPLOYEE_T_CP_PROJECT
 		<set>
 			<if test="company_id != null and company_id != ''">COMPANY_ID = #{company_id},</if>
 			<if test="pipe_project != null and pipe_project != ''">PIPE_PROJECT = #{pipe_project},</if>
 			<if test="project_scope != null and project_scope != ''">PROJECT_SCOPE = #{project_scope},</if>
 			<if test="pipe_stop_time != null and pipe_stop_time != ''">PIPE_STOP_TIME = to_date(#{pipe_stop_time},'yyyy-mm-dd'),</if>
 			<if test="project_company_name != null and project_company_name != ''">PROJECT_COMPANY_NAME = #{project_company_name},</if>
 			<if test="project_company_address != null and project_company_address != ''">PROJECT_COMPANY_ADDRESS = #{project_company_address},</if>
 			<if test="project_people != null and project_people != ''">PROJECT_PEOPLE = #{project_people},</if>
 			<if test="project_header != null and project_header != ''">PROJECT_HEADER = #{project_header},</if>
 			<if test="telephone != null and telephone != ''">TELEPHONE = #{telephone}</if>
 		</set>
 		where PIPE_PROJECT = #{pipe_project}
	</update>
	
	<!-- 删除项目信息 -->
	<delete id="deleteProjectByName" parameterType="String">
 		delete from EMPLOYEE_T_CP_PROJECT where PIPE_PROJECT in 
 		<foreach collection="array" item="pipe_project" open="(" separator="," close=")">
 			#{pipe_project}
 		</foreach>
 	</delete>
	
</mapper>