<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.employee.WorkerMapper">
	<resultMap type="Worker" id="WorkerResult">
		<id     property="idCard"       column="IDCARD"        />
		<result property="name"     column="NAME"          />
		<result property="sex"      column="SEX"           />
		<result property="join_work_time"     column="JOIN_WORK_TIME"      />
		<result property="education"    column="EDUCATION"     />
		<result property="title"      column="TITLE"         />
		<result property="profession"     column="PROFESSION"    />
		<result property="company_name"   column="COMPANY_NAME"  />
		<result property="position"     column="POSITION"      />
		<result property="department_name"   column="DEPARTMENT_NAME" />
		<result property="qualification_certificate" column="QUALIFICATION_CERTIFICATE" />
	</resultMap>

	<sql id="selectWorkerVo">
		SELECT * FROM EMPLOYEE_T_WORKER w 
	</sql>
	<sql id="selectWorkerVo2">
		SELECT IDCARD,NAME,SEX,to_char(JOIN_WORK_TIME,'yyyy-mm-dd') as JOIN_WORK_TIME,EDUCATION,
        TITLE,PROFESSION,COMPANY_NAME,POSITION,DEPARTMENT_NAME,
        QUALIFICATION_CERTIFICATE FROM EMPLOYEE_T_WORKER,EMPLOYEE_T_DEPARTMENT
         WHERE EMPLOYEE_T_WORKER.DEPARTMENT_ID = EMPLOYEE_T_DEPARTMENT.DEPARTMENT_ID
	</sql>

	<!-- 查询全部从业人员 -->
	<select id="selectAllWorker" parameterType="Worker" resultMap="WorkerResult">
        <include refid="selectWorkerVo2" />
        <if test="name != null and name !=''">
			AND EMPLOYEE_T_WORKER.NAME like concat(concat('%',#{name}),'%')
		</if>
		<if test="company_name != null and company_name != ''">
			AND EMPLOYEE_T_WORKER.COMPANY_NAME like concat(concat('%',#{company_name}),'%')
		</if>
	</select>
	
	<!-- 添加，修改从业人员时判断身份证号是否重复 -->
	<select id="checkWorkerIdcardUnique" parameterType="String" resultMap="WorkerResult">
		<include refid="selectWorkerVo"/>
		  where w.IDCARD = #{idCard}
	</select>
	
	<!-- 添加从业人员 -->
	<insert id="insertWorker" parameterType="com.szps.web.domain.employee.Worker" keyProperty="idCard">
 		insert into EMPLOYEE_T_WORKER(IDCARD,NAME,SEX,JOIN_WORK_TIME,EDUCATION,TITLE,
 		PROFESSION,COMPANY_NAME,POSITION,DEPARTMENT_ID,QUALIFICATION_CERTIFICATE)
 		 values(#{idCard},#{name},#{sex},to_date(#{join_work_time},'yyyy-mm-dd'),
 		 #{education},#{title},#{profession},#{company_name},#{position}
 		 ,#{department_name},#{qualification_certificate})
	</insert>
	
	<!-- 通过身份证号查询某个从业人员 -->
	<select id="selectWorkerById" parameterType="String" resultMap="WorkerResult">
         <include refid="selectWorkerVo2" />
         and IDCARD = #{idCard}
	</select>
	
	<!-- 修改保存从业人员信息 -->
	<update id="updateWorker" parameterType="Worker">
 		update EMPLOYEE_T_WORKER
 		<set>
 			<if test="idCard != null and idCard != ''">IDCARD = #{idCard},</if>
 			<if test="name != null and name != ''">NAME = #{name},</if>
 			<if test="sex != null and sex != ''">SEX = #{sex},</if>
 			<if test="join_work_time != null and join_work_time != ''">JOIN_WORK_TIME = to_date(#{join_work_time},'yyyy-mm-dd'),</if>
 			<if test="education != null and education != ''">EDUCATION = #{education},</if>
 			<if test="title != null and title != ''">TITLE = #{title},</if>
 			<if test="profession != null and profession != ''">PROFESSION = #{profession},</if>
 			<if test="company_name != null and company_name != ''">COMPANY_NAME = #{company_name},</if>
 			<if test="position != null and position != ''">POSITION = #{position},</if>
 			<if test="department_name != null and department_name != ''">DEPARTMENT_ID = #{department_name},</if>
 			<if test="qualification_certificate != null and qualification_certificate != ''">QUALIFICATION_CERTIFICATE = #{qualification_certificate} </if>
 		</set>
 		where IDCARD = #{idCard}
	</update>
	
	<!-- 删除从业人员信息 -->
	<delete id="deleteWorkerById" parameterType="String">
 		delete from EMPLOYEE_T_WORKER where IDCARD in 
 		<foreach collection="array" item="idCard" open="(" separator="," close=")">
 			#{idCard}
 		</foreach>
 	</delete>
	
</mapper>