<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    	<div id="map" style="width:100%;height: 100%;margin: 0 auto"></div>
    <script th:src="@{/ruoyi/echarts.js}"></script>
    <script th:src="@{/ruoyi/jquery-1.9.1.min.js}"></script>
	<script th:inline="javascript">
	$(function(){
		var myChart = echarts.init(document.getElementById('map'));
		$.get('/map/sz.json',function(geoJson){
			echarts.registerMap('sz',geoJson,{});
			var option = {
			    tooltip: {
			        trigger: 'item',
	            	formatter: '{b}<br/>{c} (p / km2)'
			    },
			     visualMap: {
			    	show: false,
		            min: 500,
		            max: 50000,
		            text:['High','Low'],
		            left: 'right',
		            realtime: false,
		            calculable: true,
		            inRange: {
		            	 color: ['#dee04e','#b5d395', '#71c8d1','#B4EEB4']
		            } 
		        },
			    series: [
			        {
			        	name: '深圳',
			            type: 'map',
			            mapType: 'sz',
			            aspectScale: 0.85,  //地图长度比
			            label: {
			                normal: {
			                    show: true,
			                    textStyle: {
			                        color: '#000000'
			                    }
			                },
			                emphasis: {
			                    show: true,
			                    textStyle: {
			                        color: '#000000'
			                    }
			                }
			            },
			            data: [
			            	{name: '大鹏区', value: 12000},
		                    {name: '坪山区', value: 11000},
		                    {name: '龙岗区', value: 15000},
		                    {name: '福田区', value: 20000},
		                    {name: '盐田区', value: 25000},
		                    {name: '罗湖区', value: 30000},
		                    {name: '南山区', value: 18000},
		                    {name: '龙华区', value: 2300},
		                    {name: '光明区', value: 20000},
		                    {name: '宝安区', value: 16000}
			            ]
			        }                              
			    ]
			};
			myChart.setOption(option);
		});
	});
	</script>
</body>
</html>
