<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('设备清单')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="info-form">
				<input name="areaId" type="hidden" id="treeId2"/>
					<div class="select-list">
						<ul>
							<li>
		                        <label >所属区：</label>
                            	<input name="areaName" onclick="selectAreaTree()" id="treeName2" type="text" placeholder="" >
							</li>
							
							<li>
		                         <label >名称：</label>
                            	<input name="dname"  id="dname" type="text" >
							</li>
							<li>
		                         <label >别名：</label>
                            	<input name="dalias"  id="dalias" type="text" >
							</li>
							<li>
		                         <label >编号：</label>
                            	<input name="dnumber"  id="dnumber" type="text" >
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		<div class="select-list">
			<ul>
				<li>
                   	<a class="btn"  th:href="'/op/dev/boinfo'"  style="border-color: #EE0000">设备清单</a>
                   	<a class="btn"  th:href="'/op/dev/bosupplier'"  style="border-color: #1a7bb9">供应商</a>
                   	<a class="btn"  th:href="'/op/dev/bospare'"  style="border-color: #1a7bb9">备品备件</a>
                   	<a class="btn"  th:href="'/op/dev/bomaintenance'"  style="border-color: #1a7bb9">维保信息</a>
				</li>
			</ul>
		</div>	
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="dev:boinfo:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dev:boinfo:delete">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dev:boinfo:export">
		            <i class="fa fa-download"></i> 导出
		        </a> -->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "op/dev/boinfo";
        var viewFlag = [[${@permission.hasPermi('dev:boinfo:view')}]];
        var editFlag = [[${@permission.hasPermi('dev:boinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('dev:boinfo:delete')}]];
        
       
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                
                modalName: "列表",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号' 
				},
				{
					field : 'dname', 
					title : '名称' 
				},
				{
		            field: 'dnumber',
		            title: '编号',
		        },
		        {
		            field: 'dbrand',
		            title: '品牌',
		        },
		        {
		            field: 'dalias',
		            title: '别名',
		        },
		        {
		            field: 'dstatus',
		            title: '状态',
		        },		        
		        {
		            field: 'remark',
		            title: '备注',
		        },
		        {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        
        /*用户管理-新增-选择部门树*/
        function selectAreaTree() {
        	
        	var treeId = $("#treeId2").val();
        	var deptId = $.common.isEmpty(treeId) ? "3" : $("#treeId2").val();
        	var url = ctx + "system/area/selectAreaTree/" + deptId;
			var options = {
				title: '选择区域',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			//if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId2").val(body.find('#treeId2').val());
    			$("#treeName2").val(body.find('#treeName2').val());
    			layer.close(index);
			//}
		}
    </script>
</body>
</html>