<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('任务列表')" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">

		<div class="col-sm-12 search-collapse">
			<form id="role-form">
				<div class="select-list">
					<ul>
						<li>
							任务区域：<input type="search" name="tbTask.taskPartition" maxlength="11" placeholder="请输入任务区域"/>
						</li>
						<li>
							任务内容：<input type="search" name="tbTask.taskConnecting" placeholder="请输入任务内容"/>
						</li>
						<li>
							任务名称：<input type="search" name="tbTask.taskName" maxlength="8" placeholder="请输入任务名称"/>
						</li>
						<li class="select-time">
							<label>创建时间： </label>
							<input type="text" class="time-input" id="feedbackTime" placeholder="选择创建时间" name="feedbackTime"/>
						</li>
						<li>
							<a class="btn btn-main btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-main2 btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">

			<a class="btn btn-main2" onclick="$.operate.add()" shiro:hasPermission="supervise:complete:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-main2 " onclick="$.operate.removeAll()" shiro:hasPermission="supervise:complete:remove">
				<i class="fa fa-remove"></i> 删除
			</a>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('supervise:complete:edit')}]];
    var removeFlag = [[${@permission.hasPermi('supervise:complete:remove')}]];
    var prefix = ctx + "supervise/complete";
    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/TaskFeedback",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "taskNumber",
            modalName: "已完成任务",
            columns: [{
                checkbox: true
            },
                {
                    field: 'feedbackId',
                    title: '反馈任务id',
                    visible:false
                },
                {
                    field: 'taskNumber',
                    title: '任务编号',
                    sortable: true
                },
                {
                    field: 'tbTask.taskName',
                    title: '任务名称',
                    visible:false

                },
                {
                    field: 'tbTask.taskPartition',
                    title: '任务区域'

                },
                {
                    field: 'feedbackInformation',
                    title: '反馈信息'

                },
                {
                    field: 'tbTask.taskConnecting',
                    title: '任务内容'

                },
                {
                    field: 'tbStaffList',
                    title: '检查人员',
                    formatter:function(value,row,index){
                        var s=[];
                        for(var i=0;i<value.length;i++)
                        {
                            var b=JSON.stringify(value[i]);
                            var a=JSON.parse(b);

                            s.push('<span >'+a.staffName+'</span>&nbsp;&nbsp;&nbsp;');

                        }
                        return s.join('');
                    }

                },
                {
                    field: 'feedbackTime',
                    title: '创建时间'

                },
                {
                    field: 'pictureList',
                    title: '现场图片',
                    formatter: function(value, row, index) {
                        var s=[];
						for(var i=0;i<value.length;i++)
						{
						    var b=JSON.stringify(value[i]);
                            var a=JSON.parse(b);

                             s.push('<a class = "view"  href="javascript:void(0)"><img style="width: 40px; height: 40px" src='+a.pictureLocation+'/>&nbsp;&nbsp;&nbsp;</a>');

						}
                        return s.join('');
                    },
                    events:'operateEvents'

                },
                {
                    field: 'enclosureList',
                    title: '附件',
                    formatter:function(value,row,index){
                        var s=[];
                        for(var i=0;i<value.length;i++)
                        {
                            var b=JSON.stringify(value[i]);
                            var a=JSON.parse(b);

                            s.push('<a  class = "aaa"  href="javascript:void(0)" kkk='+a.enclosureId+'><span >'+a.enclosureName+'</span>&nbsp;&nbsp;&nbsp;</a>');

                        }
                        return s.join('');
                    },
                    events:'oEvents'
                }
                ]
        };

        $.table.init(options);
    });

    window.operateEvents = {
        'click .view': function () {
            var a=$(this).children().attr('src');
            layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                area: ['300px','300px'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img  id="img1" src='+a+'/>'
            });
            $("#img1").css({
				'width':'300px',
				'height':'300px'
			})
        }
    };
    window.oEvents = {
        'click .aaa': function () {
            var enclosureId=$(this).attr('kkk');
            window.location.href = ctx + "supervise/complete/download?enclosureId=" +enclosureId;
        }
    };

</script>
</body>
</html>