<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('公司列表')" />
	<link th:href="@{/css/employee/employee.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="factory-form">
					<div class="select-list">
						<ul>
							<li>
								公司名称：<input type="search" name="company_name" placeholder="请输入"/>
							</li>
							<li>
								地址：<input type="search" name="address" placeholder="请输入"/>
							</li>
							<li>
								经营范围：<input type="search" name="business_scope" placeholder="请输入"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<div class="select-list">
					<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="employee:worker:add">
	                	<i class="fa fa-plus"></i> 新增
	            	</a>
					<a class="btn btn-danger" onclick="$.operate.removeAll()" shiro:hasPermission="employee:worker:remove">
			            <i class="fa fa-remove"></i> 删除
			        </a>
			        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:company:export">
			            <i class="fa fa-download"></i> 导出
			        </a>
			        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        <table>
			        	<tr>
			        		<a class="btn" href="/employee/worker">人员信息</a>
				        	<a class="btn" href="/employee/factory">水厂信息</a>
				        	<a class="btn  btn-main" href="/employee/company">公司信息</a>
				        	<a class="btn" href="/employee/department">部门信息</a>
			        	</tr>
			        </table>
				</div>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('employee:company:edit')}]]; //编辑权限
		var removeFlag = [[${@permission.hasPermi('employee:company:remove')}]]; //删除权限
		var detailFlag = [[${@permission.hasPermi('employee:company:detail')}]]; //详情权限
		var prefix = ctx + "employee/company";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        detailUrl: prefix + "/detail/{id}",
		        exportUrl: prefix + "/export",
		        sortName: "company_name",
		        modalName: "公司",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'company_id',
		            title: '公司代码',
		        },
		        {
		            field: 'company_name',
		            title: '公司名称',
		            sortable: true
		        },
		        {
		            field: 'address',
		            title: '地址',
		            sortable: true
		        },
		        {
		            field: 'representative',
		            title: '法人',
		            sortable: true
		        },
		        {
		            field: 'business_scope',
		            title: '经营范围',
		            sortable: true
		        },
		        {
		            field: 'registered_capital',
		            title: '注册资本/万元',
		            sortable: true
		        },
		        {
		            field: 'qualification',
		            title: '企业资质',
		            sortable: true
		        },
		        {
		            title: '运营项目',
		            align: 'center',
		            sortable: false,
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="" href="javascript:void(0)" onclick="query(\'' + row.company_name + '\',\'' + row.company_id + '\')">查看项目</a>');
		            	return actions.join('');
		            }
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.company_id + '\')">编辑</a>'+"  ");
		                actions.push('<a class="' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.company_id + '\')">详情</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		
		/* 公司信息-查看（某公司运营项目） */
		function query(company_name,company_id) {
		    var url = ctx + "employee/project" + '/project/' + company_id;
		    $.modal.openTab(company_name + "运营项目", url);
		}
	</script>
</body>
</html>