<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('公司详细')" />
	<link rel="stylesheet" th:href="@{/jQrgChart/jquery.jOrgChart.css}"/>
	<link rel="stylesheet" th:href="@{/jQrgChart/jQCstyle.css}" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<!--显示组织架构图-->
		<div id="jOrgChart"></div>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript" th:src="@{/jQrgChart/jquery.jOrgChart.js}"></script>
	<script type="text/javascript">	
		$(function(){
	        //组织结构图异步
	        $.ajax({
	            url: "/employee/company/detail/orgChart",
	            type: 'POST',
	            dataType: 'JSON',
	            //data: {action: 'org_select'},
	            success: function(result){
	            	console.log(result);
	            	console.log(result.data);
	                var showlist = $("<ul id='org' style='display:none'></ul>");
	                showall(result.data, showlist);
	                $("#jOrgChart").append(showlist);
	                $("#org").jOrgChart( {
	                    chartElement : '#jOrgChart',//指定在某个dom生成jorgchart
	                    dragAndDrop : false //设置是否可拖动
	                });
	
	            }
	        });
	    });
	
	    function showall(menu_list, parent) {
	        $.each(menu_list, function(index, val) {
	            //if(val.childrens.length > 0){ //如果子节点是对象像是
	            if(val.childrens != null){ //子节点用是数组形式
	                var li = $("<li></li>");
	                li.append("<a href='javascript:void(0)' onclick=getOrgId("+val.id+");>"+val.name+"</a>").append("<ul></ul>").appendTo(parent);
	                //递归显示
	                showall(val.childrens, $(li).children().eq(1));
	            }else{
	                $("<li></li>").append("<a href='javascript:void(0)' onclick=getOrgId("+val.id+");>"+val.name+"</a>").appendTo(parent);
	            }
	        });
	
	    }
	</script>
</body>
</html>
