<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('增加供应商')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="form"  class="form-horizontal m">
        <input name="deptid" type="hidden" id="treeId"/>
        	<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label "><span style="color: red; ">*</span>单位名称：</label>
						<div class="col-sm-8">
								<input name="deptname" onclick="selectDeptTree()" type="text" id="treeName" class="form-control" required/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">所在地点：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="dlocation" id="dlocation" >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">建筑物名称：</label>
						<div class="col-sm-8">
								<input name="assetname"  type="text" id="assetname" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">结构：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="structure" id="structure" >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">建成年月：</label>
						<div class="col-sm-8">
								<input name="builttime"  class="time-input form-control"  type="text" id="builttime"  data-type="date" data-format="yyyy-MM-dd"/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">数量（栋）：</label>
						<div class="col-sm-8">
							<input class="form-control" type="number" name="howmany" id="howmany" >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">层数：</label>
						<div class="col-sm-8">
								<input name="floors"  type="number" id="floors" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">占地面积(m<sup>2</sup>)：</label>
						<div class="col-sm-8">
							<input class="form-control" type="number" name="darea" id="darea" >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">建筑面积(m<sup>2</sup>)：</label>
						<div class="col-sm-8">
								<input name="floorage"  type="number" id="floorage" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">房屋现状：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="dstatus" id="dstatus" >
						<span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 按正常使用、待报废、闲置、已拆除、待修理等现状填列</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">原值（元）：</label>
						<div class="col-sm-8">
								<input name="originalvalue"  type="number" id="originalvalue" class="form-control" />
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-8">
							<textarea class="form-control" type="text" name="remark" id="remark" ></textarea>
						</div>
					</div>
				</div>
			</div>
	</form>
    </div>
	<th:block th:include="include :: footer" />
	<script>
	    var prefix = ctx + "op/fixedasset/building";
	
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	$.operate.save(prefix + "/add", data);
	        }
	    }
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "1140" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree2/1140" ;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
         
    </script>
</body>
</html>
