<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('管理')" />
    <link th:href="@{/css/employee/manage.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
   <ul class="nav nav-tabs" role="tablist">
        <li role="presentation class="active""><a onclick="toggle('op/fixedasset/building')" role="tab" data-toggle="tab">房屋建筑物</a></li>
        <li role="presentation"><a onclick="toggle('op/fixedasset/structure')" role="tab" data-toggle="tab">构筑物</a></li>
        <li role="presentation"><a onclick="toggle('op/fixedasset/pipeline')" role="tab" data-toggle="tab">管道和沟槽</a></li>
        <li role="presentation"><a onclick="toggle('op/fixedasset/machine')" role="tab" data-toggle="tab">机器设备</a></li>
        <li role="presentation"><a onclick="toggle('op/fixedasset/car')" role="tab" data-toggle="tab">车辆</a></li>
        <li role="presentation"><a onclick="toggle('op/fixedasset/officeequipment')" role="tab" data-toggle="tab">电子办公设备</a></li>
        <li role="presentation"><a onclick="toggle('op/fixedasset/plant')" role="tab" data-toggle="tab">绿化树木</a></li>
    </ul>
    

    
    <div class="container-div">
		<div class="row" style="width:100%;height:100%;" id="content-main">
        	<iframe class="RuoYi_iframe" id="content-iframe" name="iframe0" width="100%" height="100%" data-id="/op/fixedasset/building"
                th:src="@{/op/fixedasset/building(deptId=${deptId})}" frameborder="0" seamless></iframe>
    	</div>
	</div>
    
   <script th:inline="javascript">

       function toggle(url) {
    	   var d = '[[${deptId}]]';
           $("#content-iframe").attr("src",ctx+url+"?deptId="+d);
           $("#content-iframe").attr("data-id",ctx+url);
       }
    </script>
    <th:block th:include="include :: footer" />
</body>
</html>