<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('增加供应商')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="form"  class="form-horizontal m">
        <input name="deptid" type="hidden" id="treeId"/>
        	<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label "><span style="color: red; ">*</span>单位名称：</label>
						<div class="col-sm-8">
								<input name="deptname" onclick="selectDeptTree()" type="text" id="treeName" class="form-control" required/>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">所在地点：</label>
						<div class="col-sm-8">
							<input class="form-control" type="text" name="dlocation" id="dlocation" >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">名称：</label>
						<div class="col-sm-8">
								<input name="assetname"  type="text" id="assetname" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">高度(m)：</label>
						<div class="col-sm-8">
							<input class="form-control" type="number" step="0.01" name="height" id="height" >
						</div>
					</div>
				</div>
			</div>						
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">胸径（cm）：</label>
						<div class="col-sm-8">
								<input class="form-control" type="number" name="dbh" id="dbh" >
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">蓬径（m）：</label>
						<div class="col-sm-8">
							<input class="form-control" type="number" name="crowndiameter" id="crowndiameter" >
						</div>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">计量单位：</label>
						<div class="col-sm-8">
								<input name="measurement"  type="text" id="measurement" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">实际数量：</label>
						<div class="col-sm-8">
							<input class="form-control" type="number" name="realquantity" id="realquantity" >
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
			<div class="col-sm-6">
		        	<div class="form-group">
						<label class="col-sm-3 control-label ">原值（元）：</label>
						<div class="col-sm-8">
								<input name="originalvalue"  type="number" id="originalvalue" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-8">
							<textarea class="form-control" type="text" name="remark" id="remark" ></textarea>
						</div>
					</div>
				</div>
			</div>
	</form>
    </div>
	<th:block th:include="include :: footer" />
	<script>
	    var prefix = ctx + "op/fixedasset/plant";
	
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	$.operate.save(prefix + "/add", data);
	        }
	    }
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "1140" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree2/1140" ;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
         
    </script>
</body>
</html>
