<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('资产列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="asset-form">
				<input name="deptId" type="hidden" id="treeId"/>
					<div class="select-list">
						<ul>
							<li>
		                        <label >单位名称：</label>
                            	<input name="deptname" th:value="${deptname}"  onclick="selectDeptTree()" id="treeName" type="text" placeholder="" >
							</li>
							<li>
		                        <label >所在地点：</label>
                            	<input name="dlocation"  id="dlocation" type="text" placeholder="" >
							</li>
							<li>
		                        <label >名称：</label>
                            	<input name="assetname"  id="assetname" type="text" placeholder="" >
							</li>
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <div class="select-list">
		        	<a class="btn"  th:href="'/op/fixedasset'"  style="border-color: #1a7bb9">返回地图</a>
					<a class="btn "  th:href="@{'/op/fixedasset/building?deptname='+${deptname}}"  style="border-color: #1a7bb9">房屋建筑物</a>
                   	<a class="btn btn-info"  th:href="@{'/op/fixedasset/structure?deptname='+${deptname}}"  style="border-color: #EE0000">构筑物</a>
                   	<a class="btn"  th:href="@{'/op/fixedasset/pipeline?deptname='+${deptname}}"  style="border-color: #1a7bb9">管道和沟槽</a>
                   	<a class="btn"  th:href="@{'/op/fixedasset/machine?deptname='+${deptname}}"  style="border-color: #1a7bb9">机器设备</a>
                   	<a class="btn"  th:href="@{'/op/fixedasset/car?deptname='+${deptname}}"  style="border-color: #1a7bb9">车辆</a>
                   	<a class="btn"  th:href="@{'/op/fixedasset/officeequipment?deptname='+${deptname}}"  style="border-color: #1a7bb9">电子办公设备</a>
                   	<a class="btn"  th:href="@{'/op/fixedasset/plant?deptname='+${deptname}}"  style="border-color: #1a7bb9">绿化树木</a>
				</div>
		        <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="fixedasset:structure:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fixedasset:structure:delete">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fixedasset:structure:export">
		            <i class="fa fa-download"></i> 导出
		        </a> -->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "op/fixedasset/structure";
        var viewFlag = [[${@permission.hasPermi('fixedasset:structure:view')}]];
        var editFlag = [[${@permission.hasPermi('fixedasset:structure:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fixedasset:structure:delete')}]];
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                
                modalName: "构筑物",
                columns: [{
		            checkbox: true
		        },
		        {
		        	field : 'id', 
		        	title : '序号' 
		        },
		        {
		        	field : 'deptname', 
		        	title : '单位名称' 
		        },
		        {
		        	field : 'dlocation', 
		        	title : '所在地点' 
		        },
		        {
		        	field: 'assetname',
		        	title: '名称',
		        },
		        {
		        	field: 'structure',
		        	title: '结构',
		        },
		        {
		        	field: 'builttime',
		        	title: '建成年月',
		        },
		        {
		        	field : 'dwidth', 
		        	title : '长度/直径（m）' 
		        },
		        {
		        	field: 'dwidth',
		        	title: '宽度（m）',
		        },
		        {
		        	field: 'dhigh',
		        	title: '高/深度（m）',
		        },
		        {
		        	field: 'howmany',
		        	title: '数量（座）',
		        },
		        {
		        	field : 'dvolume', 
		        	title : '体积（m<sup>3</sup>）' 
		        },
		        {
		        	field: 'dstatus',
		        	title: '构筑物现状',
		        },
		        {
		        	field: 'originalvalue',
		        	title: '原值',
		        },
		        {
		        	field : 'remark', 
		        	title : '备注' 
		        },
		        {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>