<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('资产列表')" />
  <link rel="stylesheet" href="https://js.arcgis.com/3.28/dijit/themes/claro/claro.css">
  <link rel="stylesheet" href="https://js.arcgis.com/3.28/esri/css/esri.css">
  
  <script src="https://js.arcgis.com/3.28/"></script>
</head>
<body class="gray-bg">
			<div class="col-sm-12 search-collapse">
				<div class="select-list">
					<ul>
						
						<li>
                           	<a class="btn"  th:href="'/op/fixedasset/building'"  style="border-color: #1a7bb9">房屋建筑物</a>
                           	<a class="btn"  th:href="'/op/fixedasset/structure'"  style="border-color: #1a7bb9">构筑物</a>
                           	<a class="btn"  th:href="'/op/fixedasset/pipeline'"  style="border-color: #1a7bb9">管道和沟槽</a>
                           	<a class="btn"  th:href="'/op/fixedasset/machine'"  style="border-color: #1a7bb9">机器设备</a>
                           	<a class="btn"  th:href="'/op/fixedasset/car'"  style="border-color: #1a7bb9">车辆</a>
                           	<a class="btn"  th:href="'/op/fixedasset/officeequipment'"  style="border-color: #1a7bb9">电子办公设备</a>
                           	<a class="btn"  th:href="'/op/fixedasset/plant'"  style="border-color: #1a7bb9">绿化树木</a>
						</li>						
						
					</ul>
				</div>
			</div>

	<div data-dojo-type="dijit/layout/BorderContainer" 
         data-dojo-props="design:'headline',gutters:true" 
         style="width: 100%; height: 100%; margin: 0;">
      <div id="viewDiv" 
           data-dojo-type="dijit/layout/ContentPane" 
           data-dojo-props="region:'center'"> 
      </div>
    </div>
	<script>
  var map, queryTask, query;
  var symbol, infoTemplate,stationUrl;
 var spatialReference, centreLayer, clusterLayer, stationlabellayer, popupTemplate;

    require([
        "dojo/dom-construct",
		"esri/layers/FeatureLayer",
		"esri/dijit/FeatureTable",
		"esri/map",		
        "dojo/dom",
		"dojo/parser",
		"dojo/ready",
        "dojo/on",
        "dijit/layout/ContentPane",
        "dijit/layout/BorderContainer",
		"dijit/form/TextBox",		
        "dojox/charting/themes/GreySkies",		
        "esri/Color",
        "esri/dijit/Popup",
        "esri/dijit/PopupTemplate",         
        "esri/symbols/SimpleFillSymbol",
        "esri/symbols/SimpleLineSymbol",		
        "esri/tasks/GeometryService",		
        "esri/SpatialReference",
		"esri/layers/ArcGISDynamicMapServiceLayer",
		"esri/geometry/Extent",
		"esri/tasks/QueryTask",			
        "esri/symbols/PictureMarkerSymbol",
        "esri/symbols/TextSymbol",
        "esri/symbols/Font",
        "esri/graphic",
        "esri/tasks/query",
        "esri/SpatialReference",
        "esri/layers/GraphicsLayer"
    ], function (
    	domConstruct,
		FeatureLayer, 
		FeatureTable, 
		Map,
    	dom, 
		parser, 
		ready, 
		on,
    	ContentPane, 
		BorderContainer, 
		TextBox,    	
		GreySkies, 
		Color,     	
		Popup, 
		PopupTemplate,    	
		SimpleFillSymbol, 
		SimpleLineSymbol, 
		GeometryService,    	
		SpatialReference,
		ArcGISDynamicMapServiceLayer,
		Extent,
		QueryTask,
		PictureMarkerSymbol,
		TextSymbol,
		Font,
		Graphic,
		Query,
		SpatialReference,
		GraphicsLayer
    ) {
      parser.parse();

      ready(function(){
    	  var spatialReference = new SpatialReference({
	            "wkt" : "PROJCS[\"Prj_suplic\",GEOGCS[\"Geo_suplic\",DATUM[\"\u003ccustom\u003e\",SPHEROID[\"\u003ccustom\u003e\",1.0,0.0]],PRIMEM[\"\u003ccustom\u003e\",0.0],UNIT[\"\u003ccustom\u003e\",1.0]],PROJECTION[\"Aitoff\"],PARAMETER[\"False_Easting\",0.0],PARAMETER[\"False_Northing\",0.0],PARAMETER[\"Central_Meridian\",0.0],UNIT[\"Meter\",1.0]]"
	          });
        	this.spatialReference = spatialReference;
          var sls = new SimpleLineSymbol("solid", new Color("#444444"), 3);
          var sfs = new SimpleFillSymbol("solid", sls, new Color([68, 68, 68, 0.25]));

          var popupOptions = {
            fillSymbol: sfs,
            marginLeft: "20",
            marginTop: "20"
          };
          //create a popup to replace the map's info window
          var popup = new Popup(popupOptions, domConstruct.create("div"));


          map = new Map('viewDiv', {
              logo: false,
              slider: false,
              showLabels: true,
  				infoWindow: popup
            });
  		this.map = map;
        	/* dojo.connect(map,"onLoad",() => {
              //地图加载后，监听到鼠标移动或拖动事件
              dojo.connect(map,"onMouseMove", this.onMouseMoveMap);
              dojo.connect(map,"onMouseDrag", this.onMouseDragMap);
            }); */
          
        	var popupTemplate = new PopupTemplate({
              "title": "净化厂信息",
              /* "fieldInfos": [{
                  "fieldName": "X",
                  "label": "X",
                  "format": {
                    "places": 0,
                    "digitSeparator": true
                  }
                }, {
                  "fieldName": "Y",
                  "label": "Y",
                  "format": {
                    "places": 0,
                    "digitSeparator": true
                  },
                  "statisticType": "sum"
                }, {
                  "fieldName": "High",
                  "label": "High"
                }, {
                  "fieldName": "High",
                  "label": "Block"
                }], */
              "description": "{Name}<br>{Road}<br>{Exp_No}<br><a href='/op/fixedasset/building/'>详细信息</a>"        
            });
  		this.popupTemplate= popupTemplate;
        	var layer = new ArcGISDynamicMapServiceLayer(
  	            'http://120.79.27.112:6080/arcgis/rest/services/SZPS/basemapBlue/MapServer',    //蓝色底图
  	            // 'http://120.79.27.112:6080/arcgis/rest/services/SZPS/basemapWhite/MapServer', //白色底图
  	            {
  	            title: '底图',
  	          });
  	          map.addLayer(layer) ;
   	          
  	        var stationUrl = 'http://120.79.27.112:6080/arcgis/rest/services/SZPS/InArea/MapServer';
  	      
  	        addStationLayer(stationUrl);
  	        
   		    this.stationUrl = stationUrl;
  		   // this.query(stationUrl+'/0','1=1',this.InitClusterStation,null);
  		   //InitStationlabel();//***加标注图层
  		  //地图事件绑定
  	          map.on('click', this.onClickMap);
  	             map.on("extent-change", onExtentChange);
  	         // map.on("layer-add-result", addGraphicLayer);
  	          
    	          map.setExtent(new Extent(80617.22443728315,8328.23133160757,170239.66431892154,55445.38700977585,spatialReference),true);

	        function addStationLayer(url) {
		    	/* var centreLayer = new FeatureLayer( url + '/0', {
		            id: 'stationpoint',
		            outFields: ['*'],
		            visible: true,
		            showLabels:true,
		       }); */
		       
		       
		    	var centreLayer = new FeatureLayer(url + '/0', {
		    		 id: 'stationpoint',
		             visible: true,
			         showLabels:true,
		            mode: FeatureLayer.MODE_SNAPSHOT,
		            infoTemplate: this.popupTemplate,
		            outFields: ["*"]
		          });
		       this.centreLayer = centreLayer;
		       
		       this.map.addLayer(centreLayer);  //如果不需要聚类效果，则直接加载发布的数据
		      	/* centreLayer.on("mouse-over", this.onMouseOverStation);
		       centreLayer.on("mouse-out", this.onMouseOutStation);
		       centreLayer.on('click', onClickStation);  */
		    }
	      
		  //点击厂站事件，如果没用聚合效果，则直接使用自己的代码
			 function  onClickStation(e) {
				alert(e.graphic.attributes.Name);
				 
			 }    
		    //向发布的地图服务查询数据的函数
		  	    //url:要查询的地图服务链接
		  	    //where:where子句，全部查询可传入1=1"
		  	    //callback:查询后要执行的函数,会给该函数传入返回值(queryResults)
		  	    //geometry:要查询的几何范围
		  	  function  query(url, where,callback, geometry) {
		  	        var queryTask = new QueryTask(url);
		  	        var query = new Query();
		  	        //query.objectIds = [22];
		  	        if(geometry!=null)
		  	        {
		  	          query.geometry = geometry;
		  	        }
		  	     
		  	        query.outFields = ["*"];
		  	        query.returnGeometry = true;
		  	        query.where = where;
		  	        
		  	      	queryTask.execute(query, function(queryResults){
		  	          if(callback) {
		  	        	  callback(queryResults);
		  	          }
		  	        });
		  	    }
		  	    
		  	
		  	 function addGraphicLayer(){
		  		
			  	query(this.stationUrl+"/0","1=1",queryAllstation,null);
			 }
		  	 
		  	//地图的显示范围变化事件，调用addGraphicLayer重新绘制
		  	 function   onExtentChange(e) {
		  	      addGraphicLayer();
		  	      // console.log("onExtentChange",this.centreLayer)
		  	      // this.DrawStationText()
		  	    }
		  	function queryAllstation(queryResults){
		  		 
		  	      for(var i = 0;i< queryResults.features.length;i++){
		  	    	var pGeometry= queryResults.features[i].geometry
		  	        var name = queryResults.features[i].attributes.Name
		  	        var OID = queryResults.features[i].attributes.OBJECTID
		  	        var pictureMarkerSymbol = new PictureMarkerSymbol("http://120.79.27.112:6060/img/svg/气泡框.svg", (name.length*18+25), 45);
		  	        pictureMarkerSymbol.setOffset(0, 25);
		  	        pictureMarkerSymbol.setColor(new Color(76, 124, 191, 1));
		  	        var attr = {"OBJECTID":OID};
		  	        var graphic = new Graphic(pGeometry, pictureMarkerSymbol);
		  	        var textsymbol = new TextSymbol(name);
		  	        textsymbol.setFont(new Font("12pt").setFamily("Microsoft YaHei"))
		  	        textsymbol.setOffset(0, 20);
		  	        textsymbol.setColor(new Color([255,255,255,0.8]));
		  	        var graphicText = new Graphic(pGeometry, textsymbol);
		  	        graphic.setAttributes(attr);
		  	        graphicText.setAttributes(attr);
		  	        // graphic.attr("Name", name)
		  	        // graphicText.attr("Name", name)
		  	        this.stationlabellayer.add(graphic);
		  	        this.stationlabellayer.add(graphicText);
		  	      }
		  	    }
		  	
		  	function InitStationlabel(){
		  	      // this.stationlabellayer.clear();
		  	      this.stationlabellayer =  new GraphicsLayer();
		  	      this.stationlabellayer.dataAttributes = "Name"
		  	      this.stationlabellayer.hasAttributionData = true 
		  	      
		  	      // this.stationlabellayer = stationlabellayer;
		  	      this.map.addLayer(this.stationlabellayer);


		  	      // debugger
		  	    } 
        
        
        
      });
    });
  </script>
</body>
</html>