<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('资产列表')" />
	<link href="../static/ruoyi/css/tundra.css"	th:href="@{/ruoyi/css/tundra.css}" rel="stylesheet" />
<link href="../static/ruoyi/css/jsapi.css"	th:href="@{/ruoyi/css/jsapi.css}" rel="stylesheet" />
	
</head>
<body class="gray-bg">
			<div class="col-sm-12 search-collapse">
				<div class="select-list">
					<ul>
						
						<li>
                           	<a class="btn"  th:href="'/op/fixedasset/building'"  style="border-color: #1a7bb9">房屋建筑物</a>
                           	<a class="btn"  th:href="'/op/fixedasset/structure'"  style="border-color: #1a7bb9">构筑物</a>
                           	<a class="btn"  th:href="'/op/fixedasset/pipeline'"  style="border-color: #1a7bb9">管道和沟槽</a>
                           	<a class="btn"  th:href="'/op/fixedasset/machine'"  style="border-color: #1a7bb9">机器设备</a>
                           	<a class="btn"  th:href="'/op/fixedasset/car'"  style="border-color: #1a7bb9">车辆</a>
                           	<a class="btn"  th:href="'/op/fixedasset/officeequipment'"  style="border-color: #1a7bb9">电子办公设备</a>
                           	<a class="btn"  th:href="'/op/fixedasset/plant'"  style="border-color: #1a7bb9">电子办公设备</a>
                           	
                           	<a class="btn" href="javascript:void(0)" onclick="plant()" style="border-color: #1a7bb9">绿化树木</a>
                         	
						</li>						
						
					</ul>
				</div>
			</div>

    <div dojotype="dijit.layout.BorderContainer" design="headline"
		gutters="true" style="width: 100%; height: 100%; margin: 0;">
		
		<div id="map" dojotype="dijit.layout.ContentPane" region="center">
		</div>
	</div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
		var djConfig = {
			parseOnLoad : true
		};
	</script>
	<script type="text/javascript"
		src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.6">
		
	</script>
	<script type="text/javascript">
		dojo.require("dijit.layout.BorderContainer");
		dojo.require("dijit.layout.ContentPane");
		dojo.require("esri.map");
		var map;
		function init() {
			map = new esri.Map("map");
			var layer = new esri.layers.ArcGISDynamicMapServiceLayer(
					"http://120.79.27.112:6080/arcgis/rest/services/SZPS/basemapBlue/MapServer");
			map.addLayer(layer);
			var resizeTimer;
			dojo.connect(map, 'onLoad', function(theMap) {
				dojo.connect(dijit.byId('map'), 'resize', function() {
					clearTimeout(resizeTimer);
					resizeTimer = setTimeout(function() {
						map.resize();
						map.reposition();
					}, 500);
				});
			});
		}
		dojo.addOnLoad(init);
	</script>
</body>
</html>