<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('污水费资料列表')" />
    <link th:href="@{/css/dm/dm.css}" rel="stylesheet"/>
    <script th:src="@{/js/dm/dm.js}" type="text/javascript"></script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">

        <div class="col-sm-12 search-collapse">
            <form id="data-form">
                <input name="costFactoryId" id="treeIdBrf" type="text" hidden>
                <div class="select-list">
                    <ul>
                        <li>
                            <label>类型：</label>
                            <select  name="type" id="time-select">
                                <option value=""></option>
                                <option value="申请支付时间">申请支付时间</option>
                                <option value="实际支付月份">实际支付月份</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>时间：</label>
                            <input type="text" style="width: 150px" id="time" name="params[time]">
                        </li>
                        <li>
                            <label>水质净化厂：</label>
                            <input name="costFactory" onclick="selectBrfTree()" id="treeNameBrf" type="text" placeholder="" >
                        </li>
                        <li>
                            <label>处罚原因：</label>
                            <select  name="costPunishReason">
                                <option value=""></option>
                                <option value="出水超标COD">出水超标COD</option>
                                <option value="出水超标BOD">出水超标BOD</option>
                                <option value="出水超标氨氮">出水超标氨氮</option>
                                <option value="出水超标TP">出水超标TP</option>
                                <option value="出水超标TN">出水超标TN</option>
                                <option value="出水超标SS">出水超标SS</option>
                                <option value="出水超标粪大肠菌群">出水超标粪大肠菌群</option>
                                <option value="出水超标污泥含量">出水超标污泥含量</option>
                                <option value="其他">其他</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">
                                <i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()">
                                <i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="dm:data:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-main2 multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dm:data:remove">
                <i class="fa fa-trash"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>

    </div>
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript">

    var editFlag = [[${@permission.hasPermi('dm:data:edit')}]];
    var removeFlag = [[${@permission.hasPermi('dm:data:remove')}]];

    var prefix = ctx+"dm/cost";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "污水费资料",
            columns: [{
                checkbox: true
            },
                {
                    field: 'costId',
                    title: '序号',
                    sortable: true
                },
                {
                    field: 'costFactory',
                    title: '水质净化厂'
                },
                {
                    field: 'costApplyTime',
                    title: '申请支付时间',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return formatDate(value);
                    }
                },
                {
                    field: 'costPayTime',
                    title: '实际支付月份'
                },
                {
                    field: 'costWaterVolume',
                    title: '实际处理水量(m³)',
                    sortable: true
                },
                {
                    field: 'costPayMoney',
                    title: '实际处理水费(元)',
                    sortable: true
                },
                {
                    field: 'costPunishMoney',
                    title: '处罚金额(元)',
                    sortable: true
                },
                {
                    field: 'costPunishReason',
                    title: '处罚原因'
                },
                {
                    title: '附件',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="downloadSelected(\'' + row.costId + '\')"><i class="fa fa-download"></i>下载</a>');
                        return actions.join('');
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.costId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.costId + '\')"><i class="fa fa-trash"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    $("#time-select").change(function(){
        value = $("#time-select").val();
        if (value == "申请支付时间"){
            $("#time").attr("type","date");
        } else if (value == "实际支付月份") {
            $("#time").attr("type","month");
        } else {
            $("#time").attr("type","text");
        }
        $("#time").val("");
    });


    //文件下载
    function downloadSelected(costId){
        $.modal.confirm("确认下载该文件?", function() {
            var url = prefix + "/download?id="+costId;
            window.location.href = url;
        });
    }

    function formatDate(date) {
        if (date == null || date == '') {
            return "--";
        } else {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }
    }
</script>
</body>
</html>