<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.supervise.TbFeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.szps.web.domain.supervise.TbFeedback" >
    <id column="FEEDBACK_ID" property="feedbackId" jdbcType="VARCHAR" />
    <result column="TASK_NUMBER" property="taskNumber" jdbcType="VARCHAR" />
    <result column="FEEDBACK_INFORMATION" property="feedbackInformation" jdbcType="VARCHAR" />
    <result column="FEEDBACK_TIME" property="feedbackTime" jdbcType="VARCHAR" />
    <association property="tbTask" javaType="com.szps.web.domain.supervise.TbTask">
      <id column="TASK_NUMBER" property="taskNumber"/>
      <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
      <result column="TASK_PARTITION" property="taskPartition" jdbcType="VARCHAR" />
      <result column="TASK_STAFF" property="taskStaff" jdbcType="VARCHAR" />
      <result column="TASK_STAFFNAME" property="taskStaffname" jdbcType="VARCHAR" />
      <result column="TASK_CONNECTING" property="taskConnecting" jdbcType="VARCHAR" />
    </association>

  </resultMap>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_FEEDBACK
    where FEEDBACK_ID = #{feedbackId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.szps.web.domain.supervise.TbFeedback" >
    insert into TB_FEEDBACK (FEEDBACK_ID, TASK_NUMBER,FEEDBACK_INFORMATION, FEEDBACK_TIME)
    values (#{feedbackId,jdbcType=VARCHAR}, #{taskNumber,jdbcType=VARCHAR},#{feedbackInformation,jdbcType=VARCHAR},
      #{feedbackTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.szps.web.domain.supervise.TbFeedback" >
    update TB_FEEDBACK
    set TASK_NUMBER = #{taskNumber,jdbcType=VARCHAR},
      FEEDBACK_NAME = #{feedbackName,jdbcType=VARCHAR},
      FEEDBACK_REGION = #{feedbackRegion,jdbcType=VARCHAR},
      FEEDBACK_CONTENT = #{feedbackContent,jdbcType=VARCHAR},
      FEEDBACK_INFORMATION = #{feedbackInformation,jdbcType=VARCHAR},
      FEEDBACK_DUTY = #{feedbackDuty,jdbcType=VARCHAR},
      FEEDBACK_TIME = #{feedbackTime,jdbcType=VARCHAR},
      FEEDBACK_PICTURE = #{feedbackPicture,jdbcType=VARCHAR},
      FEEDBACK_ENCLOSURE = #{feedbackEnclosure,jdbcType=VARCHAR}
    where FEEDBACK_ID = #{feedbackId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
     select TB_FEEDBACK.FEEDBACK_ID,
    TB_FEEDBACK.TASK_NUMBER,
    TB_FEEDBACK.FEEDBACK_INFORMATION,
    TB_FEEDBACK.FEEDBACK_TIME,
    TB_TASK.TASK_NAME,
    TB_TASK.TASK_PARTITION,
    TB_TASK.TASK_CONNECTING
    from TB_FEEDBACK,TB_TASK
    WHERE  FEEDBACK_ID = #{feedbackId,jdbcType=VARCHAR} AND TB_FEEDBACK.TASK_NUMBER=TB_TASK.TASK_NUMBER
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select FEEDBACK_ID, TASK_NUMBER, FEEDBACK_NAME, FEEDBACK_REGION, FEEDBACK_CONTENT, 
    FEEDBACK_INFORMATION, FEEDBACK_DUTY, FEEDBACK_TIME, FEEDBACK_PICTURE, FEEDBACK_ENCLOSURE
    from TB_FEEDBACK
  </select>

  <select id="countTbFeedback" parameterType="java.lang.String"  resultType="int">
    SELECT COUNT(1)
    FROM TB_TASK,TB_FEEDBACK



    <where>
        TB_FEEDBACK.TASK_NUMBER=TB_TASK.TASK_NUMBER
      <if test="taskRegion != null and taskRegion != ''">
        AND TB_TASK.TASK_REGION = #{taskRegion}
      </if>
      <if test="taskStreet != null and taskStreet != ''">
        AND TB_TASK.TASK_STREET = #{taskStreet}
      </if>
      <if test="feedbackTime != null and feedbackTime != ''">
        and TB_FEEDBACK.FEEDBACK_TIME = #{feedbackTime}
      </if>
    </where>
  </select>

  <select id="selectFeedbackList" parameterType="com.szps.web.domain.supervise.TbFeedback" resultMap="BaseResultMap">
    select TB_FEEDBACK.FEEDBACK_ID,
    TB_FEEDBACK.TASK_NUMBER,
    TB_FEEDBACK.FEEDBACK_INFORMATION,
    TB_FEEDBACK.FEEDBACK_TIME,
    TB_TASK.TASK_NAME,
    TB_TASK.TASK_PARTITION,
    TB_TASK.TASK_CONNECTING
    from TB_FEEDBACK,TB_TASK
    WHERE TB_FEEDBACK.TASK_NUMBER=TB_TASK.TASK_NUMBER

      <if test="tbTask.taskName != null and tbTask.taskName != ''">
       AND TB_TASK.TASK_NAME like concat(concat('%',#{tbTask.taskName}),'%')
      </if>
      <if test="tbTask.taskPartition != null and tbTask.taskPartition != ''">
        AND TB_TASK.TASK_PARTITION like concat(concat('%',#{tbTask.taskPartition}),'%')
      </if>
      <if test="tbTask.taskConnecting != null and tbTask.taskConnecting != ''">
        AND TB_TASK.TASK_CONNECTING like concat(concat('%',#{tbTask.taskConnecting}),'%')
      </if>
      <if test="feedbackTime != null and feedbackTime != ''">
        and TB_FEEDBACK.FEEDBACK_TIME = #{feedbackTime}
      </if>

  </select>

  <delete id="deleteTaskByIds" parameterType="Long">
    delete from  TB_FEEDBACK where FEEDBACK_ID in
    <foreach collection="array" item="feedbackId" open="(" separator="," close=")">
      #{feedbackId}
    </foreach>
  </delete>

  <select id="countMonthTbFeedback" parameterType="java.lang.String"  resultType="int">
    SELECT COUNT(1)
    FROM TB_TASK,TB_FEEDBACK



    <where>
      TB_FEEDBACK.TASK_NUMBER=TB_TASK.TASK_NUMBER
      <if test="taskRegion != null and taskRegion != ''">
        AND TB_TASK.TASK_REGION = #{taskRegion}
      </if>
      <if test="taskStreet != null and taskStreet != ''">
        AND TB_TASK.TASK_STREET = #{taskStreet}
      </if>
      <if test="feedbackTime != null and feedbackTime != ''">
        and TB_FEEDBACK.FEEDBACK_TIME like concat(#{feedbackTime},'%')
      </if>
    </where>
  </select>

  <select id="Checkdfb" parameterType="String" resultType="int">
    select count(1) from TB_FEEDBACK where TB_FEEDBACK.FEEDBACK_ID=#{feedbackId}
  </select>

  <select id="checkTask" parameterType="String" resultType="int">
    select count(1) from TB_FEEDBACK where TB_FEEDBACK.TASK_NUMBER=#{taskNumber}
  </select>
</mapper>