<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('运营项目')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<!-- <div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
				    
				</form>
			</div> -->
	        
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="employee:company:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="employee:company:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('employee:company:edit')}]];
		var prefix = ctx + "employee/project";

		$(function() {
			var options = {
		        url: prefix + "/project/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        sortName: "pipe_project",
		        sortOrder: "desc",
		        modalName: "项目",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'pipe_project',
		            title: '运营项目名',
		            sortable: true
		        },
		        {
		            field: 'company_id',
		            title: '公司代码',
		            sortable: true,
		            visible: false
		        },
		        {
		            field: 'project_scope',
		            title: '运营范围',
		            sortable: true
		        },
		        {
		            field: 'pipe_stop_time',
		            title: '运营截止时间',
		            sortable: true
		        },
		        {
		            field: 'project_company_name',
		            title: '项目公司名称',
		            sortable: true
		        },
		        {
		            field: 'project_company_address',
		            title: '地址',
		            sortable: true
		        },
		        {
		            field: 'project_people',
		            title: '人数',
		            sortable: true
		        },
		        {
		            field: 'project_header',
		            title: '负责人',
		            sortable: true
		        },
		        {
		            field: 'telephone',
		            title: '电话',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.pipe_project + '\')"><i class="fa fa-edit"></i>编辑</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>