<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.AssetMapper">
 
	<resultMap type="Asset" id="result">
		<id     property="id"    column="id"    />
		<result     property="deptId"   column="deptId"   />
		<result     property="name"   column="DEVNAME"   />
		<result     property="number"   column="devnumber"   />
		<result     property="model"   column="devmodel"   />
		<result     property="specs"   column="DEVSPECS"   />
		<result     property="abcCategory"   column="abcCategory"   />
		<result     property="devType"   column="devType"   />
		<result     property="status"   column="DEVSTATUS"   />
		<result     property="purpost"   column="purpost"   />
		<result     property="useDep"   column="useDep"   />
		<result     property="installPlace"   column="installPlace"   />
		<result     property="code"   column="ASSETCODE"   />
		<result     property="manufacturer"   column="manufacturer"   />
		<result     property="makeCountry"   column="makeCountry"   />
		<result     property="proDate"   column="proDate"   />
		<result     property="proCode"   column="proCode"   />
		<result     property="useDate"   column="useDate"   />
		<result     property="assetName"   column="assetName"   />
		<result     property="supplier"   column="supplier"   />
		<result     property="supplierPhone"   column="supplierPhone"   />
		<result     property="gPeriod"   column="gPeriod"   />
		<result     property="mCycle"   column="mCycle"   />
		<result     property="oValue"   column="oValue"   />
		<result     property="assetType"   column="assetType"   />
		<result     property="devVoltage"   column="devVoltage"   />
		<result     property="lift"   column="lift"   />
		<result     property="packWeight"   column="packWeight"   />
		<result     property="remark1"   column="remark1"   />
		<result     property="DPower"   column="DPower"   />
		<result     property="flow"   column="DEVFLOW"   />
		<result     property="pipeCaliber"   column="pipeCaliber"   />
		<result     property="remark2"   column="remark2"   />
		<result     property="Dcurrent"   column="Dcurrent"   />
		<result     property="wight"   column="wight"   />
		<result     property="material"   column="material"   />
		<result     property="remark3"   column="remark3"   />
		<result     property="volume"   column="volume"   />
		<result     property="pressure"   column="pressure"   />
		<result     property="revolution"   column="revolution"   />
		<result     property="remark4"   column="remark4"   />
		<result     property="auNameFirst"   column="auNameFirst"   />
		<result     property="auNameSec"   column="auNameSec"   />
		<result     property="auPower"   column="auPower"   />
		<result     property="auModelFirst"   column="auModelFirst"   />
		<result     property="auModelSec"   column="auModelSec"   />
		<result     property="auCurrent"   column="auCurrent"   />
		<result     property="remark5"   column="remark5"   />
		<result     property="auNumber"   column="auNumber"   />
		<result     property="auVoltage"   column="auVoltage"   />
		<result     property="remark6"   column="remark6"   />
		<result     property="auManufacturer"   column="auManufacturer"   />
		<result     property="auMPhone"   column="auMPhone"   />
		<result     property="auSupplier"   column="auSupplier"   />
		<result     property="auSPhone"   column="auSPhone"   />
		<result     property="remark7"   column="remark7"   />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result property="delFlag"    column="delFlag"    />
		<result     property="dept_id"   column="dept_id"   />		
    </resultMap> 

	<sql id="selectVo">
        select *
        from dev_asset r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" name !=null and name != ''">
				and DEVNAME = #{name}
			</if>
			<if test=" deptId !=null and deptId != ''">
				and deptId = #{deptId}
			</if>
			<if test=" devType !=null and devType != ''">
				and devType = #{devType}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="Asset" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="Asset" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
        <if test=" deptId != null and deptId != 0">
			AND deptId = #{deptId}
		</if>
		<if test=" name != null and name != ''">
			AND DEVNAME = #{name}
		</if>
		<if test=" assetName != null and assetName != ''">
			AND assetName  like concat(concat('%',#{assetName}),'%')
		</if>
		<if test=" devType !=null and devType != ''">
			AND devType  like concat(concat('%',#{devType}),'%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		order by r.id
    </select>
      <select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		update dev_asset set DELFLAG = '2' where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from dev_asset where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="Asset">
 		update dev_asset
 		<set>
			<if test=" deptId != null">deptId = #{deptId},</if>
			<if test=" name != null">DEVNAME = #{name},</if>
			<if test=" number != null">devnumber = #{number},</if>
			<if test=" model != null">devmodel = #{model},</if>
			<if test=" specs != null">DEVSPECS = #{specs},</if>
			<if test=" abcCategory != null">abcCategory = #{abcCategory},</if>
			<if test=" devType != null">devType = #{devType},</if>
			<if test=" status != null">DEVSTATUS = #{status},</if>
			<if test=" purpost != null">purpost = #{purpost},</if>
			<if test=" useDep != null">useDep = #{useDep},</if>
			<if test=" installPlace != null">installPlace = #{installPlace},</if>
			<if test=" code != null">ASSETCODE = #{code},</if>
			<if test=" manufacturer != null">manufacturer = #{manufacturer},</if>
			<if test=" makeCountry != null">makeCountry = #{makeCountry},</if>
			<if test=" proDate != null">proDate = #{proDate},</if>
			<if test=" proCode != null">proCode = #{proCode},</if>
			<if test=" useDate != null">useDate = #{useDate},</if>
			<if test=" assetName != null">assetName = #{assetName},</if>
			<if test=" supplier != null">supplier = #{supplier},</if>
			<if test=" supplierPhone != null">supplierPhone = #{supplierPhone},</if>
			<if test=" gPeriod != null">gPeriod = #{gPeriod},</if>
			<if test=" mCycle != null">mCycle = #{mCycle},</if>
			<if test=" oValue != null">oValue = #{oValue},</if>
			<if test=" assetType != null">assetType = #{assetType},</if>
			<if test=" devVoltage != null">devVoltage = #{devVoltage},</if>
			<if test=" lift != null">lift = #{lift},</if>
			<if test=" packWeight != null">packWeight = #{packWeight},</if>
			<if test=" remark1 != null">remark1 = #{remark1},</if>
			<if test=" DPower != null">DPower = #{DPower},</if>
			<if test=" flow != null">DEVFLOW = #{flow},</if>
			<if test=" pipeCaliber != null">pipeCaliber = #{pipeCaliber},</if>
			<if test=" remark2 != null">remark2 = #{remark2},</if>
			<if test=" Dcurrent != null">Dcurrent = #{Dcurrent},</if>
			<if test=" wight != null">wight = #{wight},</if>
			<if test=" material != null">material = #{material},</if>
			<if test=" remark3 != null">remark3 = #{remark3},</if>
			<if test=" volume != null">volume = #{volume},</if>
			<if test=" pressure != null">pressure = #{pressure},</if>
			<if test=" revolution != null">revolution = #{revolution},</if>
			<if test=" remark4 != null">remark4 = #{remark4},</if>
			<if test=" auNameFirst != null">auNameFirst = #{auNameFirst},</if>
			<if test=" auNameSec != null">auNameSec = #{auNameSec},</if>
			<if test=" auPower != null">auPower = #{auPower},</if>
			<if test=" auModelFirst != null">auModelFirst = #{auModelFirst},</if>
			<if test=" auModelSec != null">auModelSec = #{auModelSec},</if>
			<if test=" auCurrent != null">auCurrent = #{auCurrent},</if>
			<if test=" remark5 != null">remark5 = #{remark5},</if>
			<if test=" auNumber != null">auNumber = #{auNumber},</if>
			<if test=" auVoltage != null">auVoltage = #{auVoltage},</if>
			<if test=" remark6 != null">remark6 = #{remark6},</if>
			<if test=" auManufacturer != null">auManufacturer = #{auManufacturer},</if>
			<if test=" auMPhone != null">auMPhone = #{auMPhone},</if>
			<if test=" auSupplier != null">auSupplier = #{auSupplier},</if>
			<if test=" auSPhone != null">auSPhone = #{auSPhone},</if>
			<if test=" remark7 != null">remark7 = #{remark7},</if>

			<if test=" delFlag != null">delFlag = #{delFlag},</if>
			<if test="  remark != null">remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="Asset">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_dev_asset.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO dev_asset(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" deptId != null">deptId,</if>
			<if test=" name != null">DEVNAME,</if>
			<if test=" number != null">devnumber,</if>
			<if test=" model != null">devmodel,</if>
			<if test=" specs != null">DEVSPECS,</if>
			<if test=" abcCategory != null">abcCategory,</if>
			<if test=" devType != null">devType,</if>
			<if test=" status != null">DEVSTATUS,</if>
			<if test=" purpost != null">purpost,</if>
			<if test=" useDep != null">useDep,</if>
			<if test=" installPlace != null">installPlace,</if>
			<if test=" code != null">ASSETCODE,</if>
			<if test=" manufacturer != null">manufacturer,</if>
			<if test=" makeCountry != null">makeCountry,</if>
			<if test=" proDate != null">proDate,</if>
			<if test=" proCode != null">proCode,</if>
			<if test=" useDate != null">useDate,</if>
			<if test=" assetName != null">assetName,</if>
			<if test=" supplier != null">supplier,</if>
			<if test=" supplierPhone != null">supplierPhone,</if>
			<if test=" gPeriod != null">gPeriod,</if>
			<if test=" mCycle != null">mCycle,</if>
			<if test=" oValue != null">oValue,</if>
			<if test=" assetType != null">assetType,</if>
			<if test=" devVoltage != null">devVoltage,</if>
			<if test=" lift != null">lift,</if>
			<if test=" packWeight != null">packWeight,</if>
			<if test=" remark1 != null">remark1,</if>
			<if test=" DPower != null">DPower,</if>
			<if test=" flow != null">DEVFLOW,</if>
			<if test=" pipeCaliber != null">pipeCaliber,</if>
			<if test=" remark2 != null">remark2,</if>
			<if test=" Dcurrent != null">Dcurrent,</if>
			<if test=" wight != null">wight,</if>
			<if test=" material != null">material,</if>
			<if test=" remark3 != null">remark3,</if>
			<if test=" volume != null">volume,</if>
			<if test=" pressure != null">pressure,</if>
			<if test=" revolution != null">revolution,</if>
			<if test=" remark4 != null">remark4,</if>
			<if test=" auNameFirst != null">auNameFirst,</if>
			<if test=" auNameSec != null">auNameSec,</if>
			<if test=" auPower != null">auPower,</if>
			<if test=" auModelFirst != null">auModelFirst,</if>
			<if test=" auModelSec != null">auModelSec,</if>
			<if test=" auCurrent != null">auCurrent,</if>
			<if test=" remark5 != null">remark5,</if>
			<if test=" auNumber != null">auNumber,</if>
			<if test=" auVoltage != null">auVoltage,</if>
			<if test=" remark6 != null">remark6,</if>
			<if test=" auManufacturer != null">auManufacturer,</if>
			<if test=" auMPhone != null">auMPhone,</if>
			<if test=" auSupplier != null">auSupplier,</if>
			<if test=" auSPhone != null">auSPhone,</if>
			<if test=" remark7 != null">remark7,</if>

			<if test=" remark != null">REMARK,</if>
			<if test=" delFlag != null">delFlag,</if>
			<if test=" createBy != null">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" deptId != null">#{deptId},</if>
			<if test=" name != null">#{name},</if>
			<if test=" number != null">#{number},</if>
			<if test=" model != null">#{model},</if>
			<if test=" specs != null">#{specs},</if>
			<if test=" abcCategory != null">#{abcCategory},</if>
			<if test=" devType != null">#{devType},</if>
			<if test=" status != null">#{status},</if>
			<if test=" purpost != null">#{purpost},</if>
			<if test=" useDep != null">#{useDep},</if>
			<if test=" installPlace != null">#{installPlace},</if>
			<if test=" code != null">#{code},</if>
			<if test=" manufacturer != null">#{manufacturer},</if>
			<if test=" makeCountry != null">#{makeCountry},</if>
			<if test=" proDate != null">#{proDate},</if>
			<if test=" proCode != null">#{proCode},</if>
			<if test=" useDate != null">#{useDate},</if>
			<if test=" assetName != null">#{assetName},</if>
			<if test=" supplier != null">#{supplier},</if>
			<if test=" supplierPhone != null">#{supplierPhone},</if>
			<if test=" gPeriod != null">#{gPeriod},</if>
			<if test=" mCycle != null">#{mCycle},</if>
			<if test=" oValue != null">#{oValue},</if>
			<if test=" assetType != null">#{assetType},</if>
			<if test=" devVoltage != null">#{devVoltage},</if>
			<if test=" lift != null">#{lift},</if>
			<if test=" packWeight != null">#{packWeight},</if>
			<if test=" remark1 != null">#{remark1},</if>
			<if test=" DPower != null">#{DPower},</if>
			<if test=" flow != null">#{flow},</if>
			<if test=" pipeCaliber != null">#{pipeCaliber},</if>
			<if test=" remark2 != null">#{remark2},</if>
			<if test=" Dcurrent != null">#{Dcurrent},</if>
			<if test=" wight != null">#{wight},</if>
			<if test=" material != null">#{material},</if>
			<if test=" remark3 != null">#{remark3},</if>
			<if test=" volume != null">#{volume},</if>
			<if test=" pressure != null">#{pressure},</if>
			<if test=" revolution != null">#{revolution},</if>
			<if test=" remark4 != null">#{remark4},</if>
			<if test=" auNameFirst != null">#{auNameFirst},</if>
			<if test=" auNameSec != null">#{auNameSec},</if>
			<if test=" auPower != null">#{auPower},</if>
			<if test=" auModelFirst != null">#{auModelFirst},</if>
			<if test=" auModelSec != null">#{auModelSec},</if>
			<if test=" auCurrent != null">#{auCurrent},</if>
			<if test=" remark5 != null">#{remark5},</if>
			<if test=" auNumber != null">#{auNumber},</if>
			<if test=" auVoltage != null">#{auVoltage},</if>
			<if test=" remark6 != null">#{remark6},</if>
			<if test=" auManufacturer != null">#{auManufacturer},</if>
			<if test=" auMPhone != null">#{auMPhone},</if>
			<if test=" auSupplier != null">#{auSupplier},</if>
			<if test=" auSPhone != null">#{auSPhone},</if>
			<if test=" remark7 != null">#{remark7},</if>

			<if test=" remark != null">#{remark},</if>
			<if test=" delFlag != null">#{delFlag},</if>
			<if test=" createBy != null">#{createBy},</if>
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>