<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.CheckMapper">
 
	<resultMap type="Check" id="result">
		<id     property="id"    column="id"    />
		<result     property="deptId"   column="deptId"   />
		<result     property="checkDate"   column="checkDate"   />
		<result     property="chineseName"   column="chineseName"   />
		<result     property="englishName"   column="englishName"   />
		<result     property="nameplate"   column="nameplate"   />
		<result     property="supplier"   column="supplier"   />
		<result     property="devModel"   column="devModel"   />
		<result     property="devNumber"   column="devNumber"   />
		<result     property="arrivalDate"   column="arrivalDate"   />
		<result     property="devSize"   column="devSize"   />
		<result     property="devPower"   column="devPower"   />
		<result     property="quantity"   column="quantity"   />
		<result     property="warrantyPeriod"   column="warrantyPeriod"   />
		<result     property="auxiliary"   column="auxiliary"   />
		<result     property="part"   column="part"   />
		<result     property="devType"   column="devType"   />
		<result     property="unitPrice"   column="unitPrice"   />
		<result     property="trafficCost"   column="trafficCost"   />
		<result     property="installCost"   column="installCost"   />
		<result     property="taxes"   column="taxes"   />
		<result     property="sumCost"   column="sumCost"   />
		<result     property="accessory"   column="accessory"   />
		<result     property="keeper"   column="keeper"   />
		<result     property="appearanceC"   column="appearanceC"   />
		<result     property="securityC"   column="securityC"   />
		<result     property="propertyC"   column="propertyC"   />
		<result     property="materialsC"   column="materialsC"   />
		<result     property="qualityC"   column="qualityC"   />
		<result     property="needFuncC"   column="needFuncC"   />
		<result     property="readFuncC"   column="readFuncC"   />
		<result     property="appearanceB"   column="appearanceB"   />
		<result     property="securityB"   column="securityB"   />
		<result     property="propertyB"   column="propertyB"   />
		<result     property="materialsB"   column="materialsB"   />
		<result     property="qualityB"   column="qualityB"   />
		<result     property="needFuncB"   column="needFuncB"   />
		<result     property="readFuncB"   column="readFuncB"   />
		<result     property="appearanceA"   column="appearanceA"   />
		<result     property="securityA"   column="securityA"   />
		<result     property="propertyA"   column="propertyA"   />
		<result     property="materialsA"   column="materialsA"   />
		<result     property="qualityA"   column="qualityA"   />
		<result     property="needFuncA"   column="needFuncA"   />
		<result     property="readFuncA"   column="readFuncA"   />
		<result     property="devSpec"   column="devSpec"   />
		<result     property="purcDeptSign"   column="purcDeptSign"   />
		<result     property="useDeptSign"   column="useDeptSign"   />
		<result     property="facDeptSign"   column="facDeptSign"   />
		<result     property="leaderSign"   column="leaderSign"   />
		
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result property="delFlag"    column="delFlag"    />
		<result     property="dept_id"   column="dept_id"   />		
    </resultMap> 

	<sql id="selectVo">
        select *
        from dev_check r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" checkDate !=null and checkDate != ''">
				and checkDate = #{checkDate}
			</if>
			<if test=" chineseName !=null and chineseName != ''">
				and chineseName like concat(concat('%',#{chineseName}),'%')
			</if>
			<if test=" deptId !=null and deptId != ''">
				and deptId = #{deptId}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="Check" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="Check" resultMap="result">
        <include refid="selectVo"/>
        where  delFlag = '1'
        <if test=" deptId != null and deptId != 0">
			AND deptId = #{deptId}
		</if>
		<if test=" chineseName !=null and chineseName != ''">
				and chineseName like concat(concat('%',#{chineseName}),'%')
			</if>
		<if test=" checkDate != null and checkDate != ''">
			AND checkDate = #{checkDate}
		</if>
		
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		order by r.id, r.checkDate
    </select>
      <select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		update dev_check set DELFLAG = '2' where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from dev_check where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="Check">
 		update dev_check
 		<set>
			<if test=" deptId != null ">deptId = #{deptId},</if>
			<if test=" checkDate != null ">checkDate = #{checkDate},</if>
			<if test=" chineseName != null">chineseName = #{chineseName},</if>
			<if test=" englishName != null">englishName = #{englishName},</if>
			<if test=" nameplate != null">nameplate = #{nameplate},</if>
			<if test=" supplier != null">supplier = #{supplier},</if>
			<if test=" devModel != null">devModel = #{devModel},</if>
			<if test=" devNumber != null">devNumber = #{devNumber},</if>
			<if test=" arrivalDate != null">arrivalDate = #{arrivalDate},</if>
			<if test=" devSize != null">devSize = #{devSize},</if>
			<if test=" devPower != null">devPower = #{devPower},</if>
			<if test=" quantity != null">quantity = #{quantity},</if>
			<if test=" warrantyPeriod != null">warrantyPeriod = #{warrantyPeriod},</if>
			<if test=" auxiliary != null">auxiliary = #{auxiliary},</if>
			<if test=" part != null">part = #{part},</if>
			<if test=" devType != null">devType = #{devType},</if>
			<if test=" unitPrice != null">unitPrice = #{unitPrice},</if>
			<if test=" trafficCost != null">trafficCost = #{trafficCost},</if>
			<if test=" installCost != null">installCost = #{installCost},</if>
			<if test=" taxes != null">taxes = #{taxes},</if>
			<if test=" sumCost != null">sumCost = #{sumCost},</if>
			<if test=" accessory != null">accessory = #{accessory},</if>
			<if test=" keeper != null">keeper = #{keeper},</if>
			<if test=" appearanceC != null">appearanceC = #{appearanceC},</if>
			<if test=" securityC != null">securityC = #{securityC},</if>
			<if test=" propertyC != null">propertyC = #{propertyC},</if>
			<if test=" materialsC != null">materialsC = #{materialsC},</if>
			<if test=" qualityC != null">qualityC = #{qualityC},</if>
			<if test=" needFuncC != null">needFuncC = #{needFuncC},</if>
			<if test=" readFuncC != null">readFuncC = #{readFuncC},</if>
			<if test=" appearanceB != null">appearanceB = #{appearanceB},</if>
			<if test=" securityB != null">securityB = #{securityB},</if>
			<if test=" propertyB != null">propertyB = #{propertyB},</if>
			<if test=" materialsB != null">materialsB = #{materialsB},</if>
			<if test=" qualityB != null">qualityB = #{qualityB},</if>
			<if test=" needFuncB != null">needFuncB = #{needFuncB},</if>
			<if test=" readFuncB != null">readFuncB = #{readFuncB},</if>
			<if test=" appearanceA != null">appearanceA = #{appearanceA},</if>
			<if test=" securityA != null">securityA = #{securityA},</if>
			<if test=" propertyA != null">propertyA = #{propertyA},</if>
			<if test=" materialsA != null">materialsA = #{materialsA},</if>
			<if test=" qualityA != null">qualityA = #{qualityA},</if>
			<if test=" needFuncA != null">needFuncA = #{needFuncA},</if>
			<if test=" readFuncA != null">readFuncA = #{readFuncA},</if>
			<if test=" devSpec != null">devSpec = #{devSpec},</if>
			<if test=" purcDeptSign != null">purcDeptSign = #{purcDeptSign},</if>
			<if test=" useDeptSign != null">useDeptSign = #{useDeptSign},</if>
			<if test=" facDeptSign != null">facDeptSign = #{facDeptSign},</if>
			<if test=" leaderSign != null">leaderSign = #{leaderSign},</if>
			<if test=" delFlag != null">delFlag = #{delFlag},</if>
			<if test="  remark != null">remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="Check">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_dev_check.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO dev_check(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" deptId != null">deptId,</if>
			<if test=" checkDate != null">checkDate,</if>
			<if test=" chineseName != null">chineseName,</if>
			<if test=" englishName != null">englishName,</if>
			<if test=" nameplate != null">nameplate,</if>
			<if test=" supplier != null">supplier,</if>
			<if test=" devModel != null">devModel,</if>
			<if test=" devNumber != null">devNumber,</if>
			<if test=" arrivalDate != null">arrivalDate,</if>
			<if test=" devSize != null">devSize,</if>
			<if test=" devPower != null">devPower,</if>
			<if test=" quantity != null">quantity,</if>
			<if test=" warrantyPeriod != null">warrantyPeriod,</if>
			<if test=" auxiliary != null">auxiliary,</if>
			<if test=" part != null">part,</if>
			<if test=" devType != null">devType,</if>
			<if test=" unitPrice != null">unitPrice,</if>
			<if test=" trafficCost != null">trafficCost,</if>
			<if test=" installCost != null">installCost,</if>
			<if test=" taxes != null">taxes,</if>
			<if test=" sumCost != null">sumCost,</if>
			<if test=" accessory != null">accessory,</if>
			<if test=" keeper != null">keeper,</if>
			<if test=" appearanceC != null">appearanceC,</if>
			<if test=" securityC != null">securityC,</if>
			<if test=" propertyC != null">propertyC,</if>
			<if test=" materialsC != null">materialsC,</if>
			<if test=" qualityC != null">qualityC,</if>
			<if test=" needFuncC != null">needFuncC,</if>
			<if test=" readFuncC != null">readFuncC,</if>
			<if test=" appearanceB != null">appearanceB,</if>
			<if test=" securityB != null">securityB,</if>
			<if test=" propertyB != null">propertyB,</if>
			<if test=" materialsB != null">materialsB,</if>
			<if test=" qualityB != null">qualityB,</if>
			<if test=" needFuncB != null">needFuncB,</if>
			<if test=" readFuncB != null">readFuncB,</if>
			<if test=" appearanceA != null">appearanceA,</if>
			<if test=" securityA != null">securityA,</if>
			<if test=" propertyA != null">propertyA,</if>
			<if test=" materialsA != null">materialsA,</if>
			<if test=" qualityA != null">qualityA,</if>
			<if test=" needFuncA != null">needFuncA,</if>
			<if test=" readFuncA != null">readFuncA,</if>
			<if test=" devSpec != null">devSpec,</if>
			<if test=" purcDeptSign != null">purcDeptSign,</if>
			<if test=" useDeptSign != null">useDeptSign,</if>
			<if test=" facDeptSign != null">facDeptSign,</if>
			<if test=" leaderSign != null">leaderSign,</if>

			<if test=" remark != null">REMARK,</if>
			<if test=" delFlag != null">delFlag,</if>
			<if test=" createBy != null">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" deptId != null">#{deptId},</if>
			<if test=" checkDate != null">#{checkDate},</if>
			<if test=" chineseName != null">#{chineseName},</if>
			<if test=" englishName != null">#{englishName},</if>
			<if test=" nameplate != null">#{nameplate},</if>
			<if test=" supplier != null">#{supplier},</if>
			<if test=" devModel != null">#{devModel},</if>
			<if test=" devNumber != null">#{devNumber},</if>
			<if test=" arrivalDate != null">#{arrivalDate},</if>
			<if test=" devSize != null">#{devSize},</if>
			<if test=" devPower != null">#{devPower},</if>
			<if test=" quantity != null">#{quantity},</if>
			<if test=" warrantyPeriod != null">#{warrantyPeriod},</if>
			<if test=" auxiliary != null">#{auxiliary},</if>
			<if test=" part != null">#{part},</if>
			<if test=" devType != null">#{devType},</if>
			<if test=" unitPrice != null">#{unitPrice},</if>
			<if test=" trafficCost != null">#{trafficCost},</if>
			<if test=" installCost != null">#{installCost},</if>
			<if test=" taxes != null">#{taxes},</if>
			<if test=" sumCost != null">#{sumCost},</if>
			<if test=" accessory != null">#{accessory},</if>
			<if test=" keeper != null">#{keeper},</if>
			<if test=" appearanceC != null">#{appearanceC},</if>
			<if test=" securityC != null">#{securityC},</if>
			<if test=" propertyC != null">#{propertyC},</if>
			<if test=" materialsC != null">#{materialsC},</if>
			<if test=" qualityC != null">#{qualityC},</if>
			<if test=" needFuncC != null">#{needFuncC},</if>
			<if test=" readFuncC != null">#{readFuncC},</if>
			<if test=" appearanceB != null">#{appearanceB},</if>
			<if test=" securityB != null">#{securityB},</if>
			<if test=" propertyB != null">#{propertyB},</if>
			<if test=" materialsB != null">#{materialsB},</if>
			<if test=" qualityB != null">#{qualityB},</if>
			<if test=" needFuncB != null">#{needFuncB},</if>
			<if test=" readFuncB != null">#{readFuncB},</if>
			<if test=" appearanceA != null">#{appearanceA},</if>
			<if test=" securityA != null">#{securityA},</if>
			<if test=" propertyA != null">#{propertyA},</if>
			<if test=" materialsA != null">#{materialsA},</if>
			<if test=" qualityA != null">#{qualityA},</if>
			<if test=" needFuncA != null">#{needFuncA},</if>
			<if test=" readFuncA != null">#{readFuncA},</if>
			<if test=" devSpec != null">#{devSpec},</if>
			<if test=" purcDeptSign != null">#{purcDeptSign},</if>
			<if test=" useDeptSign != null">#{useDeptSign},</if>
			<if test=" facDeptSign != null">#{facDeptSign},</if>
			<if test=" leaderSign != null">#{leaderSign},</if>

			<if test=" remark != null">#{remark},</if>
			<if test=" delFlag != null">#{delFlag},</if>
			<if test=" createBy != null">#{createBy},</if>
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>