<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.EndoscopicDetectionMapper">
 
	<resultMap type="EndoscopicDetection" id="result">
		<id     property="workid"    column="workid"    />
<result     property="exp_no"   column="exp_no"   />
<result     property="s_point"   column="s_point"   />
<result     property="e_point"   column="e_point"   />
<result     property="sampletime"   column="sampletime"   />
<result     property="detectdep"   column="detectdep"   />
<result     property="detect_person"   column="detect_person"   />
<result     property="detect_method"   column="detect_method"   />
<result     property="detect_dir"   column="detect_dir"   />
<result     property="pipe_block"   column="pipe_block"   />
<result     property="func_defect"   column="func_defect"   />
<result     property="func_class"   column="func_class"   />
<result     property="struct_defect"   column="struct_defect"   />
<result     property="struct_class"   column="struct_class"   />
<result     property="repair_index"   column="repair_index"   />
<result     property="maintain_index"   column="maintain_index"   />
<result     property="problem"   column="problem"   />
<result     property="video_filename"   column="video_filename"   />
<result     property="report_dept"   column="report_dept"   />
<result     property="reportdate"   column="reportdate"   />
<result     property="note"   column="note"   />
<result     property="attachmenturl"   column="attachmenturl"   />


        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectVo">
        select *
        from DEV_ENDOSCOPIC_DETECTION r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" workid !=null and workid != ''">
				and workid = #{workid}
			</if>
			<if test=" exp_no !=null and exp_no != ''">
				and exp_no = #{exp_no}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="EndoscopicDetection" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="EndoscopicDetection" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
        	<if test=" workid !=null and workid != ''">
				and workid = #{workid}
			</if>
			<if test=" exp_no !=null and exp_no != ''">
				and exp_no = #{exp_no}
			</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		
    </select>
      <select id="selectByName" parameterType="String" resultMap="result">
		<include refid="selectVo"/>
		where  1 = 1
		<if test=" exp_no != null and exp_no != ''">
				AND exp_no  like concat(concat('%',#{exp_no}),'%')
		</if>
	</select>
	
	<select id="selectById" parameterType="String" resultMap="result">
		<include refid="selectVo"/>
		where r.workid = #{workid}
	</select>
	
    <delete id="deleteById" parameterType="String">
		delete from DEV_ENDOSCOPIC_DETECTION where workid = #{workid}
	</delete>
	 <delete id="deleteByIds" parameterType="String">
 		delete from DEV_ENDOSCOPIC_DETECTION where workid in
 		<foreach collection="array" item="workid" open="(" separator="," close=")">
 			#{workid}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="EndoscopicDetection">
 		update DEV_ENDOSCOPIC_DETECTION
 		<set>
<if test=" exp_no  != null and exp_no  != ''">exp_no  = #{exp_no},</if>
<if test=" s_point  != null and s_point  != ''">s_point  = #{s_point},</if>
<if test=" e_point  != null and e_point  != ''">e_point  = #{e_point},</if>
<if test=" sampletime  != null and sampletime  != ''">sampletime  = #{sampletime},</if>
<if test=" detectdep  != null and detectdep  != ''">detectdep  = #{detectdep},</if>
<if test=" detect_person  != null and detect_person  != ''">detect_person  = #{detect_person},</if>
<if test=" detect_method  != null and detect_method  != ''">detect_method  = #{detect_method},</if>
<if test=" detect_dir  != null">detect_dir  = #{detect_dir},</if>
<if test=" pipe_block  != null and pipe_block  != ''">pipe_block  = #{pipe_block},</if>
<if test=" func_defect  != null and func_defect  != ''">func_defect  = #{func_defect},</if>
<if test=" func_class  != null">func_class  = #{func_class},</if>
<if test=" struct_defect  != null and struct_defect  != ''">struct_defect  = #{struct_defect},</if>
<if test=" struct_class  != null">struct_class  = #{struct_class},</if>
<if test=" repair_index  != null">repair_index  = #{repair_index},</if>
<if test=" maintain_index  != null">maintain_index  = #{maintain_index},</if>
<if test=" problem  != null and problem  != ''">problem  = #{problem},</if>
<if test=" video_filename  != null and video_filename  != ''">video_filename  = #{video_filename},</if>
<if test=" report_dept  != null and report_dept  != ''">report_dept  = #{report_dept},</if>
<if test=" reportdate  != null and reportdate  != ''">reportdate  = #{reportdate},</if>
<if test=" note  != null and note  != ''">note  = #{note},</if>
<if test=" attachmenturl != null and attachmenturl != ''">attachmenturl = #{attachmenturl},</if>


			
			<if test=" remark != null and remark != ''">remark = #{remark},</if>
 			<if test=" updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate 
 		</set>
 		where workid = #{workid}
	</update>
	  
    <insert id="insert" parameterType="EndoscopicDetection">
    
		INSERT INTO DEV_ENDOSCOPIC_DETECTION(
<if test=" workid  != null and  workid  != ''">workid,</if>
<if test=" exp_no  != null and  exp_no  != ''">exp_no,</if>
<if test=" s_point  != null and  s_point  != ''">s_point,</if>
<if test=" e_point  != null and  e_point  != ''">e_point,</if>
<if test=" sampletime  != null and  sampletime  != ''">sampletime,</if>
<if test=" detectdep  != null and  detectdep  != ''">detectdep,</if>
<if test=" detect_person  != null and  detect_person  != ''">detect_person,</if>
<if test=" detect_method  != null and  detect_method  != ''">detect_method,</if>
<if test=" detect_dir  != null">detect_dir,</if>
<if test=" pipe_block  != null and  pipe_block  != ''">pipe_block,</if>
<if test=" func_defect  != null and  func_defect  != ''">func_defect,</if>
<if test=" func_class  != null">func_class,</if>
<if test=" struct_defect  != null and  struct_defect  != ''">struct_defect,</if>
<if test=" struct_class  != null">struct_class,</if>
<if test=" repair_index  != null">repair_index,</if>
<if test=" maintain_index  != null ">maintain_index,</if>
<if test=" problem  != null and  problem  != ''">problem,</if>
<if test=" video_filename  != null and  video_filename  != ''">video_filename,</if>
<if test=" report_dept  != null and  report_dept  != ''">report_dept,</if>
<if test=" reportdate  != null and  reportdate  != ''">reportdate,</if>
<if test=" note  != null and  note  != ''">note,</if>
<if test=" attachmenturl  != null and  attachmenturl  != ''">attachmenturl,</if>
			
			<if test=" remark != null and remark != ''">REMARK,</if>
			<if test=" createBy != null and createBy != ''">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time 
		) VALUES (
<if test=" workid  != null and workid  != ''">#{workid},</if>
<if test=" exp_no  != null and exp_no  != ''">#{exp_no},</if>
<if test=" s_point  != null and s_point  != ''">#{s_point},</if>
<if test=" e_point  != null and e_point  != ''">#{e_point},</if>
<if test=" sampletime  != null and sampletime  != ''">#{sampletime},</if>
<if test=" detectdep  != null and detectdep  != ''">#{detectdep},</if>
<if test=" detect_person  != null and detect_person  != ''">#{detect_person},</if>
<if test=" detect_method  != null and detect_method  != ''">#{detect_method},</if>
<if test=" detect_dir  != null">#{detect_dir},</if>
<if test=" pipe_block  != null and pipe_block  != ''">#{pipe_block},</if>
<if test=" func_defect  != null and func_defect  != ''">#{func_defect},</if>
<if test=" func_class  != null">#{func_class},</if>
<if test=" struct_defect  != null and struct_defect  != ''">#{struct_defect},</if>
<if test=" struct_class  != null">#{struct_class},</if>
<if test=" repair_index  != null">#{repair_index},</if>
<if test=" maintain_index  != null">#{maintain_index},</if>
<if test=" problem  != null and problem  != ''">#{problem},</if>
<if test=" video_filename  != null and video_filename  != ''">#{video_filename},</if>
<if test=" report_dept  != null and report_dept  != ''">#{report_dept},</if>
<if test=" reportdate  != null and reportdate  != ''">#{reportdate},</if>
<if test=" note  != null and note  != ''">#{note},</if>
<if test=" attachmenturl  != null and attachmenturl  != ''">#{attachmenturl},</if>

			
			 <if test=" remark != null and remark != ''">#{remark},</if>
			<if test=" createBy != null and createBy != ''">#{createBy},</if>
			<if test=" dept_id != null and dept_id != ''">#{dept_id},</if>
			sysdate	 		
		)
	</insert>
    
</mapper>