<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.FixMapper">
 
	<resultMap type="Fix" id="result">
		<id     property="id"    column="id"    />
		<result     property="devName"   column="devName"   />
		<result     property="devNumber"   column="devNumber"   />
		<result     property="devModel"   column="devModel"   />
		<result     property="useDept"   column="useDept"   />
		<result     property="installPlace"   column="installPlace"   />
		<result     property="assetCode"   column="assetCode"   />
		<result     property="maintainer"   column="maintainer"   />
		<result     property="operateDutyOfficer"   column="operateDutyOfficer"   />
		<result     property="recordDate"   column="recordDate"   />
		<result     property="troubleSpec"   column="troubleSpec"   />
		<result     property="reason"   column="reason"   />
		<result     property="assayer"   column="assayer"   />
		<result     property="equiHead"   column="equiHead"   />
		<result     property="equiManager"   column="equiManager"   />
		<result     property="troubleType"   column="troubleType"   />
		<result     property="dutyPeople"   column="dutyPeople"   />
		<result     property="fixspec"   column="fixspec"   />
		<result     property="mechanic"   column="mechanic"   />
		<result     property="outServiceOpinion"   column="outServiceOpinion"   />
		<result     property="equiHeadOut"   column="equiHeadOut"   />
		<result     property="equiManagerOut"   column="equiManagerOut"   />
		<result     property="prodManager"   column="prodManager"   />
		<result     property="outRemarks"   column="outRemarks"   />
		<result     property="result"   column="result"   />
		<result     property="monitor"   column="monitor"   />
		<result     property="equiOwer"   column="equiOwer"   />
		<result     property="userManger"   column="userManger"   />
		<result     property="planTime"   column="planTime"   />
		<result     property="doneTime"   column="doneTime"   />
		<result     property="usesTime"   column="usesTime"   />

		<result     property="deptId"   column="deptId"   />
		<result     property="jobnumber"   column="jobnumber"   />
		
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result property="delFlag"    column="delFlag"    />
		<result     property="dept_id"   column="dept_id"   />		
    </resultMap> 

	<sql id="selectVo">
        select *
        from dev_fix r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" devName !=null and devName != ''">
				and devName = #{devName}
			</if>
			<if test=" deptId !=null and deptId != ''">
				and deptId = #{deptId}
			</if>
			<if test=" jobnumber !=null and jobnumber != ''">
				and jobnumber = #{jobnumber}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="Fix" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="Fix" resultMap="result">
        <include refid="selectVo"/>
        where  delFlag = '1'
        <if test=" deptId != null and deptId != 0">
			AND deptId = #{deptId}
		</if>
		<if test=" recordDate != null and recordDate != ''">
			AND recordDate = #{recordDate}
		</if>
		<if test=" jobnumber !=null and jobnumber != ''">
				and jobnumber = #{jobnumber}
			</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		order by r.id, r.recordDate
    </select>
      <select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		update dev_fix set DELFLAG = '2' where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from dev_fix where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="Fix">
 		update dev_fix
 		<set>
			<if test=" devName != null">devName = #{devName},</if>
			<if test=" devNumber != null">devNumber = #{devNumber},</if>
			<if test=" devModel != null">devModel = #{devModel},</if>
			<if test=" useDept != null">useDept = #{useDept},</if>
			<if test=" installPlace != null">installPlace = #{installPlace},</if>
			<if test=" assetCode != null">assetCode = #{assetCode},</if>
			<if test=" maintainer != null">maintainer = #{maintainer},</if>
			<if test=" operateDutyOfficer != null">operateDutyOfficer = #{operateDutyOfficer},</if>
			<if test=" recordDate != null">recordDate = #{recordDate},</if>
			<if test=" troubleSpec != null">troubleSpec = #{troubleSpec},</if>
			<if test=" reason != null">reason = #{reason},</if>
			<if test=" assayer != null">assayer = #{assayer},</if>
			<if test=" equiHead != null">equiHead = #{equiHead},</if>
			<if test=" equiManager != null">equiManager = #{equiManager},</if>
			<if test=" troubleType != null">troubleType = #{troubleType},</if>
			<if test=" dutyPeople != null">dutyPeople = #{dutyPeople},</if>
			<if test=" fixspec != null">fixspec = #{fixspec},</if>
			<if test=" mechanic != null">mechanic = #{mechanic},</if>
			<if test=" outServiceOpinion != null">outServiceOpinion = #{outServiceOpinion},</if>
			<if test=" equiHeadOut != null">equiHeadOut = #{equiHeadOut},</if>
			<if test=" equiManagerOut != null">equiManagerOut = #{equiManagerOut},</if>
			<if test=" prodManager != null">prodManager = #{prodManager},</if>
			<if test=" outRemarks != null">outRemarks = #{outRemarks},</if>
			<if test=" result != null">result = #{result},</if>
			<if test=" monitor != null">monitor = #{monitor},</if>
			<if test=" equiOwer != null">equiOwer = #{equiOwer},</if>
			<if test=" userManger != null">userManger = #{userManger},</if>
			<if test=" planTime != null">planTime = #{planTime},</if>
			<if test=" doneTime != null">doneTime = #{doneTime},</if>
			<if test=" usesTime != null">usesTime = #{usesTime},</if>
			<if test=" jobnumber != null">jobnumber = #{jobnumber},</if>

			<if test=" deptId != null and deptId != 0">deptId = #{deptId},</if>
			<if test=" delFlag != null">delFlag = #{delFlag},</if>
			<if test="  remark != null">remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="Fix">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_dev_fix.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO dev_fix(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" devName != null">devName,</if>
			<if test=" devNumber != null">devNumber,</if>
			<if test=" devModel != null">devModel,</if>
			<if test=" useDept != null">useDept,</if>
			<if test=" installPlace != null">installPlace,</if>
			<if test=" assetCode != null">assetCode,</if>
			<if test=" maintainer != null">maintainer,</if>
			<if test=" operateDutyOfficer != null">operateDutyOfficer,</if>
			<if test=" recordDate != null">recordDate,</if>
			<if test=" troubleSpec != null">troubleSpec,</if>
			<if test=" reason != null">reason,</if>
			<if test=" assayer != null">assayer,</if>
			<if test=" equiHead != null">equiHead,</if>
			<if test=" equiManager != null">equiManager,</if>
			<if test=" troubleType != null">troubleType,</if>
			<if test=" dutyPeople != null">dutyPeople,</if>
			<if test=" fixspec != null">fixspec,</if>
			<if test=" mechanic != null">mechanic,</if>
			<if test=" outServiceOpinion != null">outServiceOpinion,</if>
			<if test=" equiHeadOut != null">equiHeadOut,</if>
			<if test=" equiManagerOut != null">equiManagerOut,</if>
			<if test=" prodManager != null">prodManager,</if>
			<if test=" outRemarks != null">outRemarks,</if>
			<if test=" result != null">result,</if>
			<if test=" monitor != null">monitor,</if>
			<if test=" equiOwer != null">equiOwer,</if>
			<if test=" userManger != null">userManger,</if>
			<if test=" planTime != null">planTime,</if>
			<if test=" doneTime != null">doneTime,</if>
			<if test=" usesTime != null">usesTime,</if>
			<if test=" jobnumber != null">jobnumber,</if>

			<if test=" deptId != null and  deptId != 0">deptId,</if>
			<if test=" remark != null">REMARK,</if>
			<if test=" delFlag != null">delFlag,</if>
			<if test=" createBy != null">create_by,</if>
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" devName != null">#{devName},</if>
			<if test=" devNumber != null">#{devNumber},</if>
			<if test=" devModel != null">#{devModel},</if>
			<if test=" useDept != null">#{useDept},</if>
			<if test=" installPlace != null">#{installPlace},</if>
			<if test=" assetCode != null">#{assetCode},</if>
			<if test=" maintainer != null">#{maintainer},</if>
			<if test=" operateDutyOfficer != null">#{operateDutyOfficer},</if>
			<if test=" recordDate != null">#{recordDate},</if>
			<if test=" troubleSpec != null">#{troubleSpec},</if>
			<if test=" reason != null">#{reason},</if>
			<if test=" assayer != null">#{assayer},</if>
			<if test=" equiHead != null">#{equiHead},</if>
			<if test=" equiManager != null">#{equiManager},</if>
			<if test=" troubleType != null">#{troubleType},</if>
			<if test=" dutyPeople != null">#{dutyPeople},</if>
			<if test=" fixspec != null">#{fixspec},</if>
			<if test=" mechanic != null">#{mechanic},</if>
			<if test=" outServiceOpinion != null">#{outServiceOpinion},</if>
			<if test=" equiHeadOut != null">#{equiHeadOut},</if>
			<if test=" equiManagerOut != null">#{equiManagerOut},</if>
			<if test=" prodManager != null">#{prodManager},</if>
			<if test=" outRemarks != null">#{outRemarks},</if>
			<if test=" result != null">#{result},</if>
			<if test=" monitor != null">#{monitor},</if>
			<if test=" equiOwer != null">#{equiOwer},</if>
			<if test=" userManger != null">#{userManger},</if>
			<if test=" planTime != null">#{planTime},</if>
			<if test=" doneTime != null">#{doneTime},</if>
			<if test=" usesTime != null">#{usesTime},</if>
			<if test=" jobnumber != null">#{jobnumber},</if>

			<if test=" deptId != null">#{deptId},</if>
			<if test=" remark != null">#{remark},</if>
			<if test=" delFlag != null">#{delFlag},</if>
			<if test=" createBy != null">#{createBy},</if>
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>