<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.FixOrderMapper">
 
	<resultMap type="FixOrder" id="result">
		<id     property="id"    column="id"    />
		<result     property="deptId"   column="deptId"   />
		<result     property="devName"   column="devName"   />
		<result     property="devNumber"   column="devNumber"   />
		<result     property="devModel"   column="devModel"   />
		<result     property="useDept"   column="useDept"   />
		<result     property="installPlace"   column="installPlace"   />
		<result     property="assetCode"   column="assetCode"   />
		<result     property="repairMan"   column="repairMan"   />
		<result     property="prodHead"   column="prodHead"   />
		<result     property="recordDate"   column="recordDate"   />
		<result     property="troubleSpec"   column="troubleSpec"   />
		<result     property="reason"   column="reason"   />
		<result     property="assayer"   column="assayer"   />
		<result     property="equiHead"   column="equiHead"   />
		<result     property="equiManager"   column="equiManager"   />
		<result     property="troubleType"   column="troubleType"   />
		<result     property="dutyPeople"   column="dutyPeople"   />
		<result     property="devSpec"   column="devSpec"   />
		<result     property="mechanic"   column="mechanic"   />
		<result     property="outServiceOpinion"   column="outServiceOpinion"   />
		<result     property="equiHeadOut"   column="equiHeadOut"   />
		<result     property="equiManagerOut"   column="equiManagerOut"   />
		<result     property="prodManager"   column="prodManager"   />
		<result     property="outRemarks"   column="outRemarks"   />
		<result     property="fixResult"   column="fixResult"   />
		<result     property="monitor"   column="monitor"   />
		<result     property="equiOwer"   column="equiOwer"   />
		<result     property="userManger"   column="userManger"   />
		<result     property="planTime"   column="planTime"   />
		<result     property="doneTime"   column="doneTime"   />
		<result     property="usesTime"   column="usesTime"   />

		
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    />
		<result property="delFlag"    column="delFlag"    />		
    </resultMap> 

	<sql id="selectVo">
        select *
        from dev_fix_order r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" id !=null">
				and id = #{id}
			</if>
			<if test=" devName !=null and devName != ''">
				and devName = #{devName}
			</if>
			<if test=" deptId !=null and deptId != ''">
				and deptId = #{deptId}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="FixOrder" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="FixOrder" resultMap="result">
        <include refid="selectVo"/>
        where  delFlag = '1'
        <if test=" deptId != null and deptId != 0">
			AND deptId = #{deptId}
		</if>
		<if test=" recordDate != null and recordDate != ''">
			AND recordDate = #{recordDate}
		</if>
		
		order by r.id, r.recordDate
    </select>
      <select id="selectById" parameterType="Long" resultMap="result">
		<include refid="selectVo"/>
		where r.id = #{id}
	</select>
	
    <delete id="deleteById" parameterType="Long">
		update dev_fix_order set DELFLAG = '2' where id = #{id}
	</delete>
	 <delete id="deleteByIds" parameterType="Long">
 		delete from dev_fix_order where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="FixOrder">
 		update dev_fix_order
 		<set>
			<if test=" deptId != null and deptId != ''">deptId = #{deptId},</if>
			<if test=" devName != null and devName != ''">devName = #{devName},</if>
			<if test=" devNumber != null and devNumber != ''">devNumber = #{devNumber},</if>
			<if test=" devModel != null and devModel != ''">devModel = #{devModel},</if>
			<if test=" useDept != null and useDept != ''">useDept = #{useDept},</if>
			<if test=" installPlace != null and installPlace != ''">installPlace = #{installPlace},</if>
			<if test=" assetCode != null and assetCode != ''">assetCode = #{assetCode},</if>
			<if test=" repairMan != null and repairMan != ''">repairMan = #{repairMan},</if>
			<if test=" prodHead != null and prodHead != ''">prodHead = #{prodHead},</if>
			<if test=" recordDate != null and recordDate != ''">recordDate = #{recordDate},</if>
			<if test=" troubleSpec != null and troubleSpec != ''">troubleSpec = #{troubleSpec},</if>
			<if test=" reason != null and reason != ''">reason = #{reason},</if>
			<if test=" assayer != null and assayer != ''">assayer = #{assayer},</if>
			<if test=" equiHead != null and equiHead != ''">equiHead = #{equiHead},</if>
			<if test=" equiManager != null and equiManager != ''">equiManager = #{equiManager},</if>
			<if test=" troubleType != null and troubleType != ''">troubleType = #{troubleType},</if>
			<if test=" dutyPeople != null and dutyPeople != ''">dutyPeople = #{dutyPeople},</if>
			<if test=" devSpec != null and devSpec != ''">devSpec = #{devSpec},</if>
			<if test=" mechanic != null and mechanic != ''">mechanic = #{mechanic},</if>
			<if test=" outServiceOpinion != null and outServiceOpinion != ''">outServiceOpinion = #{outServiceOpinion},</if>
			<if test=" equiHeadOut != null and equiHeadOut != ''">equiHeadOut = #{equiHeadOut},</if>
			<if test=" equiManagerOut != null and equiManagerOut != ''">equiManagerOut = #{equiManagerOut},</if>
			<if test=" prodManager != null and prodManager != ''">prodManager = #{prodManager},</if>
			<if test=" outRemarks != null and outRemarks != ''">outRemarks = #{outRemarks},</if>
			<if test=" fixResult != null and fixResult != ''">fixResult = #{fixResult},</if>
			<if test=" monitor != null and monitor != ''">monitor = #{monitor},</if>
			<if test=" equiOwer != null and equiOwer != ''">equiOwer = #{equiOwer},</if>
			<if test=" userManger != null and userManger != ''">userManger = #{userManger},</if>
			<if test=" planTime != null and planTime != ''">planTime = #{planTime},</if>
			<if test=" doneTime != null and doneTime != ''">doneTime = #{doneTime},</if>
			<if test=" usesTime != null and usesTime != ''">usesTime = #{usesTime},</if>

			<if test=" delFlag != null and delFlag!= ''">delFlag = #{delFlag},</if>
			<if test="  remark != null and remark != ''">remark = #{remark},</if>
 			<if test=" updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate
 		</set>
 		where id = #{id}
	</update>
	  
    <insert id="insert" parameterType="FixOrder">
    	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_dev_fix_order.NEXTVAL as id FROM DUAL
		</selectKey>
    
		INSERT INTO dev_fix_order(
			<if test=" id != null and id!= 0">id,</if>
			<if test=" deptId != null and  deptId != ''">deptId,</if>
			<if test=" devName != null and  devName != ''">devName,</if>
			<if test=" devNumber != null and  devNumber != ''">devNumber,</if>
			<if test=" devModel != null and  devModel != ''">devModel,</if>
			<if test=" useDept != null and  useDept != ''">useDept,</if>
			<if test=" installPlace != null and  installPlace != ''">installPlace,</if>
			<if test=" assetCode != null and  assetCode != ''">assetCode,</if>
			<if test=" repairMan != null and  repairMan != ''">repairMan,</if>
			<if test=" prodHead != null and  prodHead != ''">prodHead,</if>
			<if test=" recordDate != null and  recordDate != ''">recordDate,</if>
			<if test=" troubleSpec != null and  troubleSpec != ''">troubleSpec,</if>
			<if test=" reason != null and  reason != ''">reason,</if>
			<if test=" assayer != null and  assayer != ''">assayer,</if>
			<if test=" equiHead != null and  equiHead != ''">equiHead,</if>
			<if test=" equiManager != null and  equiManager != ''">equiManager,</if>
			<if test=" troubleType != null and  troubleType != ''">troubleType,</if>
			<if test=" dutyPeople != null and  dutyPeople != ''">dutyPeople,</if>
			<if test=" devSpec != null and  devSpec != ''">devSpec,</if>
			<if test=" mechanic != null and  mechanic != ''">mechanic,</if>
			<if test=" outServiceOpinion != null and  outServiceOpinion != ''">outServiceOpinion,</if>
			<if test=" equiHeadOut != null and  equiHeadOut != ''">equiHeadOut,</if>
			<if test=" equiManagerOut != null and  equiManagerOut != ''">equiManagerOut,</if>
			<if test=" prodManager != null and  prodManager != ''">prodManager,</if>
			<if test=" outRemarks != null and  outRemarks != ''">outRemarks,</if>
			<if test=" fixResult != null and  fixResult != ''">fixResult,</if>
			<if test=" monitor != null and  monitor != ''">monitor,</if>
			<if test=" equiOwer != null and  equiOwer != ''">equiOwer,</if>
			<if test=" userManger != null and  userManger != ''">userManger,</if>
			<if test=" planTime != null and  planTime != ''">planTime,</if>
			<if test=" doneTime != null and  doneTime != ''">doneTime,</if>
			<if test=" usesTime != null and  usesTime != ''">usesTime,</if>

			<if test=" remark != null and remark != ''">REMARK,</if>
			<if test=" delFlag != null and delFlag!= ''">delFlag,</if>
			<if test=" createBy != null and createBy != ''">create_by,</if>
			create_time
		) VALUES (
			<if test=" id != null and id!= 0">#{id},</if>
			<if test=" deptId != null and deptId != ''">#{deptId},</if>
			<if test=" devName != null and devName != ''">#{devName},</if>
			<if test=" devNumber != null and devNumber != ''">#{devNumber},</if>
			<if test=" devModel != null and devModel != ''">#{devModel},</if>
			<if test=" useDept != null and useDept != ''">#{useDept},</if>
			<if test=" installPlace != null and installPlace != ''">#{installPlace},</if>
			<if test=" assetCode != null and assetCode != ''">#{assetCode},</if>
			<if test=" repairMan != null and repairMan != ''">#{repairMan},</if>
			<if test=" prodHead != null and prodHead != ''">#{prodHead},</if>
			<if test=" recordDate != null and recordDate != ''">#{recordDate},</if>
			<if test=" troubleSpec != null and troubleSpec != ''">#{troubleSpec},</if>
			<if test=" reason != null and reason != ''">#{reason},</if>
			<if test=" assayer != null and assayer != ''">#{assayer},</if>
			<if test=" equiHead != null and equiHead != ''">#{equiHead},</if>
			<if test=" equiManager != null and equiManager != ''">#{equiManager},</if>
			<if test=" troubleType != null and troubleType != ''">#{troubleType},</if>
			<if test=" dutyPeople != null and dutyPeople != ''">#{dutyPeople},</if>
			<if test=" devSpec != null and devSpec != ''">#{devSpec},</if>
			<if test=" mechanic != null and mechanic != ''">#{mechanic},</if>
			<if test=" outServiceOpinion != null and outServiceOpinion != ''">#{outServiceOpinion},</if>
			<if test=" equiHeadOut != null and equiHeadOut != ''">#{equiHeadOut},</if>
			<if test=" equiManagerOut != null and equiManagerOut != ''">#{equiManagerOut},</if>
			<if test=" prodManager != null and prodManager != ''">#{prodManager},</if>
			<if test=" outRemarks != null and outRemarks != ''">#{outRemarks},</if>
			<if test=" fixResult != null and fixResult != ''">#{fixResult},</if>
			<if test=" monitor != null and monitor != ''">#{monitor},</if>
			<if test=" equiOwer != null and equiOwer != ''">#{equiOwer},</if>
			<if test=" userManger != null and userManger != ''">#{userManger},</if>
			<if test=" planTime != null and planTime != ''">#{planTime},</if>
			<if test=" doneTime != null and doneTime != ''">#{doneTime},</if>
			<if test=" usesTime != null and usesTime != ''">#{usesTime},</if>

			<if test=" remark != null and remark != ''">#{remark},</if>
			<if test=" delFlag != null and delFlag!= ''">#{delFlag},</if>
			<if test=" createBy != null and createBy != ''">#{createBy},</if>
			sysdate			
		)
	</insert>
    
</mapper>