<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.drainagenetwork.PS_CONDUITMapper">
 
	<resultMap type="PS_CONDUIT" id="result">
		<id     property="lno"    column="Lno"    />
<!-- 		<id     property="prj_no"    column="Prj_No"    /> -->
<result     property="prj_no"   column="Prj_No"   />
<result     property="prj_name"   column="Prj_Name"   />
<!-- <result     property="lno"   column="Lno"   /> -->
<result     property="grade"   column="Grade"   />
<result     property="s_point"   column="S_Point"   />
<result     property="s_deep"   column="S_Deep"   />
<result     property="in_elev"   column="In_Elev"   />
<result     property="e_point"   column="E_Point"   />
<result     property="e_deep"   column="E_Deep"   />
<result     property="out_elev"   column="Out_Elev"   />
<result     property="sewagesystem_id"   column="SewageSystem_ID"   />
<result     property="stormsystem_id"   column="StormSystem_ID"   />
<result     property="conduit_style1"   column="Conduit_Style1"   />
<result     property="conduit_style2"   column="Conduit_Style2"   />
<result     property="type"   column="Type"   />
<result     property="code"   column="Code"   />
<result     property="material"   column="Material"   />
<result     property="servicelife"   column="ServiceLife"   />
<result     property="shapetype"   column="ShapeType"   />
<result     property="shape_data1"   column="Shape_Data1"   />
<result     property="shape_data2"   column="Shape_Data2"   />
<result     property="shape_data3"   column="Shape_Data3"   />
<result     property="shape_data4"   column="Shape_Data4"   />
<result     property="shape_xydata"   column="Shape_XYData"   />
<result     property="pipelength"   column="PipeLength"   />
<result     property="flowdir"   column="FlowDir"   />
<result     property="embed"   column="EmBed"   />
<result     property="interfaceP"   column="Interface"   />
<result     property="address"   column="Address"   />
<result     property="datasource"   column="DataSource"   />
<result     property="sunit"   column="Sunit"   />
<result     property="sdate"   column="Sdate"   />
<result     property="updatetime"   column="UpdateTime"   />
<result     property="mdate"   column="Mdate"   />
<result     property="plan"   column="Plan"   />
<result     property="conduit_type"   column="Conduit_Type"   />
<result     property="status"   column="status"   />
<result     property="ename"   column="Ename"   />
<result     property="design_dept"   column="Design_Dept"   />
<result     property="conster_dept"   column="Conster_Dept"   />
<result     property="belong"   column="Belong"   />
<result     property="operator"   column="Operator"   />
<result     property="note"   column="Note"   />
<result     property="shape_length"   column="SHAPE_Length"   />
<result     property="objectid"   column="OBJECTID"   />
<result     property="areaid"   column="AREAID"   />
<result     property="areaname"   column="AREANAME"   />


<!--         <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    /> -->
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectVo">
        select *
        from PS_CONDUIT r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" prj_no !=null and prj_no != ''">
				and "Prj_No" = #{prj_no}
			</if>
			<if test=" lno !=null and lno != ''">
				and "Lno" = #{lno}
			</if>
			<if test=" areaid !=null">
				and AREAID = #{areaid}
			</if>
			<if test=" areaname != null and areaname != ''">
				AND AREANAME  like concat(concat('%',#{areaname}),'%')
			</if>
			<if test=" prj_name != null and prj_name != ''">
				AND "Prj_Name"  like concat(concat('%',#{prj_name}),'%')
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="PS_CONDUIT" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="PS_CONDUIT" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
        <if test=" prj_no != null and prj_no != '' ">
			AND "Prj_No" = #{prj_no}
		</if>
		<if test=" lno !=null and lno != ''">
			and "Lno" = #{lno}
		</if>
		<if test=" areaid !=null">
				and AREAID = #{areaid}
		</if>
		<if test=" areaname != null and areaname != ''">
			AND AREANAME  like concat(concat('%',#{areaname}),'%')
		</if>
		<if test=" prj_name != null and prj_name != ''">
				AND "Prj_Name"  like concat(concat('%',#{prj_name}),'%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
    </select>
    
      <select id="selectByName" parameterType="String" resultMap="result">
		<include refid="selectVo"/>
		where  1 = 1
		<if test=" prj_name != null and prj_name != ''">
				AND "Prj_Name"  like concat(concat('%',#{prj_name}),'%')
		</if>
	</select>
	
	<select id="selectById" parameterType="String" resultMap="result">
		<include refid="selectVo"/>
		where r."Lno" = #{lno}
	</select>
	
    <delete id="deleteById" parameterType="String">
		delete from PS_CONDUIT where "Lno" = #{lno}
	</delete>
	 <delete id="deleteByIds" parameterType="String">
 		delete from PS_CONDUIT where "Lno" in
 		<foreach collection="array" item="lno" open="(" separator="," close=")">
 			#{lno}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="PS_CONDUIT">
 		update PS_CONDUIT
 		<set>
<if test=" prj_no != null">"Prj_No" = #{prj_no},</if>
<if test=" prj_name != null">"Prj_Name" = #{prj_name},</if>
<if test=" lno != null">"Lno" = #{lno},</if>
<if test=" grade != null">"Grade" = #{grade},</if>
<if test=" s_point != null">"S_Point" = #{s_point},</if>
<if test=" s_deep != null">"S_Deep" = #{s_deep},</if>
<if test=" in_elev != null">"In_Elev" = #{in_elev},</if>
<if test=" e_point != null">"E_Point" = #{e_point},</if>
<if test=" e_deep != null">"E_Deep" = #{e_deep},</if>
<if test=" out_elev != null">"Out_Elev" = #{out_elev},</if>
<if test=" sewagesystem_id != null">"SewageSystem_ID" = #{sewagesystem_id},</if>
<if test=" stormsystem_id != null">"StormSystem_ID" = #{stormsystem_id},</if>
<if test=" conduit_style1 != null">"Conduit_Style1" = #{conduit_style1},</if>
<if test=" conduit_style2 != null">"Conduit_Style2" = #{conduit_style2},</if>
<if test=" type != null">"Type" = #{type},</if>
<if test=" code != null">"Code" = #{code},</if>
<if test=" material != null">"Material" = #{material},</if>
<if test=" servicelife != null">"ServiceLife" = #{servicelife},</if>
<if test=" shapetype != null">"ShapeType" = #{shapetype},</if>
<if test=" shape_data1 != null">"Shape_Data1" = #{shape_data1},</if>
<if test=" shape_data2 != null">"Shape_Data2" = #{shape_data2},</if>
<if test=" shape_data3 != null">"Shape_Data3" = #{shape_data3},</if>
<if test=" shape_data4 != null">"Shape_Data4" = #{shape_data4},</if>
<if test=" shape_xydata != null">"Shape_XYData" = #{shape_xydata},</if>
<if test=" pipelength != null">"PipeLength" = #{pipelength},</if>
<if test=" flowdir != null">"FlowDir" = #{flowdir},</if>
<if test=" embed != null">"EmBed" = #{embed},</if>
<if test=" interfaceP != null">"Interface" = #{interfaceP},</if>
<if test=" address != null">"Address" = #{address},</if>
<if test=" datasource != null">"DataSource" = #{datasource},</if>
<if test=" sunit != null">"Sunit" = #{sunit},</if>
<if test=" sdate != null">"Sdate" = #{sdate},</if>
<if test=" updatetime != null">"UpdateTime" = #{updatetime},</if>
<if test=" mdate != null">"Mdate" = #{mdate},</if>
<if test=" plan != null">"Plan" = #{plan},</if>
<if test=" conduit_type != null">"Conduit_Type" = #{conduit_type},</if>
<if test=" status != null">"status" = #{status},</if>
<if test=" ename != null">"Ename" = #{ename},</if>
<if test=" design_dept != null">"Design_Dept" = #{design_dept},</if>
<if test=" conster_dept != null">"Conster_Dept" = #{conster_dept},</if>
<if test=" belong != null">"Belong" = #{belong},</if>
<if test=" operator != null">"Operator" = #{operator},</if>
<if test=" note != null">"Note" = #{note},</if>
<if test=" shape_length != null">"SHAPE_Length" = #{shape_length},</if>
<if test=" objectid != null">"OBJECTID" = #{objectid},</if>
<if test=" areaid != null">"AREAID" = #{areaid},</if>
<if test=" areaname != null">"AREANAME" = #{areaname},</if>
			
			<!-- <if test=" remark != null">"remark = #{remark},</if>
 			<if test=" updateBy != null">"update_by = #{updateBy},</if>
 			update_time = sysdate -->
 		</set>
 		where "Lno" = #{lno}
	</update>
	  
    <insert id="insert" parameterType="PS_CONDUIT">
    
		INSERT INTO PS_CONDUIT(
<if test=" prj_no != null">"Prj_No",</if>
<if test=" prj_name != null">"Prj_Name",</if>
<if test=" lno != null">"Lno",</if>
<if test=" grade != null">"Grade",</if>
<if test=" s_point != null">"S_Point",</if>
<if test=" s_deep != null">"S_Deep",</if>
<if test=" in_elev != null">"In_Elev",</if>
<if test=" e_point != null">"E_Point",</if>
<if test=" e_deep != null">"E_Deep",</if>
<if test=" out_elev != null">"Out_Elev",</if>
<if test=" sewagesystem_id != null">"SewageSystem_ID",</if>
<if test=" stormsystem_id != null">"StormSystem_ID",</if>
<if test=" conduit_style1 != null">"Conduit_Style1",</if>
<if test=" conduit_style2 != null">"Conduit_Style2",</if>
<if test=" type != null">"Type",</if>
<if test=" code != null">"Code",</if>
<if test=" material != null">"Material",</if>
<if test=" servicelife != null">"ServiceLife",</if>
<if test=" shapetype != null">"ShapeType",</if>
<if test=" shape_data1 != null">"Shape_Data1",</if>
<if test=" shape_data2 != null">"Shape_Data2",</if>
<if test=" shape_data3 != null">"Shape_Data3",</if>
<if test=" shape_data4 != null">"Shape_Data4",</if>
<if test=" shape_xydata != null">"Shape_XYData",</if>
<if test=" pipelength != null">"PipeLength",</if>
<if test=" flowdir != null">"FlowDir",</if>
<if test=" embed != null">"EmBed",</if>
<if test=" interfaceP != null">"Interface",</if>
<if test=" address != null">"Address",</if>
<if test=" datasource != null">"DataSource",</if>
<if test=" sunit != null">"Sunit",</if>
<if test=" sdate != null">"Sdate",</if>
<if test=" updatetime != null">"UpdateTime",</if>
<if test=" mdate != null">"Mdate",</if>
<if test=" plan != null">"Plan",</if>
<if test=" conduit_type != null">"Conduit_Type",</if>
<if test=" status != null">"status",</if>
<if test=" ename != null">"Ename",</if>
<if test=" design_dept != null">"Design_Dept",</if>
<if test=" conster_dept != null">"Conster_Dept",</if>
<if test=" belong != null">"Belong",</if>
<if test=" operator != null">"Operator",</if>
<if test=" note != null">"Note",</if>
<if test=" shape_length != null">"SHAPE_Length",</if>
<if test=" objectid != null">"OBJECTID",</if>
<if test=" areaid != null">"AREAID,</if>
<if test=" areaname != null">"AREANAME,</if>

			
			<!-- <if test=" remark != null">REMARK,</if>
			<if test=" createBy != null">create_by,</if> -->
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
<if test=" prj_no != null">#{prj_no},</if>
<if test=" prj_name != null">#{prj_name},</if>
<if test=" lno != null">#{lno},</if>
<if test=" grade != null">#{grade},</if>
<if test=" s_point != null">#{s_point},</if>
<if test=" s_deep != null">#{s_deep},</if>
<if test=" in_elev != null">#{in_elev},</if>
<if test=" e_point != null">#{e_point},</if>
<if test=" e_deep != null">#{e_deep},</if>
<if test=" out_elev != null">#{out_elev},</if>
<if test=" sewagesystem_id != null">#{sewagesystem_id},</if>
<if test=" stormsystem_id != null">#{stormsystem_id},</if>
<if test=" conduit_style1 != null">#{conduit_style1},</if>
<if test=" conduit_style2 != null">#{conduit_style2},</if>
<if test=" type != null">#{type},</if>
<if test=" code != null">#{code},</if>
<if test=" material != null">#{material},</if>
<if test=" servicelife != null">#{servicelife},</if>
<if test=" shapetype != null">#{shapetype},</if>
<if test=" shape_data1 != null">#{shape_data1},</if>
<if test=" shape_data2 != null">#{shape_data2},</if>
<if test=" shape_data3 != null">#{shape_data3},</if>
<if test=" shape_data4 != null">#{shape_data4},</if>
<if test=" shape_xydata != null">#{shape_xydata},</if>
<if test=" pipelength != null">#{pipelength},</if>
<if test=" flowdir != null">#{flowdir},</if>
<if test=" embed != null">#{embed},</if>
<if test=" interfaceP != null">#{interfaceP},</if>
<if test=" address != null">#{address},</if>
<if test=" datasource != null">#{datasource},</if>
<if test=" sunit != null">#{sunit},</if>
<if test=" sdate != null">#{sdate},</if>
<if test=" updatetime != null">#{updatetime},</if>
<if test=" mdate != null">#{mdate},</if>
<if test=" plan != null">#{plan},</if>
<if test=" conduit_type != null">#{conduit_type},</if>
<if test=" status != null">#{status},</if>
<if test=" ename != null">#{ename},</if>
<if test=" design_dept != null">#{design_dept},</if>
<if test=" conster_dept != null">#{conster_dept},</if>
<if test=" belong != null">#{belong},</if>
<if test=" operator != null">#{operator},</if>
<if test=" note != null">#{note},</if>
<if test=" shape_length != null">#{shape_length},</if>
<if test=" objectid != null">#{objectid},</if>
<if test=" areaid != null">#{areaid},</if>
<if test=" areaname != null">#{areaname},</if>

			
			<!-- <if test=" remark != null">#{remark},</if>
			<if test=" createBy != null">#{createBy},</if> -->
			<if test=" dept_id != null">#{dept_id},</if>	
			sysdate		
		)
	</insert>
    
</mapper>