<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.dev.drainagenetwork.PS_MANHOLEMapper">
 
	<resultMap type="PS_MANHOLE" id="result">
		<id     property="exp_no"    column="Exp_No"    />
		<!-- <id     property="prj_no"    column="Prj_No"    /> -->
<result     property="prj_no"   column="Prj_No"   />
<result     property="prj_name"   column="Prj_Name"   />
<result     property="mapcode"   column="MapCode"   />
<!-- <result     property="exp_no"   column="Exp_No"   /> -->
<result     property="sewagesystem_id"   column="SewageSystem_ID"   />
<result     property="stormsystem_id"   column="StormSystem_ID"   />
<result     property="type"   column="Type"   />
<result     property="x"   column="X"   />
<result     property="y"   column="Y"   />
<result     property="high"   column="High"   />
<result     property="welldeep"   column="WellDeep"   />
<result     property="offset"   column="Offset"   />
<result     property="rotation"   column="Rotation"   />
<result     property="code"   column="Code"   />
<result     property="model"   column="Model"   />
<result     property="wellshape"   column="WellShape"   />
<result     property="wellsize"   column="WellSize"   />
<result     property="wellmaterial"   column="WellMaterial"   />
<result     property="wellpipes"   column="WellPipes"   />
<result     property="waterdeep"   column="WaterDeep"   />
<result     property="muddeep"   column="MudDeep"   />
<result     property="address"   column="Address"   />
<result     property="pointposition"   column="PointPosition"   />
<result     property="datasource"   column="DataSource"   />
<result     property="visibility"   column="Visibility"   />
<result     property="sunit"   column="SUnit"   />
<result     property="sdate"   column="SDate"   />
<result     property="updatetime"   column="UpdateTime"   />
<result     property="mdate"   column="MDate"   />
<result     property="manhole_type"   column="Manhole_Type"   />
<result     property="status"   column="status"   />
<result     property="ename"   column="Ename"   />
<result     property="design_dept"   column="Design_Dept"   />
<result     property="conster_dept"   column="Conster_Dept"   />
<result     property="belong"   column="Belong"   />
<result     property="operator"   column="Operator"   />
<result     property="note"   column="Note"   />
<result     property="objectid"   column="OBJECTID"   />
<result     property="areaid"   column="AREAID"   />
<result     property="areaname"   column="AREANAME"   />


<!--         <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
		<result property="remark"    column="remark"    /> -->
		<result     property="dept_id"   column="dept_id"   />
    </resultMap> 

	<sql id="selectVo">
        select *
        from PS_MANHOLE r
    </sql>	
	
	<!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test=" prj_no !=null and prj_no != ''">
				and "Prj_No" = #{prj_no}
			</if>
			<if test=" areaid !=null">
				and AREAID = #{areaid}
			</if>
			<if test=" areaname != null and areaname != ''">
				AND AREANAME  like concat(concat('%',#{areaname}),'%')
			</if>
			<if test=" prj_name != null and prj_name != ''">
				AND "Prj_Name"  like concat(concat('%',#{prj_name}),'%')
			</if>
			<if test=" exp_no !=null and exp_no != ''">
				and "Exp_No" = #{exp_no}
			</if>
		</where>
	</sql>
	

    
    <select id="select" parameterType="PS_MANHOLE" resultMap="result">
        <include refid="selectVo"/>
        <include refid="sqlwhereSearch"/>
    </select>
    
    <select id="selectList" parameterType="PS_MANHOLE" resultMap="result">
        <include refid="selectVo"/>
        where  1 = 1
			<if test=" prj_no !=null and prj_no != ''">
				and "Prj_No" = #{prj_no}
			</if>
			<if test=" areaid !=null">
				and AREAID = #{areaid}
			</if>
			<if test=" areaname != null and areaname != ''">
				AND AREANAME  like concat(concat('%',#{areaname}),'%')
			</if>
			<if test=" prj_name != null and prj_name != ''">
				AND "Prj_Name"  like concat(concat('%',#{prj_name}),'%')
			</if>
			<if test=" exp_no !=null and exp_no != ''">
				and "Exp_No" = #{exp_no}
			</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}	
		
    </select>
      <select id="selectByName" parameterType="String" resultMap="result">
		<include refid="selectVo"/>
		where  1 = 1
		<if test=" prj_name != null and prj_name != ''">
				AND "Prj_Name"  like concat(concat('%',#{prj_name}),'%')
		</if>
	</select>
	
	<select id="selectById" parameterType="String" resultMap="result">
		<include refid="selectVo"/>
		where r."Exp_No" = #{exp_no}
	</select>
	
    <delete id="deleteById" parameterType="String">
		delete from PS_MANHOLE where "Exp_No" = #{exp_no}
	</delete>
	 <delete id="deleteByIds" parameterType="String">
 		delete from PS_MANHOLE where "Exp_No" in
 		<foreach collection="array" item="exp_no" open="(" separator="," close=")">
 			#{exp_no}
        </foreach> 
 	</delete>
    
    <update id="update" parameterType="PS_MANHOLE">
 		update PS_MANHOLE
 		<set>
<if test=" prj_name != null">"Prj_Name" = #{prj_name},</if>
<if test=" mapcode != null">"MapCode" = #{mapcode},</if>
<if test=" exp_no != null">"Exp_No" = #{exp_no},</if>
<if test=" sewagesystem_id != null">"SewageSystem_ID" = #{sewagesystem_id},</if>
<if test=" stormsystem_id != null">"StormSystem_ID" = #{stormsystem_id},</if>
<if test=" type != null">"Type" = #{type},</if>
<if test=" x != null">"X" = #{x},</if>
<if test=" y != null">"Y" = #{y},</if>
<if test=" high != null">"High" = #{high},</if>
<if test=" welldeep != null">"WellDeep" = #{welldeep},</if>
<if test=" offset != null">"Offset" = #{offset},</if>
<if test=" rotation != null">"Rotation" = #{rotation},</if>
<if test=" code != null">"Code" = #{code},</if>
<if test=" model != null">"Model" = #{model},</if>
<if test=" wellshape != null">"WellShape" = #{wellshape},</if>
<if test=" wellsize != null">"WellSize" = #{wellsize},</if>
<if test=" wellmaterial != null">"WellMaterial" = #{wellmaterial},</if>
<if test=" wellpipes != null">"WellPipes" = #{wellpipes},</if>
<if test=" waterdeep != null">"WaterDeep" = #{waterdeep},</if>
<if test=" muddeep != null">"MudDeep" = #{muddeep},</if>
<if test=" address != null">"Address" = #{address},</if>
<if test=" pointposition != null">"PointPosition" = #{pointposition},</if>
<if test=" datasource != null">"DataSource" = #{datasource},</if>
<if test=" visibility != null">"Visibility" = #{visibility},</if>
<if test=" sunit != null">"SUnit" = #{sunit},</if>
<if test=" sdate != null">"SDate" = #{sdate},</if>
<if test=" updatetime != null">"UpdateTime" = #{updatetime},</if>
<if test=" mdate != null">"MDate" = #{mdate},</if>
<if test=" manhole_type != null">"Manhole_Type" = #{manhole_type},</if>
<if test=" status != null">"status" = #{status},</if>
<if test=" ename != null">"Ename" = #{ename},</if>
<if test=" design_dept != null">"Design_Dept" = #{design_dept},</if>
<if test=" conster_dept != null">"Conster_Dept" = #{conster_dept},</if>
<if test=" belong != null">"Belong" = #{belong},</if>
<if test=" operator != null">"Operator" = #{operator},</if>
<if test=" note != null">"Note" = #{note},</if>
<if test=" objectid != null">"OBJECTID" = #{objectid},</if>
<if test=" areaid != null">"AREAID" = #{areaid},</if>
<if test=" areaname != null">"AREANAME" = #{areaname},</if>
			
			<!-- <if test=" remark != null">"remark = #{remark},</if>
 			<if test=" updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate -->
 		</set>
 		where Prj_No = #{prj_no}
	</update>
	  
    <insert id="insert" parameterType="PS_MANHOLE">
    
		INSERT INTO PS_MANHOLE(
<if test=" prj_no != null">"Prj_No",</if>
<if test=" prj_name != null">"Prj_Name",</if>
<if test=" mapcode != null">"MapCode",</if>
<if test=" exp_no != null">"Exp_No",</if>
<if test=" sewagesystem_id != null">"SewageSystem_ID",</if>
<if test=" stormsystem_id != null">"StormSystem_ID",</if>
<if test=" type != null">"Type",</if>
<if test=" x != null">"X",</if>
<if test=" y != null">"Y",</if>
<if test=" high != null">"High",</if>
<if test=" welldeep != null">"WellDeep",</if>
<if test=" offset != null">"Offset",</if>
<if test=" rotation != null">"Rotation",</if>
<if test=" code != null">"Code",</if>
<if test=" model != null">"Model",</if>
<if test=" wellshape != null">"WellShape",</if>
<if test=" wellsize != null">"WellSize",</if>
<if test=" wellmaterial != null">"WellMaterial",</if>
<if test=" wellpipes != null">"WellPipes",</if>
<if test=" waterdeep != null">"WaterDeep",</if>
<if test=" muddeep != null">"MudDeep",</if>
<if test=" address != null">"Address",</if>
<if test=" pointposition != null">"PointPosition",</if>
<if test=" datasource != null">"DataSource",</if>
<if test=" visibility != null">"Visibility",</if>
<if test=" sunit != null">"SUnit",</if>
<if test=" sdate != null">"SDate",</if>
<if test=" updatetime != null">"UpdateTime",</if>
<if test=" mdate != null">"MDate",</if>
<if test=" manhole_type != null">"Manhole_Type",</if>
<if test=" status != null">"status",</if>
<if test=" ename != null">"Ename",</if>
<if test=" design_dept != null">"Design_Dept",</if>
<if test=" conster_dept != null">"Conster_Dept",</if>
<if test=" belong != null">"Belong",</if>
<if test=" operator != null">"Operator",</if>
<if test=" note != null">"Note",</if>
<if test=" objectid != null">"OBJECTID",</if>
<if test=" areaid != null">"AREAID",</if>
<if test=" areaname != null">"AREANAME",</if>

			
			<!-- <if test=" remark != null">REMARK,</if>
			<if test=" createBy != null">create_by,</if> -->
			<if test=" dept_id != null ">dept_id,</if>
			create_time
		) VALUES (
<if test=" prj_no != null">#{prj_no},</if>
<if test=" prj_name != null">#{prj_name},</if>
<if test=" mapcode != null">#{mapcode},</if>
<if test=" exp_no != null">#{exp_no},</if>
<if test=" sewagesystem_id != null">#{sewagesystem_id},</if>
<if test=" stormsystem_id != null">#{stormsystem_id},</if>
<if test=" type != null">#{type},</if>
<if test=" x != null">#{x},</if>
<if test=" y != null">#{y},</if>
<if test=" high != null">#{high},</if>
<if test=" welldeep != null">#{welldeep},</if>
<if test=" offset != null">#{offset},</if>
<if test=" rotation != null">#{rotation},</if>
<if test=" code != null">#{code},</if>
<if test=" model != null">#{model},</if>
<if test=" wellshape != null">#{wellshape},</if>
<if test=" wellsize != null">#{wellsize},</if>
<if test=" wellmaterial != null">#{wellmaterial},</if>
<if test=" wellpipes != null">#{wellpipes},</if>
<if test=" waterdeep != null">#{waterdeep},</if>
<if test=" muddeep != null">#{muddeep},</if>
<if test=" address != null">#{address},</if>
<if test=" pointposition != null">#{pointposition},</if>
<if test=" datasource != null">#{datasource},</if>
<if test=" visibility != null">#{visibility},</if>
<if test=" sunit != null">#{sunit},</if>
<if test=" sdate != null">#{sdate},</if>
<if test=" updatetime != null">#{updatetime},</if>
<if test=" mdate != null">#{mdate},</if>
<if test=" manhole_type != null">#{manhole_type},</if>
<if test=" status != null">#{status},</if>
<if test=" ename != null">#{ename},</if>
<if test=" design_dept != null">#{design_dept},</if>
<if test=" conster_dept != null">#{conster_dept},</if>
<if test=" belong != null">#{belong},</if>
<if test=" operator != null">#{operator},</if>
<if test=" note != null">#{note},</if>
<if test=" objectid != null">#{objectid},</if>
<if test=" areaid != null">#{areaid},</if>
<if test=" areaname != null">#{areaname},</if>

			
			<!-- <if test=" remark != null">#{remark},</if>
			<if test=" createBy != null">#{createBy},</if> -->
			<if test=" dept_id != null">#{dept_id},</if>
			sysdate			
		)
	</insert>
    
</mapper>