<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('申请列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="fix-form">
				<input name="deptId" type="hidden" id="treeId"/>
					<div class="select-list">
						<ul>
							<li>
		                        <label >使用部门：</label>
                            	<input name="useDept" onclick="selectDeptTree()" id="treeName" type="text" placeholder="" >
							</li>
							<li class="select-time">
								<label>申请日期： </label>
								<input type="text" class="time-input" id="applyDate"  name="applyDate"/>
							</li>
							<li>
								<label >设备名称：</label>
								<input id="devName" name ="devName" />
							</li>
							<li>
								<label>设备编号：</label>
								<input id="devNumber" name ="devNumber" />
							</li>
							<li>
								<label>设备型号：</label>
								<input id="devModel" name ="devModel"  />
							</li>
							<li>
								<label>派工单号：</label>
								<input id="jobnumber" name ="jobnumber"  />
							</li>
	
							<li>
								<a class="btn  btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn  btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
<!-- 		<div class="select-list">
			<ul>
				<li>
                   	<a class="btn"  th:href="'/op/dev/routineCheck'"  style="border-color: #1a7bb9">设备点检</a>
                   	<a class="btn"  th:href="'/op/dev/maintainPlan'"  style="border-color: #1a7bb9">保养计划</a>
                   	<a class="btn"  th:href="'/op/dev/maintainRecord'"  style="border-color: #1a7bb9">保养记录</a>
                   	<a class="btn"  th:href="'/op/dev/fix'"  style="border-color: #EE0000">检修记录</a>
				</li>						
			</ul>
		</div> -->				
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="dev:fix:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dev:fix:delete">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dev:fix:export">
		            <i class="fa fa-download"></i> 导出
		        </a> -->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "op/dev/fix";
        var viewFlag = [[${@permission.hasPermi('dev:fix:view')}]];
        var editFlag = [[${@permission.hasPermi('dev:fix:edit')}]];
        var removeFlag = [[${@permission.hasPermi('dev:fix:delete')}]];
        
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
        function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			//if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			//}
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                
                modalName: "检修记录",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号' 
				},
				{
					field : 'jobnumber', 
					title : '派工单号' 
				},
				{
					field : 'devName', 
					title : '设备名称' 
				},
				
				{
		            field: 'devNumber',
		            title: '设备编号',
		        },
		        {
		            field: 'devModel',
		            title: '设备型号',
		        },
		        {
		            field: 'useDept',
		            title: '使用部门',
		        },
		        {
		            field: 'installPlace',
		            title: '设备地点',
		        },
		        {
		            field: 'assetCode',
		            title: '资产编号',
		        },
		        {
		            field: 'maintainer',
		            title: '维修员',
		        },
		        {
		            field: 'operateDutyOfficer',
		            title: '操作责任人',
		        },
		        {
		            field: 'recordDate',
		            title: '记录日期',
		        },
		        {
		            field: 'troubleSpec',
		            title: '故障现象描述',
		        },
		        {
		            field: 'reason',
		            title: '原因分析',
		        },
		        {
		            field: 'assayer',
		            title: '分析人',
		        },
		        {
		            field: 'troubleType',
		            title: '故障类型',
		        },
		        {
		            field: 'dutyPeople',
		            title: '责任人',
		        },
		        {
		            field: 'result',
		            title: '维修结果',
		        },
		        {
		            field: 'usesTime',
		            title: '维修耗时',
		        },
		        
		        {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>