<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('添加设备资产')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
       <form id="form-asset-add"  class="form-horizontal">
		<input name="deptId" type="hidden" id="treeId" />
		<div class="control-group" align="center">
			<label class="lbl" >设　备　档　案</label><br>
		</div>
		<div class="control-group">
		<!-- required -->
		<table  class="table table-striped table-bordered table-condensed">
			  <tr>
			    <td>设备名称</td>
			    <td>设备编号</td>
			    <td colspan="2">设备型号</td>
			    <td colspan="2">设备规格</td>
			    <td>ＡＢＣ分类</td>
			  </tr>
			  <tr>
			    <td><input name="name" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="number" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td colspan="2"><input name="model" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td colspan="2"><input name="specs" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="abcCategory" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td>设备类型</td>
			    <td>设备状态</td>
			    <td>生产用途</td>
			    <td>使用部门</td>
			    <td colspan="2">安装地点</td>
			    <td>资产代码</td>
			  </tr>
			  <tr>
			    <td>
					<select class="selectpicker form-control" name="devType"  id="devType" type="text" >
					 <option value="机械设备">机械设备</option>
					  <option value="电器电柜">电器电柜</option>
					  <option value="自控仪表">自控仪表</option>
					</select>			    
			    </td>
			    <td>
			    	<select class="selectpicker form-control" name="status"  id="status" type="text" >
					 <option value="正常运行">正常运行</option>
					  <option value="停机保养">停机保养</option>
					  <option value="设备停用">设备停用</option>
					  <option value="设备故障">设备故障</option>
					  <option value="设备封存">设备封存</option>
					</select>
			    </td>
			    <td><input name="purpost" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="useDep" onclick="selectDeptTree()" id="treeName" htmlEscape="false"  style="width: 90%; "  class="form-control"/></td>
			    <td colspan="2"><input name="installPlace" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="code" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td colspan="2">制造厂商</td>
			    <td>制造国别</td>
			    <td>出厂日期</td>
			    <td>出厂编号</td>
			    <td>启用日期</td>
			    <td>资产名称</td>
			  </tr>
			  <tr>
			    <td colspan="2"><input name="manufacturer" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="makeCountry" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>
			    <input id="proDate" name="proDate" class="time-input form-control" type="text" /> 
			    </td>
			    <td><input name="proCode" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>
			    <input id="useDate" name="useDate" class="time-input form-control" type="text" /> </td>
			    <td><input name="assetName" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td colspan="2">供应商</td>
			    <td>供应商电话</td>
			    <td>保修期</td>
			    <td>保养周期</td>
			    <td>设备原值</td>
			    <td>资产类别</td>
			  </tr>
			  <tr>
			    <td colspan="2"><input name="supplier" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="supplierPhone" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="gPeriod" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="mCycle" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="oValue" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="assetType" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td>参数名称</td>
			    <td>标准值</td>
			    <td>参数名称</td>
			    <td>标准值</td>
			    <td>参数名称</td>
			    <td>标准值</td>
			    <td>备注</td>
			  </tr>
			  <tr>
			    <td>电压</td>
			    <td><input name="devVoltage" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>扬程</td>
			    <td><input name="lift" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>装重量</td>
			    <td><input name="packWeight" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="remark1" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td>功率</td>
			    <td><input name="DPower" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>流量</td>
			    <td><input name="flow" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>管道口径</td>
			    <td><input name="pipeCaliber" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="remark2" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td>电流</td>
			    <td><input name="Dcurrent" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>机体重量</td>
			    <td><input name="wight" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>材质</td>
			    <td><input name="material" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="remark3" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td>容积</td>
			    <td><input name="volume" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>设计压力</td>
			    <td><input name="pressure" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>电机转数</td>
			    <td><input name="revolution" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="remark4" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  
			  </table>
		</div>
		<div class="control-group">
			<table class="table table-striped table-bordered table-condensed">
			  <tr height="24">
			    <td colspan="7"> <div align="center">辅机设备（施）</div></td>
			  </tr>
			  <tr>
			    <td>设备名称</td>
			    <td><input name="auNameFirst" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>设备名称</td>
			    <td><input name="auNameSec" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>功率</td>
			    <td><input name="auPower" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>备注</td>
			  </tr>
			  <tr>
			    <td>型号</td>
			    <td><input name="auModelFirst" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>型号</td>
			    <td><input name="auModelSec" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>电流</td>
			    <td><input name="auCurrent" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="remark5" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td>设备编号</td>
			    <td><input name="auNumber" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td>电压</td>
			    <td><input name="auVoltage" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td></td>
			    <td></td>
			    <td><input name="remark6" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td colspan="2">制造厂商</td>
			    <td>电话</td>
			    <td colspan="2">供应商</td>
			    <td>电话</td>
			    <td><input name="remark7" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			  </tr>
			  <tr>
			    <td colspan="2"><input name="auManufacturer" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="auMPhone" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td colspan="2"><input name="auSupplier" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td><input name="auSPhone" htmlEscape="false"  style="width: 90%; " class="form-control"/></td>
			    <td></td>
			  </tr>
		</table>
		</div>
	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script>
	    var prefix = ctx + "op/dev/asset";
	
        $("#form-asset-add").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form-asset-add").serializeArray();
	        	/* var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
	        	var roleIds = $.form.selectCheckeds("role");
	        	var postIds = $.form.selectSelects("post");
	        	data.push({"name": "status", "value": status});
	        	data.push({"name": "roleIds", "value": roleIds});
	        	data.push({"name": "postIds", "value": postIds}); */
	        	$.operate.saveTab(prefix + "/add", data);
	        }
	    }
         
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}

		$(function() {
            $('#post').select2({
                placeholder:"请选择岗位",
                allowClear: true
            });
        })
    </script>
</body>
</html>
