<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('排水户列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<!-- 查询条件 -->
			<div class="col-sm-12 search-collapse">
				<!-- <form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								排水户名称：<input type="text" name="household_name"/>
							</li>
							<li>
								行政区名：<input type="text" name="administrative_name"/>
							</li>
							<li>
								街道名：<input type="text" name="street_name"/>
							</li>
							<li>
								居委会：<input type="text" name="committees"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form> -->
				<!-- 跳转按钮 -->
				<a class="btn" href="/drainage/household" style="border-color: #1a7bb9">排水户列表</a>
		        <a class="btn btn-info" href="/drainage/statistics" style="border-color: #EE0000">数据统计</a>
			</div>
	        
	        <!-- 统计图 -->
	        <div class="col-sm-12 panel panel-default">
			    <div id="household-administrative" style="height: 500px;"></div>
			</div>
			<div class="col-sm-12 panel panel-default">
			    <div id="household-sewage-category" style="height: 500px;"></div>
			</div>
			<div class="col-sm-12 panel panel-default">
			    <div id="household-administrative-sewage" style="height: 500px;"></div>
			</div>
			<div class="col-sm-12 panel panel-default">
			    <div id="household-record-state" style="height: 500px;"></div>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
	$(function(){
		//ajax获取排水户分布统计数据
		$.ajax({
	            url: "/drainage/statistics/householdAdministrativeStatistics",
	            type: 'POST',
	            dataType: 'JSON',
	            data: {},
	            success: function(data){
	            	var dataArr = data; //排水户饼图的系列数据对象
	            	
	            	//动态data
	        		function getData(dataList){
	        			var jsonstr = [];
	        			for (var i = 0; i < dataList.length; i++) {
	        				var json = {};
	        				json.value = dataList[i].value;
	        				json.name = dataList[i].name;
	        				jsonstr.push(json);
	        			}
	        			return jsonstr;
	        		}
	            	
	        		//设置排水户分布统计数据饼图
	        		var dom1 = document.getElementById("household-administrative");
	        		var myChart1 = echarts.init(dom1);
	        		var app = {}; 
	        		option = null;
	        		option = {
	        		    title : {
	        		        text: '排水户分布',
	        		        subtext: '各行政区排水户比例统计',
	        		        x:'center'
	        		    },
	        		    toolbox: {
	        		        show: true,
	        		        feature: {
	        		            saveAsImage: {type:'png'}
	        		        }
	        		    },
	        		    tooltip : {
	        		        trigger: 'item',
	        		        formatter: "{a} <br/>{b} : {c} ({d}%)" // a（系列名称），b（数据项名称），c（数值）, d（百分比）
	        		    },
	        		    legend: {
	        		        orient: 'vertical',
	        		        left: 'left',
	        		        data: ["光明区","前海开发区","南山区","坪山区","大鹏新区","宝安区","深汕合作区","盐田区","福田区","罗湖区","龙华区","龙岗区"]
	        		    },
	        		    series : [
	        		        {
	        		            name: '详情',
	        		            type: 'pie',
	        		            radius : '55%',
	        		            center: ['50%', '60%'],
	        		            data: getData(dataArr), //需要对象，不是字符串拼接
	        		            itemStyle: {
	        		                emphasis: {
	        		                    shadowBlur: 10,
	        		                    shadowOffsetX: 0,
	        		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
	        		                }
	        		            }
	        		        }
	        		    ]
	        		};
	        		if (option && typeof option === "object") {
	        		    myChart1.setOption(option, true);
	        		}
	            }
	     });
		
		//ajax获取全市污水类别比例
		$.ajax({
			url: "/drainage/statistics/sewageCategoryStatistics",
			type: 'POST',
			dataType: 'JSON',
			//data: {}
			success: function(result){
				var dataArr = result; //污水类别饼图的系列数据对象
            	
            	//动态data
        		function getData(dataList){
        			var jsonstr = [];
        			for (var i = 0; i < dataList.length; i++) {
        				var json = {};
        				json.value = dataList[i].value;
        				json.name = dataList[i].name;
        				jsonstr.push(json);
        			}
        			return jsonstr;
        		}
            	
        		//设置污水类别统计数据饼图
        		var dom4 = document.getElementById("household-sewage-category");
        		var myChart4 = echarts.init(dom4);
        		var app = {}; 
        		option = null;
        		option = {
        		    title : {
        		        text: '污水类别',
        		        subtext: '全市污水类别比例统计',
        		        x:'center'
        		    },
        		    toolbox: {
        		        show: true,
        		        feature: {
        		            saveAsImage: {type:'png'}
        		        }
        		    },
        		    tooltip : {
        		        trigger: 'item',
        		        formatter: "{a} <br/>{b} : {c} ({d}%)" // a（系列名称），b（数据项名称），c（数值）, d（百分比）
        		    },
        		    legend: {
        		        orient: 'vertical',
        		        left: 'left',
        		        data: ["有毒有害排污类","沉淀物排污类","餐饮排污类","生活排污类"]
        		    },
        		    series : [
        		        {
        		            name: '详情',
        		            type: 'pie',
        		            radius : '55%',
        		            center: ['50%', '60%'],
        		            data: getData(dataArr), //需要对象，不是字符串拼接
        		            itemStyle: {
        		                emphasis: {
        		                    shadowBlur: 10,
        		                    shadowOffsetX: 0,
        		                    shadowColor: 'rgba(0, 0, 0, 0.4)'
        		                }
        		            }
        		        }
        		    ]
        		};
        		if (option && typeof option === "object") {
        		    myChart4.setOption(option, true);
        		}
			}
		});
		
		//ajax获取各个行政区污水类别
		$.ajax({
	            url: "/drainage/statistics/adminiSewageStatistics",
	            type: 'POST',
	            dataType: 'JSON',
	            //data: {},
	            success: function(result){
	        		//获取绘制div以及option对象准备
	        		var dom2 = document.getElementById("household-administrative-sewage");
	        		var myChart2 = echarts.init(dom2);
	        		var app = {};
	        		option = null;
	        		app.title = '堆叠条形图';
	        		option = {
	        			title : {
	            		    text: '各区排水户污水类别',
	            		    subtext: '各行政区排水户污水类别比例统计',
	            		    x:'left'
	            		},
	            		toolbox: {
	            	        show: true,
	            	        feature: {
	            	            dataZoom: {
	            	                yAxisIndex: 'none'
	            	            },
	            	            dataView: {readOnly: false},
	            	            magicType: {type: ['line', 'bar']},
	            	            restore: {},
	            	            saveAsImage: {type:'png'}
	            	        }
	            	    },
	        		    tooltip : {
	        		        trigger: 'axis',
	        		        axisPointer : {        // 坐标轴指示器，坐标轴触发有效
	        		            type : 'shadow'    // 默认为直线，可选为：'line' | 'shadow'
	        		        }
	        		    },
	        		    legend: {
	        		        data: ["有毒有害排污类","沉淀物排污类","餐饮排污类","生活排污类"]
	        		    },
	        		    grid: {
	        		        left: '3%',
	        		        right: '4%',
	        		        bottom: '3%',
	        		        containLabel: true
	        		    },
	        		    xAxis:  {
	        		        type: 'category',
	        		        data: ["光明区","前海开发区","南山区","坪山区","大鹏新区","宝安区","深汕合作区","盐田区","福田区","罗湖区","龙华区","龙岗区"]
	        		    },
	        		    yAxis: {
	        		        type: 'value'
	        		    },
	        		    series: [
	        		        {
	        		            name: '有毒有害排污类',
	        		            type: 'bar',
	        		            stack: '总量',
	        		            label: {
	        		                normal: {
	        		                    show: true,
	        		                    position: 'insideRight'
	        		                }
	        		            },
	        		            data:[]
	        		        },
	        		        {
	        		            name: '沉淀物排污类',
	        		            type: 'bar',
	        		            stack: '总量',
	        		            label: {
	        		                normal: {
	        		                    show: true,
	        		                    position: 'insideRight'
	        		                }
	        		            },
	        		            data: []
	        		        },
	        		        {
	        		            name: '餐饮排污类',
	        		            type: 'bar',
	        		            stack: '总量',
	        		            label: {
	        		                normal: {
	        		                    show: true,
	        		                    position: 'insideRight'
	        		                }
	        		            },
	        		            data: []
	        		        },
	        		        {
	        		            name: '生活排污类',
	        		            type: 'bar',
	        		            stack: '总量',
	        		            label: {
	        		                normal: {
	        		                    show: true,
	        		                    position: 'insideRight'
	        		                }
	        		            },
	        		            data: []
	        		        }
	        		    ]
	        		};
	        		
	        		//数据处理
	        		for(var i=0;i<result.length;i++){
	        			option.series[i].data = result[i];	
	        		}
	        		
	        		//绘制堆叠柱形图
	        		if (option && typeof option === "object") {
	        		    myChart2.setOption(option, true);
	        		}
	            }
	    });
		
		//ajax统计各行政区排水户记录状态
		$.ajax({
			url: "/drainage/statistics/recordStateStatistics",
			type: 'POST',
			dataType: 'JSON',
			//data:{},
			success: function(result){
				//获取绘制div以及option对象准备
        		var dom3 = document.getElementById("household-record-state");
        		var myChart3 = echarts.init(dom3);
        		var app = {};
        		option = null;
        		app.title = '堆叠条形图';
        		option = {
        			title : {
            		    text: '各区排水户记录状态',
            		    subtext: '各行政区排水户记录状态统计',
            		    x:'left'
            		},
            		toolbox: {
            	        show: true,
            	        feature: {
            	            dataZoom: {
            	                yAxisIndex: 'none'
            	            },
            	            dataView: {readOnly: false},
            	            magicType: {type: ['line', 'bar']},
            	            restore: {},
            	            saveAsImage: {type:'png'}
            	        }
            	    },
        		    tooltip : {
        		        trigger: 'axis',
        		        axisPointer : {        // 坐标轴指示器，坐标轴触发有效
        		            type : 'shadow'    // 默认为直线，可选为：'line' | 'shadow'
        		        }
        		    },
        		    legend: {
        		        data: ["已审核","待修改","待审核","待提交"]
        		    },
        		    grid: {
        		        left: '3%',
        		        right: '4%',
        		        bottom: '3%',
        		        containLabel: true
        		    },
        		    xAxis:  {
        		        type: 'category',
        		        data: ["光明区","前海开发区","南山区","坪山区","大鹏新区","宝安区","深汕合作区","盐田区","福田区","罗湖区","龙华区","龙岗区"]
        		    },
        		    yAxis: {
        		        type: 'value'
        		    },
        		    series: [
        		        {
        		            name: '已审核',
        		            type: 'bar',
        		            stack: '总量',
        		            label: {
        		                normal: {
        		                    show: true,
        		                    position: 'insideRight'
        		                }
        		            },
        		            data:[],
        		            itemStyle: {
        		            	normal: {
        		            	color: 'rgba(0,255,4, 0.9)',
        		            	}
        		            }
        		        },
        		        {
        		            name: '待修改',
        		            type: 'bar',
        		            stack: '总量',
        		            label: {
        		                normal: {
        		                    show: true,
        		                    position: 'insideRight'
        		                }
        		            },
        		            data: [],
        		            itemStyle: {
        		            	normal: {
        		            	color: 'rgba(255,0,246, 0.7)',
        		            	}
        		            }
        		        },
        		        {
        		            name: '待审核',
        		            type: 'bar',
        		            stack: '总量',
        		            label: {
        		                normal: {
        		                    show: true,
        		                    position: 'insideRight'
        		                }
        		            },
        		            data: [],
        		            itemStyle: {
        		            	normal: {
        		            	color: 'rgba(255,29,0, 0.5)',
        		            	}
        		            }
        		        },
        		        {
        		            name: '待提交',
        		            type: 'bar',
        		            stack: '总量',
        		            label: {
        		                normal: {
        		                    show: true,
        		                    position: 'insideRight'
        		                }
        		            },
        		            data: [],
        		            itemStyle: {
        		            	normal: {
        		            	color: 'rgba(242,255,0, 0.3)',
        		            	}
        		            }
        		        }
        		    ]
        		};
        		
        		//数据处理
        		for(var i=0;i<result.length;i++){
        			option.series[i].data = result[i];	
        		}
        		
        		//绘制堆叠柱形图
        		if (option && typeof option === "object") {
        		    myChart3.setOption(option, true);
        		}
			}
		});
		
	});
	</script>
</body>
</html>