<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('排水户列表')" />
	<link th:href="@{/css/drainage/drainage.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<!-- 查询条件 -->
			<!-- <div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								排水户名称：<input type="text" name="household_name"/>
							</li>
							<li>
								行政区名：<input type="text" name="administrative_name"/>
							</li>
							<li>
								街道名：<input type="text" name="street_name"/>
							</li>
							<li>
								居委会：<input type="text" name="committees"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
				跳转按钮
				<table>
					<tr>
						<a class="btn" href="/drainage/household">排水户列表</a>
		       			<a class="btn btn-main" href="/drainage/statistics">数据统计</a>
					</tr>
				</table>
			</div> -->
	        
	        <!-- 统计图 -->
	        <div class="col-sm-12 panel panel-default">
			    <div id="household-administrative" style="height: 500px;"></div>
			</div>
			<div class="col-sm-12 panel panel-default">
			    <div id="household-sewage-category" style="height: 500px;"></div>
			</div>
			<div class="col-sm-12 panel panel-default">
			    <div id="household-administrative-sewage" style="height: 500px;"></div>
			</div>
			<div class="col-sm-12 panel panel-default">
			    <div id="household-record-state" style="height: 500px;"></div>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<!-- echarts -->
	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script> -->
	<!-- Highcharts -->
	<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
	<script src="https://code.highcharts.com.cn/highcharts/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
	<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
	<!-- 业务js -->
	<script th:inline="javascript" type="text/javascript">
	$(function(){
		//ajax获取 各区排水户分布数量 统计数据
		$.ajax({
	            url: "/drainage/statistics/householdAdministrativeStatistics",
	            type: 'POST',
	            dataType: 'JSON',
	            data: {},
	            success: function(data){
	            	//获取排水户数量的数组对象数据
	            	var result = data; 	            	
	        		//获取排水户分布统计数据饼图的div id
	        		var dom = document.getElementById("household-administrative");
	        		//饼图对象
	        		var option = {
	        				chart: {
	        					type: 'pie',
	        					options3d: {
	        						enabled: true,
	        						alpha: 55,
	        						beta: -8
	        					}
	        				},
	        				title: {
	        					text: '各区排水户分布数量'
	        				},
	        				tooltip: {
	        					formatter: function() {
	        						return '<b>'+ this.point.name +'</b>: <br>'+ this.series.name + Highcharts.numberFormat(this.percentage, 1) +'% ('+
	        							Highcharts.numberFormat(this.y, 0, ',') +' 个)';
	        					}
	        				},
	        				plotOptions: {
	        					pie: {
	        						allowPointSelect: true,
	        						cursor: 'pointer',
	        						depth: 35,
	        						dataLabels: {
	        							enabled: true,
	        							format: '{point.name}'
	        						}
	        					}
	        				},
	        				series: [{
	        					type: 'pie',
	        					name: '排水户数量占比',
	        					data: result
	        				}],
	        				credits: {  
	        				    enabled: false     //不显示Highcharts LOGO
	        				},
	        				colors:['#2BA3FD','#52C41A','#2DC6C6','#FAAE13','#F5222D','#2DC6C6']
	        			}
	        			//绘制饼图
	        			var chart = Highcharts.chart(dom, option);
	            }
	     });
		
		//ajax获取 全市排水户的污水类别 比例
		$.ajax({
			url: "/drainage/statistics/sewageCategoryStatistics",
			type: 'POST',
			dataType: 'JSON',
			//data: {}
			success: function(data){
				//污水类别饼图的系列数据对象
				var result = data;             	
        		//设置污水类别统计数据饼图
        		var dom = document.getElementById("household-sewage-category");
        		//饼图对象
        		var option = {
        				chart: {
        					type: 'pie',
        					options3d: {
        						enabled: true,
        						alpha: 55,
        						beta: -8
        					}
        				},
        				title: {
        					text: '全市排水户污水类别比例'
        				},
        				tooltip: {
        					formatter: function() {
        						return '<b>'+ this.point.name +'</b>: <br>'+ this.series.name + Highcharts.numberFormat(this.percentage, 1) +'% ('+
        							Highcharts.numberFormat(this.y, 0, ',') +' 个)';
        					}
        				},
        				plotOptions: {
        					pie: {
        						allowPointSelect: true,
        						cursor: 'pointer',
        						depth: 35,
        						dataLabels: {
        							enabled: true,
        							format: '{point.name}'
        						}
        					}
        				},
        				series: [{
        					type: 'pie',
        					name: '污染类别占比',
        					data: result
        				}],credits: {  
        				    enabled: false     //不显示Highcharts LOGO
        				},
        				colors:['#2BA3FD','#52C41A','#2DC6C6','#FAAE13','#F5222D','#2DC6C6']
        			}
        			//绘制饼图
        			var chart = Highcharts.chart(dom, option);
			}
		});
		
		//ajax获取各个行政区污水类别
		$.ajax({
	            url: "/drainage/statistics/adminiSewageStatistics",
	            type: 'POST',
	            dataType: 'JSON',
	            //data: {},
	            success: function(result){
	            	//获取绘制图形的div的id
	        		var dom = document.getElementById("household-administrative-sewage");	
	        		//堆叠柱形图对象
	        		var option = {
	        				chart: {
	        					type: 'column',
	        					options3d: {
	        						enabled: true,
	        						alpha: 15,
	        						beta: 10,
	        						viewDistance: 20,
	        						depth: 40
	        					},
	        					marginTop: 80,
	        					marginRight: 40
	        				},
	        				title: {
	        					text: '各区排水户污水类别统计'
	        				},
	        				xAxis: {
	        					categories: ["光明区","前海开发区","南山区","坪山区","大鹏新区","宝安区","深汕合作区","盐田区","福田区","罗湖区","龙华区","龙岗区"]
	        				},
	        				yAxis: {
	        					allowDecimals: false,
	        					min: 0,
	        					title: {
	        						text: '排水户数量'
	        					}
	        				},
	        				tooltip: {
	        					headerFormat: '<b>{point.key}</b><br>',
	        					pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
	        				},
	        				plotOptions: {
	        					column: {
	        						stacking: 'normal',
	        						depth: 40
	        					}
	        				},
	        				series: [{
	        					name: '有毒有害排污类',
	        					data: [],
	        					stack: 'administrative' //分组
	        				}, {
	        					name: '沉淀物排污类',
	        					data: [],
	        					stack: 'administrative'
	        				}, {
	        					name: '餐饮排污类',
	        					data: [],
	        					stack: 'administrative'
	        				}, {
	        					name: '生活排污类',
	        					data: [],
	        					stack: 'administrative'
	        				}],
	        				credits: {  
	        		            enabled: false     //不显示Highcharts LOGO
	        		        },
	        				colors:['#2BA3FD','#52C41A','#2DC6C6','#FAAE13','#F5222D','#2DC6C6']
	        			};
	        		//后端数据赋值
	        		for(var i=0;i<result.length;i++){ 
	        			option.series[i].data = result[i];	
	        		}
	        		//绘制堆叠柱形图
	        		var chart = Highcharts.chart(dom,option);
	            }
	    });
		
		//ajax统计各行政区排水户记录状态
		$.ajax({
			url: "/drainage/statistics/recordStateStatistics",
			type: 'POST',
			dataType: 'JSON',
			//data:{},
			success: function(result){
				//获取绘制div id
        		var dom = document.getElementById("household-record-state");
				//堆叠柱形图对象
				var option = {
	        				chart: {
	        					type: 'column',
	        					options3d: {
	        						enabled: true,
	        						alpha: 15,
	        						beta: -10,
	        						viewDistance: 20,
	        						depth: 40
	        					},
	        					marginTop: 80,
	        					marginRight: 40
	        				},
	        				title: {
	        					text: '各区排水户记录状态'
	        				},
	        				xAxis: {
	        					categories: ["光明区","前海开发区","南山区","坪山区","大鹏新区","宝安区","深汕合作区","盐田区","福田区","罗湖区","龙华区","龙岗区"]
	        				},
	        				yAxis: {
	        					allowDecimals: false,
	        					min: 0,
	        					title: {
	        						text: '排水户数量'
	        					}
	        				},
	        				tooltip: {
	        					headerFormat: '<b>{point.key}</b><br>',
	        					pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
	        				},
	        				plotOptions: {
	        					column: {
	        						stacking: 'normal',
	        						depth: 40
	        					}
	        				},
	        				series: [{
	        					name: '已审核',
	        					data: [],
	        					stack: 'status_ok' //分组
	        				}, {
	        					name: '待修改',
	        					data: [],
	        					stack: 'status_no'
	        				}, {
	        					name: '待审核',
	        					data: [],
	        					stack: 'status_no'
	        				}, {
	        					name: '待提交',
	        					data: [],
	        					stack: 'status_no'
	        				}],
	        				credits: {  
	        		            enabled: false     //不显示Highcharts LOGO
	        		        },
	        				colors:['#2BA3FD','#52C41A','#2DC6C6','#FAAE13','#F5222D','#2DC6C6']
	        			};
        		
        		//后端数据赋值
        		for(var i=0;i<result.length;i++){ 
        			option.series[i].data = result[i];	
        		}
        		//绘制堆叠柱形图
        		var chart = Highcharts.chart(dom,option);
			}
		});
		
	});
	</script>
</body>
</html>