<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.event.EventEmailMapper">

    <resultMap type="com.szps.web.domain.event.EventEmail" id="EventEmailResult">
        <result property="sid"    column="sid"    />
        <result property="eventAttribute"    column="event_attribute"    />
        <result property="eventEmail"    column="event_email"    />
    </resultMap>

    <sql id="selectEventEmailVo">
        select sid, event_attribute, event_email from EVENT_EMAIL
    </sql>

    <select id="selectEventEmailList" parameterType="com.szps.web.domain.event.EventEmail" resultMap="EventEmailResult">
        <include refid="selectEventEmailVo"/>
        <where>
            <if test="eventAttribute != null  and eventAttribute != ''"> and event_attribute = #{eventAttribute}</if>
            <if test="eventEmail != null  and eventEmail != ''"> and event_email = #{eventEmail}</if>
        </where>
    </select>

    <select id="selectEventEmailById" parameterType="java.lang.Long" resultMap="EventEmailResult">
        <include refid="selectEventEmailVo"/>
        where sid = #{sid}
    </select>

    <insert id="insertEventEmail" parameterType="com.szps.web.domain.event.EventEmail">
        <selectKey keyProperty="sid" resultType="long" order="BEFORE">
            SELECT seq_EVENT_EMAIL.NEXTVAL as sid FROM DUAL
        </selectKey>
        insert into EVENT_EMAIL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null ">sid,</if>
            <if test="eventAttribute != null  and eventAttribute != ''">event_attribute,</if>
            <if test="eventEmail != null  and eventEmail != ''">event_email,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null ">#{sid},</if>
            <if test="eventAttribute != null  and eventAttribute != ''">#{eventAttribute},</if>
            <if test="eventEmail != null  and eventEmail != ''">#{eventEmail},</if>
         </trim>
    </insert>

    <update id="updateEventEmail" parameterType="com.szps.web.domain.event.EventEmail">
        update EVENT_EMAIL
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventAttribute != null  and eventAttribute != ''">event_attribute = #{eventAttribute},</if>
            <if test="eventEmail != null  and eventEmail != ''">event_email = #{eventEmail},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteEventEmailById" parameterType="java.lang.Long">
        delete from EVENT_EMAIL where sid = #{sid}
    </delete>

    <delete id="deleteEventEmailByIds" parameterType="java.lang.String">
        delete from EVENT_EMAIL where sid in
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>


    <update id="updateEventStatus" parameterType="com.szps.web.domain.event.EventSubmit">
        update EVENT_SUBMIT
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventStatus != null  and eventStatus != ''">event_status = #{eventStatus},</if>
        </trim>
        where event_name=#{eventName}
    </update>
</mapper>
