<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.event.EventSubmitMapper">

    <resultMap type="com.szps.web.domain.event.EventSubmit" id="EventSubmitResult">
        <result property="eventSid" column="event_sid"/>
        <result property="eventName" column="event_name"/>
        <result property="eventPlace" column="event_place"/>
        <result property="eventTime" column="event_time"/>
        <result property="eventContent" column="event_content"/>
        <result property="eventAttribute" column="event_attribute"/>
        <result property="eventCreateuser" column="event_createuser"/>
        <result property="eventCreatetime" column="event_createtime"/>
        <result property="eventStatus" column="event_Status"/>
    </resultMap>

    <resultMap id="EventSendResult" type="com.szps.web.domain.event.EventSend">
        <result property="eventAttribute" column="event_attribute"/>
        <result property="eventEmail" column="event_email"/>
    </resultMap>


    <select id="getEventSendEmail" resultMap="EventSendResult">
        select *  from EVENT_EMAIL
        <where>
            <if test="eventAttribute != null  and eventAttribute != ''">event_attribute = #{eventAttribute}</if>
            <if test="eventEmail != null  and eventEmail != ''">and event_email=#{eventEmail}</if>
        </where>
    </select>

    <sql id="selectEventSubmitVo">
        select event_sid, event_name, event_place, event_time, event_content, event_attribute, event_createuser, event_createtime,event_status from EVENT_SUBMIT
    </sql>

    <select id="selectEventSubmitList" parameterType="com.szps.web.domain.event.EventSubmit"
            resultMap="EventSubmitResult">
        <include refid="selectEventSubmitVo"/>
        <where>
            <if test="eventSid != null ">and event_sid = SEQ_EVENT_SUBMIT.nextval}</if>
            <if test="eventName != null  and eventName != ''">and event_name = #{eventName}</if>
            <if test="eventPlace != null  and eventPlace != ''">and event_place = #{eventPlace}</if>
            <if test="eventTime != null ">and event_time = #{eventTime}</if>
            <if test="eventContent != null  and eventContent != ''">and event_content = #{eventContent}</if>
            <if test="eventAttribute != null  and eventAttribute != ''">and event_attribute = #{eventAttribute}</if>
            <if test="eventCreateuser != null  and eventCreateuser != ''">and event_createuser = #{eventCreateuser}</if>
            <if test="eventCreatetime != null ">and event_createtime = #{eventCreatetime}</if>
            <if test="eventStatus != null and  eventStatus!=''">and event_status = #{eventStatus}</if>
        </where>
    </select>

    <select id="selectEventSubmitById" parameterType="java.lang.Integer" resultMap="EventSubmitResult">
        <include refid="selectEventSubmitVo"/>
        where event_sid = #{eventSid}
    </select>

    <insert id="insertEventSubmit" parameterType="com.szps.web.domain.event.EventSubmit">
        <selectKey keyProperty="eventSid" resultType="long" order="BEFORE">
        SELECT SEQ_EVENT_SUBMIT.NEXTVAL as eventSid FROM DUAL
        </selectKey>
        insert into EVENT_SUBMIT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventSid != null ">event_sid,</if>
            <if test="eventName != null  and eventName != ''">event_name,</if>
            <if test="eventPlace != null  and eventPlace != ''">event_place,</if>
            <if test="eventTime != null ">event_time,</if>
            <if test="eventContent != null  and eventContent != ''">event_content,</if>
            <if test="eventAttribute != null  and eventAttribute != ''">event_attribute,</if>
            <if test="eventCreateuser != null  and eventCreateuser != ''">event_createuser,</if>
            <if test="eventCreatetime != null ">event_createtime,</if>
            <if test="eventStatus != null and  eventStatus!=''">event_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventSid != null ">#{eventSid},</if>
            <if test="eventName != null  and eventName != ''">#{eventName},</if>
            <if test="eventPlace != null  and eventPlace != ''">#{eventPlace},</if>
            <if test="eventTime != null ">#{eventTime},</if>
            <if test="eventContent != null  and eventContent != ''">#{eventContent},</if>
            <if test="eventAttribute != null  and eventAttribute != ''">#{eventAttribute},</if>
            <if test="eventCreateuser != null  and eventCreateuser != ''">#{eventCreateuser},</if>
            <if test="eventCreatetime != null ">#{eventCreatetime},</if>
            <if test="eventStatus != null and  eventStatus!=''">#{eventStatus},</if>
        </trim>
    </insert>

    <update id="updateEventSubmit" parameterType="com.szps.web.domain.event.EventSubmit">
        update EVENT_SUBMIT
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventName != null  and eventName != ''">event_name = #{eventName},</if>
            <if test="eventPlace != null  and eventPlace != ''">event_place = #{eventPlace},</if>
            <if test="eventTime != null ">event_time = #{eventTime},</if>
            <if test="eventContent != null  and eventContent != ''">event_content = #{eventContent},</if>
            <if test="eventAttribute != null  and eventAttribute != ''">event_attribute = #{eventAttribute},</if>
            <if test="eventCreateuser != null  and eventCreateuser != ''">event_createuser = #{eventCreateuser},</if>
            <if test="eventCreatetime != null ">event_createtime = #{eventCreatetime},</if>
            <if test="eventStatus != null and  eventStatus!=''">event_status=#{eventStatus},</if>
        </trim>
        where event_sid = #{eventSid}
    </update>

    <delete id="deleteEventSubmitById" parameterType="java.lang.Integer">
        delete from EVENT_SUBMIT where event_sid = #{eventSid}
    </delete>

    <delete id="deleteEventSubmitByIds" parameterType="java.lang.String">
        delete from EVENT_SUBMIT where event_sid in
        <foreach item="eventSid" collection="array" open="(" separator="," close=")">
            #{eventSid}
        </foreach>
    </delete>


</mapper>
