<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.event.EventSubmitMapper">

    <resultMap type="EventSubmit" id="EventSubmitResult">
        <result property="eventSid" column="EVENT_SID"/>
        <result property="eventName" column="EVENT_NAME"/>
        <result property="eventPlace" column="EVENT_PLACE"/>
        <result property="eventTime" column="EVENT_TIME"/>
        <result property="eventContent" column="EVENT_CONTENT"/>
        <result property="eventSubmitUser" column="EVENT_SUBMIT_USER"/>
        <result property="eventPhone" column="EVENT_PHONE"/>
        <result property="eventUnit" column="EVENT_UNIT"/>
        <result property="eventSubmitTime" column="EVENT_SUBMIT_TIME"/>
    </resultMap>

    <sql id="selectEventSubmitVo">
        select EVENT_SID, EVENT_NAME, EVENT_PLACE, EVENT_TIME, EVENT_CONTENT, EVENT_SUBMIT_USER, EVENT_PHONE, EVENT_UNIT, EVENT_SUBMIT_TIME from event_submit
    </sql>

    <select id="selectEventSubmitList" parameterType="EventSubmit" resultMap="EventSubmitResult">
        <bind name="eventName" value="'%' + eventName + '%'" />
        <bind name="eventPlace" value="'%' + eventPlace + '%'" />
        <include refid="selectEventSubmitVo"/>
        <where>
            <if test="eventName != null  and eventName != ''">and EVENT_NAME Like #{eventName}</if>
            <if test="eventPlace != null  and eventPlace != ''">and EVENT_PLACE Like #{eventPlace}</if>
            <if test="eventTime != null ">and EVENT_TIME = #{eventTime}</if>
            <if test="eventContent != null  and eventContent != ''">and EVENT_CONTENT = #{eventContent}</if>
            <if test="eventSubmitUser != null  and eventSubmitUser != ''">and EVENT_SUBMIT_USER = #{eventSubmitUser}
            </if>
            <if test="eventPhone != null  and eventPhone != ''">and EVENT_PHONE = #{eventPhone}</if>
            <if test="eventUnit != null  and eventUnit != ''">and EVENT_UNIT = #{eventUnit}</if>
            <!--            <if test="eventSubmitTime != null "> and EVENT_SUBMIT_TIME = #{eventSubmitTime}</if>-->
        </where>
        order by EVENT_SUBMIT_TIME DESC
    </select>

    <select id="selectEventSubmitList2" parameterType="EventSubmit" resultMap="EventSubmitResult">

        <include refid="selectEventSubmitVo"/>
        <where>
            <if test="eventName != null  and eventName != ''">and EVENT_NAME Like #{eventName}</if>
            <if test="eventPlace != null  and eventPlace != ''">and EVENT_PLACE Like #{eventPlace}</if>
            <if test="eventTime != null ">and EVENT_TIME = #{eventTime}</if>
            <if test="eventContent != null  and eventContent != ''">and EVENT_CONTENT = #{eventContent}</if>
            <if test="eventSubmitUser != null  and eventSubmitUser != ''">and EVENT_SUBMIT_USER = #{eventSubmitUser}
            </if>
            <if test="eventPhone != null  and eventPhone != ''">and EVENT_PHONE = #{eventPhone}</if>
            <if test="eventUnit != null  and eventUnit != ''">and EVENT_UNIT = #{eventUnit}</if>
            <!--            <if test="eventSubmitTime != null "> and EVENT_SUBMIT_TIME = #{eventSubmitTime}</if>-->
        </where>
        order  by EVENT_SUBMIT_TIME DESC
    </select>

    <select id="selectEventSubmitById" parameterType="Integer" resultMap="EventSubmitResult">
        <include refid="selectEventSubmitVo"/>
        where EVENT_SID = #{eventSid}
    </select>

    <insert id="insertEventSubmit" parameterType="EventSubmit" useGeneratedKeys="true" keyProperty="eventSid">
        insert into event_submit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventSid != null  and eventSid != ''">EVENT_SID,</if>
            <if test="eventName != null  and eventName != ''">EVENT_NAME,</if>
            <if test="eventPlace != null  and eventPlace != ''">EVENT_PLACE,</if>
            <if test="eventTime != null ">EVENT_TIME,</if>
            <if test="eventContent != null  and eventContent != ''">EVENT_CONTENT,</if>
            <if test="eventSubmitUser != null  and eventSubmitUser != ''">EVENT_SUBMIT_USER,</if>
            <if test="eventPhone != null  and eventPhone != ''">EVENT_PHONE,</if>
            <if test="eventUnit != null  and eventUnit != ''">EVENT_UNIT,</if>
            <if test="eventSubmitTime != null ">EVENT_SUBMIT_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventSid != null  and eventSid != ''">#{eventSid},</if>
            <if test="eventName != null  and eventName != ''">#{eventName},</if>
            <if test="eventPlace != null  and eventPlace != ''">#{eventPlace},</if>
            <if test="eventTime != null ">#{eventTime},</if>
            <if test="eventContent != null  and eventContent != ''">#{eventContent},</if>
            <if test="eventSubmitUser != null  and eventSubmitUser != ''">#{eventSubmitUser},</if>
            <if test="eventPhone != null  and eventPhone != ''">#{eventPhone},</if>
            <if test="eventUnit != null  and eventUnit != ''">#{eventUnit},</if>
            <if test="eventSubmitTime != null ">#{eventSubmitTime},</if>
        </trim>
    </insert>

    <update id="updateEventSubmit" parameterType="EventSubmit">
        update event_submit
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventName != null  and eventName != ''">EVENT_NAME = #{eventName},</if>
            <if test="eventPlace != null  and eventPlace != ''">EVENT_PLACE = #{eventPlace},</if>
            <if test="eventTime != null ">EVENT_TIME = #{eventTime},</if>
            <if test="eventContent != null  and eventContent != ''">EVENT_CONTENT = #{eventContent},</if>
            <if test="eventSubmitUser != null  and eventSubmitUser != ''">EVENT_SUBMIT_USER = #{eventSubmitUser},</if>
            <if test="eventPhone != null  and eventPhone != ''">EVENT_PHONE = #{eventPhone},</if>
            <if test="eventUnit != null  and eventUnit != ''">EVENT_UNIT = #{eventUnit},</if>
            <if test="eventSubmitTime != null ">EVENT_SUBMIT_TIME = #{eventSubmitTime},</if>
        </trim>
        where EVENT_SID = #{eventSid}
    </update>

    <delete id="deleteEventSubmitById" parameterType="Integer">
        delete from event_submit where EVENT_SID = #{eventSid}
    </delete>

    <delete id="deleteEventSubmitByIds" parameterType="String">
        delete from event_submit where EVENT_SID in
        <foreach item="eventSid" collection="array" open="(" separator="," close=")">
            #{eventSid}
        </foreach>
    </delete>


    <insert id="insertEventPicture" parameterType="com.szps.web.domain.event.EventPicture" useGeneratedKeys="true"
            keyProperty="eventSid">
        insert into event_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventSid != null  and eventSid != ''">EVENT_SID,</if>
            <if test="eventPictureName != null  and eventPictureName != ''">EVENT_PICTURE_NAME,</if>
            <if test="eventPictureUrl != null  and eventPictureUrl != ''">EVENT_PICTURE_URL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventSid != null  and eventSid != ''">#{eventSid},</if>
            <if test="eventPictureName != null  and eventPictureName != ''">#{eventPictureName},</if>
            <if test="eventPictureUrl != null  and eventPictureUrl != ''">#{eventPictureUrl},</if>

        </trim>
    </insert>


    <resultMap id="eventPictureResult" type="EventPicture">
        <result property="eventSid" column="EVENT_SID"/>
        <result property="eventPictureName" column="EVENT_PICTURE_NAME"/>
        <result property="eventPictureUrl" column="EVENT_PICTURE_URL"/>
    </resultMap>


    <select id="getEventPictures" resultMap="eventPictureResult" parameterType="EventPicture">
          select EVENT_SID,EVENT_PICTURE_NAME,EVENT_PICTURE_URL
                from EVENT_PICTURE
         where EVENT_SID=#{eventSid}
    </select>
</mapper>