<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.event.WeChatMapper">


    <resultMap type="com.szps.web.domain.event.WeChatUser" id="WeChatUser">
        <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
    </resultMap>

    <select id="getLogin" parameterType="com.szps.web.domain.event.WeChatUser" >
        select * from WECHAT_USER
        where username=#{userName} and password=#{passWord}
     </select>

</mapper>