<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('突发事件列表')"/>
    <link th:href="@{/css/event/event.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>事件名称：</label>
                            <input type="text" name="eventName"/>
                        </li>
                        <li>
                            <label>事件地点：</label>
                            <input type="text" name="eventPlace"/>
                        </li>

                        <li class="select-time">
                            <label>上报时间：</label>
                            <input type="text" class="time-input" id="eventSubmitTime" placeholder="请选择时间" name="eventSubmitTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" style="font-family: '苹方 中等';height: 36px">

            </table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('event:submit:edit')}]];
    var removeFlag = [[${@permission.hasPermi('event:submit:remove')}]];

	function infosetting() {
		location.href = ctx + "event/email";
    } 
	
    var prefix = ctx + "event/submit";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            modalName: "事件内容",
            columns: [
                {
                    field: 'eventSid',
                    title: '事件编号',
                    visible: false,
                },
                {
                    field: 'eventName',
                    title: '事件名称'
                },
                {
                    field: 'eventPlace',
                    title: '事件地点'
                },
                {
                    field: 'eventTime',
                    title: '事件时间'
                },
                {
                    title: '事件内容',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="  btn-xs " href="javascript:void(0)" ' +
                            'onclick="$.operate.detail(\'' +index+ '\')">' +
                            '<text style="color: #2BA3FD">查看详情</text>' +
                            '</a> ');
                        return actions.join('');
                    }
                },
                {
                    field: 'eventSubmitUser',
                    title: '上传者'

                },
                {
                    field: 'eventUnit',
                    title: '所属单位'
                },
                {
                    field: 'eventSubmitTime',
                    title: '上传时间'
                }
                ]
        };
        $.table.init(options);
    });


    $("select").each(function (i, n) {
        var options = "";
        $(n).find("option").each(function (j, m) {
            if (options.indexOf($(m)[0].outerHTML) == -1) {
                options += $(m)[0].outerHTML;
            }
        });
        $(n).html(options);
    });
</script>
</body>
</html>