<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('维修派工单')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
      <form id="form"  class="form-horizontal">
		<input name="deptId" type="hidden" id="treeId" />
		<div class="control-group" align="center">
			<label class="lbl" >维修派工单记录</label><br>
		</div>
		<div class="control-group">
		<!-- required -->
		<table  class="table table-striped table-bordered table-condensed">
		  <tr >
		    <td >记录日期</td>
		    <td colspan="3">
		    <input id="recordDate" name="recordDate"  class="time-input form-control"/></td>
		    <td >设备名称：</td>
		    <td colspan="3"><input name="devName"  class="form-control"/></td>
		    
		  </tr>
		  <tr >
		    <td>设备编号：</td>
		    <td colspan="3"><input name="devNumber"  class="form-control"/></td>
		    <td>资产编号：</td>
		    <td colspan="3"><input name="assetCode"  class="form-control"/></td>
		   
		  </tr>
		  <tr >
		   	<td>设备型号：</td>
		    <td colspan="3"><input name="devModel"  class="form-control"/></td>
		    <td >设备地点：</td>
		    <td colspan="3"><input name="installPlace"  class="form-control"/></td>
		 </tr>
		  <tr >
		    <td>使用部门：</td>
		    <td ><input name="useDept" onclick="selectDeptTree()"   id="treeName" class="form-control"/></td>
		    <td >报修人：</td>
		    <td><input name="repairMan"  class="form-control"/></td>
		    <td>生产主管：</td>
		    <td colspan="3"><input name="prodHead"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="8">故障现象描述：</td>
		  </tr>
		  <tr >
		    <td colspan="8" ><textarea name="troubleSpec" class="form-control"></textarea></td>
		  </tr>
		  <tr >
		    <td colspan="8">原因分析：</td>
		   
		  </tr>
		  	<td colspan="6" ><textarea name="reason" class="form-control"></textarea></td>
		  	<td>分析人：</td>
		    <td colspan="2"><input name="assayer"  class="form-control"/></td>
		  <tr>
		  	
		    <td>设备部主管：</td>
		    <td colspan="3"><input name="equiHead"  class="form-control"/></td>
		    <td >设备部经理：</td>
		    <td colspan="3"><input name="equiManager"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >故障类型：</td>
		    <td colspan="3"><input name="troubleType"  class="form-control"/></td>
		     <td>责任人：</td>
		    <td colspan="3"><input name="dutyPeople"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td  colspan="8">维修过程及耗材：</td>
		  </tr>
		  <tr >
		    <td colspan="6"  ><textarea name="devSpec" class="form-control"></textarea></td>
		    <td >维修人：</td>
		    <td ><input name="mechanic"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="6">委外维修意见：</td>
		    <td>设备主管：</td>
		    <td><input name="equiHeadOut"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="6" rowspan="3"><textarea name="outServiceOpinion" class="form-control"></textarea></td>
		    <td >设备经理：</td>
		    <td colspan="6"><input name="equiManagerOut"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >生产经理：</td>
		    <td><input name="prodManager"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td >备注：</td>
		    <td><textarea name="outRemarks" class="form-control"></textarea></td>
		  </tr>
		  <tr >
		    <td colspan="6">维修结果：</td>
		    <td>设备部主管</td>
		    <td><input name="equiOwer"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="6" rowspan="2" ><textarea name="fixResult" class="form-control"></textarea></td>
		    <td colspan="2">使用部门主管</td>
		  </tr>
		  <tr >
		    <td colspan="2"><input name="userManger"  class="form-control"/></td>
		  </tr>
		  <tr >
		    <td colspan="2">维修班长确认：</td>
		    <td colspan="2"><input name="monitor"  class="form-control"/></td>
		    <td colspan="2">计划时间：</td>
		    <td colspan="2">
		    <input id="planTime" name="planTime"  class="time-input form-control"/></td>
		  </tr>
		  <tr >
		   
		    <td colspan="2">完成时间：</td>
		    <td colspan="2">
		    <input id="doneTime" name="doneTime"  class="time-input form-control"/></td>
		    <td colspan="2">维修耗时：</td>
		    <td colspan="2"><input name="usesTime"  class="form-control"/></td>
		  </tr>
		</table>
		</div>
		
	</form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script>
	    var prefix = ctx + "op/dev/fixOrder";
	
        $("#form").validate({
        	onkeyup: false,
        	rules:{
        		
        	},
        	messages: {
                "loginName": {
                    remote: "用户已经存在"
                },
        		"email": {
                    remote: "Email已经存在"
                },
        		"phonenumber":{
                	remote: "手机号码已经存在"
        		}
            },
            focusCleanup: true
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form").serializeArray();
	        	/* var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
	        	var roleIds = $.form.selectCheckeds("role");
	        	var postIds = $.form.selectSelects("post");
	        	data.push({"name": "status", "value": status});
	        	data.push({"name": "roleIds", "value": roleIds});
	        	data.push({"name": "postIds", "value": postIds}); */
	        	$.operate.save(prefix + "/add", data);
	        }
	    }
         
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
        	var treeId = $("#treeId").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
				var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
		}
		
		
		function selectDeptTree2() {
        	var treeId = $("#treeId2").val();
        	var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId2").val();
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
			var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit2
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit2(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			var body = layer.getChildFrame('body', index);
   			$("#treeId2").val(body.find('#treeId2').val());
   			$("#treeName2").val(body.find('#treeName2').val());
   			layer.close(index);
		}

		$(function() {
            $('#post').select2({
                placeholder:"请选择岗位",
                allowClear: true
            });
        })
    </script>
</body>
</html>
