<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('任务管理')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">


		<div class="col-sm-12 select-table table-striped">
             检查人员人数：<select  name="c" id="c">
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>

		</select>
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "supervise/task";


    $(function() {
        var options = {
            url: prefix + "/list1",
            createUrl: prefix + "/TaskCheck",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/add",
            exportUrl: prefix + "/export",
            sortName: "taskNumber",
            modalName: "双随机任务",
            columns: [{
                checkbox: true
            },
                {
                    field: 'taskNumber',
                    title: '任务编号',
                    sortable: true
                },
                {
                    field: 'taskRegion',
                    title: '所属行政区'

                },
                {
                    field: 'taskStreet',
                    title: '所属街道'

                },

                {
                    field: 'taskConnecting',
                    title: '任务内容'

                },
                {
                    field: 'taskTime',
                    title: '创建时间'

                }

            ]
        };
        $.table.init(options);
    });


    function submitHandler() {

            add();

    }

    function add() {
        var c=$("select[name='c']").val();
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要生成选中的" + rows.length + "条随机任务吗?", function() {
            var url = $.table._option.removeUrl;
            var data = { "ids": rows.join() ,"c":c};
            $.operate.submit(url, "post", "json", data);
        });
    }

</script>
</body>
</html>