<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('排水户列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<div class="select-list">
						<ul>
							<li>
								排水户名称：<input type="text" name="household_name"/>
							</li>
							<li>
								记录状态：<input type="text" name="record_state" />
							</li>
							<li>
								行政区名：<input type="text" name="administrative_name"/>
							</li>
							<li>
								街道名：<input type="text" name="street_name"/>
							</li>
							<li>
								居委会：<input type="text" name="committees"/>
							</li>
							<li>
								污水类别：<input type="text" name="sewage_category" />
							</li>
							<li>
								排水许可证当前日期<input type="date" name="drainage_license_end_time">两个月内到期
							</li>
							<li>
								排污许可证当前日期<input type="date" name="sewage_license_end_time">两个月内到期
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm" id="toolbar" role="group">
				<div class="select-list">
					<a class="btn btn-info" href="/drainage/household" style="border-color: #EE0000">排水户列表</a>
		        	<a class="btn" href="/drainage/statistics" style="border-color: #1a7bb9">数据统计</a>
				</div>
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="drainage:household:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="drainage:household:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="drainage:household:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('drainage:household:edit')}]];
		//var removeFlag = [[${@permission.hasPermi('drainage:household:remove')}]];
		var prefix = ctx + "drainage/household";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "household_id",
		        modalName: "排水户",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'household_id',
		            title: '编号',
		            sortable:true
		        },
		        {
		            field: 'household_name',
		            title: '名称',
		            sortable: true
		        },
		        {
		            field: 'record_state',
		            title: '记录状态',
		            sortable: true
		        },
		        {
		            field: 'doorplate_detail_address',
		            title: '地址',
		            sortable: true,
		            visible: false
		        },
		        {
		            field: 'longitude',
		            title: '经度',
		            sortable: true,
		            visible: false
		        },
		        {
		            field: 'latitude',
		            title: '纬度',
		            sortable: true,
		            visible:false
		        },
		        {
		            field: 'administrative_name',
		            title: '行政区',
		            sortable: true
		        },
		        {
		            field: 'street_name',
		            title: '街道',
		            sortable: true
		        },
		        {
		            field: 'committees',
		            title: '居委会',
		            sortable: true
		        },
		        {
		            field: 'lane_name',
		            title: '巷名',
		            sortable: true,
		            visible:false
		        },
		        {
		        	field:'doorplate_number',
		        	title:'门牌号',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'household_level',
		        	title:'级别',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'parent_household_name',
		        	title:'上级排水户',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'linkman',
		        	title:'联系人',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'telephone',
		        	title:'电话',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'cover_area',
		        	title:'占地  /㎡',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'water_meter_id',
		        	title:'水表编号',
		        	sortable:true
		        },
		        {
		        	field:'sewage_category',
		        	title:'污水类别',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'unit_type',
		        	title:'单位类型',
		        	sortable:true
		        },
		        {
		        	field:'other_unit_type',
		        	title:'其他单位类型',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'industrial_water_composition',
		        	title:'工业废水成分',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'other_composition',
		        	title:'其他成分',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'water_diversion',
		        	title:'废、污、雨是否分流',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'business_license',
		        	title:'是否有营业执照',
		        	sortable:true
		        },
		        {
		        	field:'social_credit_id',
		        	title:'社会信用码',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'drainage_license',
		        	title:'是否有排水许可证',
		        	sortable:true
		        },
		        {
		        	field:'drainage_license_number',
		        	title:'排水许可证号',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'drainage_license_begin_time',
		        	title:'排水许可证开始日期',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'drainage_license_end_time',
		        	title:'排水许可证结束日期',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'sewage_license',
		        	title:'是否有排污许可证',
		        	sortable:true
		        },
		        {
		        	field:'sewage_license_number',
		        	title:'排污许可证号',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'sewage_license_begin_time',
		        	title:'排污许可证开始日期',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'sewage_license_end_time',
		        	title:'排污许可证结束日期',
		        	sortable:true,
		        	visible: false
		        },
		        {
		            title: '排水口',
		            align: 'center',
		            sortable: false,
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)" onclick="query(\'' + row.household_name + '\',\'' + row.household_id + '\')">查看</a>');
		            	return actions.join('');
		            }
		        },
		        {
		        	field:'note',
		        	title:'备注 ',
		        	sortable:true
		        },
		        {
		        	field:'registration_time',
		        	title:'登记时间',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'registration_person',
		        	title:'登记人',
		        	sortable:true,
		        	visible: false
		        },
		        {
		        	field:'update_time',
		        	title:'最新修改时间',
		        	sortable:true
		        },
		        {
		        	field:'update_person',
		        	title:'修改人',
		        	sortable:true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.household_id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		
		/* 排水户信息-查看（某排水户的所有排水口） */
		function query(household_name,household_id) {
		    var url = ctx + "drainage/drain" + '/drain/' + household_id;
		    $.modal.openTab(household_name + "排水口", url);
		}
	</script>
</body>
</html>