<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('正文')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
</head>
<body class="white-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">
<img th:src="@{/img/timg.jpg} " style="text-align: center ">


</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: ztree-js" />
<script type="text/javascript">

</script>

</body>
</html>
