<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('到期许可提醒')" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">

		<div class="col-sm-12 search-collapse">
			<form id="role-form">
				<div class="select-list">
					<ul>
						<!--<li>
							任务区域：<input type="text" name="taskPartition" maxlength="11"/>
						</li>
						<li>
							行政区：
							<select  name="taskRegion">
								<option value="">请选择</option>
								<option value="南山区">南山区</option>
								<option value="福田区">福田区</option>
								<option value="盐田区">盐田区</option>
								<option value="罗湖区">罗湖区</option>
							</select>
						</li>-->
						<li>
							到期时间：<select    name="BYZD1">
							<option value="1">1个月内</option>
							<option value="2">2个月内</option>
							<option value="6">半年内</option>
							<option value="12">一年内</option>
						</select>
						</li>
						<!--<li class="select-time">
							<label>任务创建时间： </label>
							<input type="text" class="time-input" id="taskTime" placeholder="创建时间" name="taskTime"/>
						</li>-->
						<li>
							<a class="btn btn-main btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-main2 btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>



		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('op:permit:edit')}]];
    var prefix = ctx + "op/permit";

    $(function() {
        var options = {
            url: prefix + "/remind",
            createUrl: prefix + "/TaskCheck",
            updateUrl: prefix + "/editRemind/{RemindTime}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "sblsh",
            modalName: "到期许可提醒",
            columns: [
                {
                    field: 'sblsh',
                    title: '省级申办流水号',
                    sortable: true
                },
                {
                    field: 'byzd1',
                    title: '到期时间'
                },
                /*{
                    field: 'sblsh_SHORT',
                    title: '市级统一申办流水号',
                    visible:false
                },
                {
                    field: 'sxbm',
                    title: '事项编号',
                    visible:false
                },
                {
                    field: 'sxmc',
                    title: '事项名称'

                },
                {
                    field: 'sxqxbm',
                    title: '事项情形编码',
                    visible:false
                },
                {
                    field: 'fsxbm',
                    title: '父事项编码',
                    visible:false
                },
                {
                    field: 'fsxbc',
                    title: '父事项名称',
                    visible:false
                },
                {
                    field: 'sqrlx',
                    title: '申请人类型',
                    visible:false
                },
                {
                    field: 'sqrmc',
                    title: '申请人名称'

                },
                {
                    field: 'sqrzjlx',
                    title: '申请人证件类型',
                    visible:false
                },
                {
                    field: 'sqrzjhm',
                    title: '申请人证件号码'
                },
                {
                    field: 'lxrxm',
                    title: '联系人姓名'

                },
                {
                    field: 'lxrzjlx',
                    title: '联系人证件类型',
                    visible:false
                },{
                    field: 'lxrsfzjhm',
                    title: '联系人身份证件号码'

                },{
                    field: 'lxrsj',
                    title: '联系人手机'

                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class=" ' + editFlag + '"  href="javascript:void(0)" >提醒</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.taskNumber + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }

                ]
        };
        $.table.init(options);
    });


</script>
</body>
</html>