<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('申请表')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
</head>
<body class="white-bg">

	<div class="wrapper wrapper-content animated fadeInRight ibox-content">

		<form class="form-horizontal m" id="form-role-edit" th:object="${ppp}">
			<!--<input id="staffNumber" name="staffNumber" type="hidden" th:field="*{staffNumber}"/>-->
			<div class="form-group">
			<label class="col-sm-2 control-label ">申请人：</label>
			<div class="col-sm-4">
				<input class="form-control" type="text"  id="LXRXM" th:field="*{LXRXM}"  >
			</div>
				<label class="col-sm-2 control-label ">申请单位名称：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="SQRMC" th:field="*{SQRMC}"  >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">证件类别：</label>
				<div class="col-sm-4">
					<select class="form-control" name="" id="">
						<option value="身份证" >身份证</option>
						<option value="户口本" >户口本</option>
					</select>
				</div>
				<label class="col-sm-2 control-label ">身份证号码：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="LXRSFZJHM" th:field="*{LXRSFZJHM}"  >
				</div>
			</div>



			<div class="form-group">

				<label class="col-sm-2 control-label ">联系电话：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="LXRSJ" th:field="*{LXRSJ}"  >

				</div>
				<label class="col-sm-2 control-label ">项目名称：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="FSXBM" th:field="*{FSXBM}"  >
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label ">项目所属区域：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="FSXMC" th:field="*{FSXMC}"  >
				</div>
				<label class="col-sm-2 control-label ">项目详细地址：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="LXRYX" th:field="*{LXRYX}"  >
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-2 control-label ">建筑功能：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="BZ" th:field="*{BZ}"  >
				</div>
				<label class="col-sm-2 control-label ">污废水量(立方米/日)：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="VERSION" th:field="*{VERSION}"  >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label ">雨水量(升/秒)：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  id="VERSION" th:field="*{VERSION}"  >
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-2 control-label ">预处理设施：</label>
				<div class="col-sm-10">
					<input class="form-control" type="text"  id="BYZD3" th:field="*{BYZD3}"  >
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label ">上下游接驳情况：</label>
				<div class="col-sm-2">
					<input class="form-control" type="text"   value="接驳口1" style="border: 0px;outline:none;" >
				</div>
				<div class="col-sm-4">
					<textarea   class="form-control" type="text"  id="BMMC" th:field="*{BMMC} " style="resize:none;" ></textarea>
				</div>
				<label class="col-sm-1 control-label ">坐标：</label>
				<div class="col-sm-1">
					<input class="form-control" type="text"   placeholder="X=" style="border: 0px;outline:none" >
					<input class="form-control" type="text"   placeholder="Y=" style="border: 0px;outline:none" >
				</div>
				<div class="col-sm-2">
					<input class="form-control" type="text"  id="WD" th:field="*{WD}"  >
					<input class="form-control" type="text"  id="JD" th:field="*{JD}"  >
				</div>

			</div>
			<div class="form-group">

				<div class="col-sm-2 col-sm-offset-2">
					<input class="form-control" type="text"   value="接驳口2" style="border: 0px;outline:none;" >
				</div>
				<div class="col-sm-4">
					<textarea class="form-control" type="text"  id="BMMC" th:field="*{BMMC} " style="resize:none;"></textarea>
				</div>
				<label class="col-sm-1 control-label ">坐标：</label>
				<div class="col-sm-1">
					<input class="form-control" type="text"   value="X=" style="border: 0px;outline:none" >
					<input class="form-control" type="text"   value="Y=" style="border: 0px;outline:none" >
				</div>
				<div class="col-sm-2">
					<input class="form-control" type="text"  id="WD" th:field="*{WD}"  >
					<input class="form-control" type="text"  id="JD" th:field="*{JD}"  >
				</div>

			</div>
			<div class="form-group">

				<div class="col-sm-2 col-sm-offset-2">
					<textarea class="form-control" type="text" id="t1"    style="vertical-align:top;border: 0px;outline:none;resize:none;" ></textarea>
				</div>
				<div class="col-sm-4">
					<textarea class="form-control" type="text"  id="CLZT" th:field="*{CLZT} " style="resize:none;"  ></textarea>
				</div>
				<div class="col-sm-3 ">
					<a class="btn btn-main4 btn-sm" href="#" style="float: right">
						管网分布图
					</a>
				</div>

			</div>





		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">
        document.getElementById("t1").value="项目红线内及周边现状排水设施情况"
	</script>

</body>
</html>
