<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('资料列表')" />
	<style>
		#btn-data-show{
			border: 2px solid red;
		}
	</style>
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">

		  <div class="col-sm-12 search-collapse">
	          <form id="data-form">
	            <div class="select-list">
	              <ul>
	                <li>
						<label>主题：</label>
	                  	<input type="text" name="dataTheme" />
					</li>
	                <li>
						<label>行政区：</label>
						<select  name="dataBorough">
							<option value="">所有</option>
							<option value="南山区">南山区</option>
							<option value="福田区">福田区</option>
							<option value="盐田区">盐田区</option>
							<option value="罗湖区">罗湖区</option>
						</select>
	                </li>
				 	 <li>
						 <label>流域：</label>
						 <select  name="dataRiver">
							 <option value="">所有</option>
							 <option value="茅洲河">茅洲河</option>
							 <option value="观澜河">观澜河</option>
							 <option value="龙岗河">龙岗河</option>
							 <option value="深圳河湾">深圳河湾</option>
							 <option value="坪山河">坪山河</option>
							 <option value="大亚湾">大亚湾</option>
						 </select>
				  	</li>
	                <li class="select-time">
	                  <label>创建时间：</label>
	                  <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]" lay-key="3">
	                  <span>-</span>
	                  <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]" lay-key="4">
					</li>
	                <li>
	                  <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">
	                    <i class="fa fa-search"></i>&nbsp;搜索</a>
	                  <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()">
	                    <i class="fa fa-refresh"></i>&nbsp;重置</a>
	                </li>
	              </ul>
	            </div>
	          </form>
	        </div>


			<div class="col-sm-12 search-collapse center" shiro:hasPermission="dm:data:add">
				<div class="col-sm-6" align="center"><a th:href="@{/dm/data}" class="btn-success btn" id="btn-data-show">规划资料展示</a></div>
				<div class="col-sm-6" align="center"><a th:href="@{/dm/audit}" class="btn-success btn" id="btn-data-audit">规划任务审批</a></div>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="dm:data:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="dm:data:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dm:data:remove">
		            <i class="fa fa-trash"></i> 删除
		        </a>
		        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dm:data:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true">
				</table>
			</div>

		</div>
	</div>

	<th:block th:include="include :: footer" />
	<script th:inline="javascript">

		var editFlag = [[${@permission.hasPermi('dm:data:edit')}]];
		var removeFlag = [[${@permission.hasPermi('dm:data:remove')}]];
		var prefix = ctx+"dm/data";
		var file_prefix = ctx+"dm/file";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: file_prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "规划资料",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'dataId',
		            title: '资料编号',
                    sortable: true
		        },
		        {
		            field: 'dataDate',
		            title: '录入日期',
		            sortable: true
		        },
		        {
		            field: 'dataTheme',
		            title: '主题',
		            sortable: true
		        },
		        // {
		        //     field: 'dataDesc',
		        //     title: '简介',
		        //     sortable: true
		        // },
		        {
		            field: 'dataType',
		            title: '所属类别',
		            sortable: true
		        },
		        {
		            field: 'dataBorough',
		            title: '行政区',
		            sortable: true
		        },
		        {
		            field: 'dataStreet',
		            title: '所属街道',
		            sortable: true
		        },
		        {
		            field: 'dataRiver',
		            title: '流域',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs href="javascript:void(0)" onclick="getPermission(\'' + row.dataId + '\')"><i class="fa fa-edit"></i>申请访问</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="dataView(\'' + row.dataId + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.dataId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.dataId + '\')"><i class="fa fa-trash"></i>删除</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});

        /* 查看资料*/
        function dataView(dataId) {
            var url = prefix + '/dataView/' + dataId;
            $.modal.openTab("浏览规划资料", url);
        }


		var per_prefix = ctx+"dm/permission";

        /* 资料权限管理-申请权限 */
        function getPermission(dataId) {
            $.modal.confirm("确认申请访问该资料？", function() {
                var url = per_prefix+'/getPermission/' + dataId;
                $.operate.post(url);
            })
        }

	</script>
</body>
</html>