<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('资料浏览')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-data-edit" th:object="${data}">
        <h4 class="form-header h4">基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">申请人：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入名字" th:field="*{dataApplicant}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">规划单位：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入公司名" th:field="*{dataCompany}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">行政区：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入行政区" th:field="*{dataBorough}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">街道：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入街道" th:field="*{dataStreet}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">所属类别：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入类别" th:field="*{dataType}" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">密级：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入密级" th:field="*{dataLevel}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">主题：</label>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control" readonly="readonly" placeholder="请输入主题" th:field="*{dataTheme}" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">简介：</label>
                    <div class="col-sm-10">
                        <textarea type="text" name="" class="form-control" readonly="readonly" placeholder="请输入简介" th:field="*{dataDesc}" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-6 col-sm-10">
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
</body>
</html>