/*从业人员管理模块自定义标签页样式
zxc
2020-3-11
*/
@charset "UTF-8";
/* 标签栏 */
.nav-tabs {
    background-color: #FFFFFF;
}

/* 闲置标签项 */
.nav-tabs>li>a {
    color: #000000;
    line-height: 24px;
    font-size: 16px;
    font-family:PingFang SC;
	font-weight:400;
    padding: 10px 20px 10px 25px;
}
/* 被选择的标签项 */
.nav-tabs>li.active>a{
	line-height: 24px;
	border-size:border-box;
    border-bottom: 3px solid rgba(43,163,253,1);
    border-top: none;
    border-left: none;
    border-right: none;
    color:rgba(43,163,253,1);
}
/* 鼠标悬浮标签项 */
.nav-tabs>li.hover>a{
	line-height: 24px;
	border-size:border-box;
    border-bottom: 3px solid rgba(43,163,253,1);
    border-top: none;
    border-left: none;
    border-right: none;
    color:rgba(43,163,253,1);
}
	
