<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增点检设备资料')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-device-add" th:object="${user}">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">污水厂代码：</text>
            </label>
            <div class="col-sm-8">
                <input style="font-family: '苹方 中等'" name="plantId" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">污水厂名称：</text>
            </label>
            <div class="col-sm-8">
                <select style="font-family: '苹方 中等'" name="plantName" class="form-control m-b" required>
                    <option th:each="list : ${plantList1}" th:text="${list.plantName}"
                            th:value="${list.plantName}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">设备ID：</text>
            </label>
            <div class="col-sm-8">
                <input style="font-family: '苹方 中等'" name="deviceId" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">设备名称：</text>
            </label>
            <div class="col-sm-8">
                <input style="font-family: '苹方 中等'"  name="deviceName" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">点检ID：</text>
            </label>
            <div class="col-sm-8">
                <input style="font-family: '苹方 中等'" name="checkId" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">创建者：</text>
            </label>
            <div class="col-sm-8">
                <input style="font-family: '苹方 中等'" th:field="*{deviceCreateuser}" name="deviceCreateuser" class="form-control" type="text" readonly
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <text style="font-family: '苹方 中等';">创建时间：</text>
            </label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input style="font-family: '苹方 中等'" name="deviceCreatetime" id="laydate-demo-3" class="form-control"
                           placeholder="yyyy-MM-dd HH:mm:ss" type="text" required>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "check/plant/device"
    $("#form-device-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-device-add').serialize());
        }
    }

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#laydate-demo-3',
            type: 'datetime',
            trigger: 'click'
        });

    });
</script>
</body>
</html>