<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改事项')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-role-edit" th:object="${rule}">

			<div class="form-group" hidden="hidden">
				<label class="col-sm-3 control-label ">事项编号：</label>
				<div class="col-sm-8">
					<input class="form-control" readonly="readonly" type="text" name="ruleNumber" id="ruleNumber" th:field="*{ruleNumber}" required>
				</div>
			</div>
			<!--
			<div class="form-group">
				<label class="col-sm-3 control-label">事项类别：</label>
				<div class="col-sm-8">
					<input type="text" name="ruleType"  id="ruleType" class="form-control" th:field="*{ruleType}" required>
				</div>
			</div>-->
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">事项名称：</label>
				<div class="col-sm-8">
					<input type="text" name="ruleName"  id="ruleName" class="form-control" th:field="*{ruleName}" required>
				</div>
			</div>-->

			<div class="form-group">
				<label class="col-sm-3 control-label">事项名称：</label>
				<div class="col-sm-8">
					<select class="form-control" name="ruleName" id="ruleName">

						<option value="建设项目排水审批" th:selected="*{ruleName=='建设项目排水审批'}">建设项目排水审批</option>
						<option value="城市排水许可" th:selected="*{ruleName=='城市排水许可'}">城市排水许可</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">责任单位：</label>
				<div class="col-sm-8">
					<input type="text" name="ruleMain"  id="ruleMain" class="form-control" th:field="*{ruleMain}" required>
				</div>
			</div>

			<!--<div class="form-group">
				<label class="col-sm-3 control-label">抽查内容：</label>
				<div class="col-sm-8">
					<input type="text" name="ruleContent"  id="ruleContent" class="form-control" th:field="*{ruleContent}" required>
				</div>
			</div>-->
			<div class="form-group">
				<label class="col-sm-3 control-label">比例：</label>
				<div class="col-sm-8">
					<input type="text" name="ruleScale"  id="ruleScale" class="form-control" th:field="*{ruleScale}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">抽查依据：</label>
				<div class="col-sm-8">
					<input type="text" name="ruleBasis"  id="ruleBasis" class="form-control" th:field="*{ruleBasis}" required>
				</div>
			</div>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">

	
		$("#form-role-edit").validate({
			onkeyup: false,
			rules:{
				roleName:{
					remote: {
		                url: ctx + "system/role/checkRoleNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
							"roleId": function() {
							    return $("#roleId").val();
							},
							"roleName": function() {
							    return $.common.trim($("#roleName").val());
							}
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleKey:{
					remote: {
		                url: ctx + "system/role/checkRoleKeyUnique",
		                type: "post",
		                dataType: "json",
		                data: {
							"roleId": function() {
								return $("#roleId").val();
							},
							"roleKey": function() {
							    return $.common.trim($("#roleKey").val());
							}
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				roleSort:{
					digits:true
				},
			},
			messages: {
		        "roleName": {
		            remote: "角色名称已经存在"
		        },
		        "roleKey": {
		            remote: "角色权限已经存在"
		        }
		    },
		    focusCleanup: true
		});

		function edit() {
			var ruleNumber = $("input[name='ruleNumber']").val();
            var ruleType = $("input[name='ruleType']").val();
            var ruleName = $("select[name='ruleName']").val();
            var ruleBasis = $("input[name='ruleBasis']").val();
            var ruleScale = $("input[name='ruleScale']").val();
            var ruleMain = $("input[name='ruleMain']").val();
            var ruleContent = $("input[name='ruleContent']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "supervise/data2/edit",
				data : {
					"ruleNumber": ruleNumber,
					"ruleContent": ruleContent,
					"ruleType":ruleType,
					"ruleName":ruleName,
					"ruleBasis":ruleBasis,
					"ruleScale":ruleScale,
                    "ruleMain":ruleMain



				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }
	</script>
</body>
</html>
