<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增检查人员')" />
	<th:block th:include="include :: ztree-css" />
	<link th:href="@{/css/op/public.css}" rel="stylesheet"/>
	<link th:href="@{/css/op/operation.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-role-add">
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法人员姓名：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="keyword" id="keyword" maxlength="10" placeholder="请输入执法人员姓名" onkeyup="getMoreContents()" onfocus="getMoreContents()" onblur="clearContent()"  required>
					<div id="popDiv">
						             <table id="content_table" bgcolor="#FFFAFA" border="0" cellspacing="0" cellpadding="0">
						                 <tbody id="content_table_body"></tbody>
						             </table>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">执法人员单位：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffDept" id="staffDept" maxlength="20" placeholder="请输入执法人员单位" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">执法人员类型：</label>
				<div class="col-sm-8">
					<select class="form-control" name="staffPost" id="staffPost">
						<option value="">请选择执法人员类型</option>
						<option value="一类">一类</option>
						<option value="二类">二类</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label ">执法证件编号：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffCart" id="staffCart" maxlength="30" placeholder="请输入执法证件编号" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">执法人员状态：</label>
				<div class="col-sm-8">
					<select class="form-control" name="staffW" id="staffW">
						<option value="">请选择执法人员状态</option>
						<option value="备选">备选</option>
						<option value="非备选">非备选</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label ">执法范围：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="staffArea" id="staffArea" maxlength="30" placeholder="请输入执法范围" >
				</div>

			</div>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<script type="text/javascript">
		function submitHandler() {
	        if ($.validate.form()) {
	        	add();
	        }
	    }
	
		function add() {

			var staffName = $("input[name='keyword']").val();
			var staffArea = $("input[name='staffArea']").val();
			var staffCart = $("input[id='staffCart']").val();
            var staffDept = $("input[id='staffDept']").val();
			var staffPost = $("select[name='staffPost']").val();
            var staffW = $("select[name='staffW']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "supervise/data1/add",
				data : {
					"staffName": staffName,
					"staffArea": staffArea,
					"staffCart": staffCart,
					"staffDept": staffDept,
					"staffPost": staffPost,
                    "staffW":staffW
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}

function getMoreContents() {
             var keyword = document.getElementById("keyword").value;
            if (keyword == "") {
                    clearContent();
                     return;
                 } else {
                $.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "supervise/data1/getstaffName",
					data:{
                        "keyword":keyword
					},
                    async : false,
                    error : function(request) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {

                        var alls=new Array();
                        alls=data.data;
                        insertContent(alls);


                    }
                });

                 }
       }

function insertContent(content) {
            clearContent();
             setLocation();
           var json = content;
            var len = json.length;
             for (var i = 0; i < len; i++) {
                   var value = json[i];
                   var tr = document.createElement("tr");
                 var td = document.createElement("td");
                 td.setAttribute("bgcolor", "#FFFAFA");
                  td.setAttribute("border", "0");
                 td.onmouseover = function() {
                           this.className = 'mouseOver';

                         };
                   td.onmouseout = function() {

                            this.className = 'mouseOut';
                         };
                    td.onmousedown = function() {

                            document.getElementById("keyword").value=this.innerText;

                  };
            var text = document.createTextNode(value);
           td.appendChild(text);


           tr.appendChild(td);
           document.getElementById("content_table_body").appendChild(tr);

              }
       }

   function clearContent() {
       var popNode = document.getElementById("popDiv");
       popNode.style.border = "none";
        var contentNode = document.getElementById("content_table_body");
        var len = contentNode.childNodes.length;
         for (var i = len - 1; i >= 0; i--) {
                 contentNode.removeChild(contentNode.childNodes[i]);
            }
     }
    function setLocation(){
             var inputNode = document.getElementById("keyword");
            var width = inputNode.offsetWidth;
           var left = inputNode["offsetLeft"];
       var top = inputNode.offsetHeight+inputNode["offsetTop"];
      var popNode = document.getElementById("popDiv");
       popNode.style.border = "gray 0.5px solid";
      popNode.style.width = width+"px";
        popNode.style.top = top+"px";
     popNode.style.left = left+"px";
       document.getElementById("content_table").style.width=width+"px";

  }
	</script>
</body>
</html>
