<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.supervise.TbStaffMapper" >
  <resultMap id="BaseResultMap" type="com.szps.web.domain.supervise.TbStaff" >
    <id column="STAFF_NUMBER" property="staffNumber" jdbcType="VARCHAR" />
    <result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
    <result column="STAFF_AREA" property="staffArea" jdbcType="VARCHAR" />
    <result column="STAFF_CART" property="staffCart" jdbcType="VARCHAR" />
    <result column="STAFF_POST" property="staffPost" jdbcType="VARCHAR" />
    <result column="STAFF_DEPT" property="staffDept" jdbcType="VARCHAR" />
    <result column="STAFF_W" property="staffW" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_STAFF
    where STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.szps.web.domain.supervise.TbStaff" >
    insert into TB_STAFF (STAFF_NUMBER, STAFF_NAME, STAFF_AREA,
      STAFF_CART, STAFF_POST,
      STAFF_DEPT, STAFF_W)
    values (#{staffNumber,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{staffArea,jdbcType=VARCHAR},
      #{staffCart,jdbcType=VARCHAR}, #{staffPost,jdbcType=VARCHAR},
      #{staffDept,jdbcType=VARCHAR}, #{staffW,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.szps.web.domain.supervise.TbStaff" >
    update TB_STAFF
    set STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      STAFF_AREA = #{staffArea,jdbcType=VARCHAR},
      STAFF_CART = #{staffCart,jdbcType=VARCHAR},
      STAFF_POST = #{staffPost,jdbcType=VARCHAR},
      STAFF_DEPT = #{staffDept,jdbcType=VARCHAR},
      STAFF_W = #{staffW,jdbcType=VARCHAR}
    where STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select STAFF_NUMBER, STAFF_NAME, STAFF_AREA, STAFF_CART, STAFF_POST,
    STAFF_DEPT, STAFF_W
    from TB_STAFF
    where STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
  </select>

  <select id="selectStaffByStaffName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select STAFF_NUMBER, STAFF_NAME,  STAFF_AREA, STAFF_CART, STAFF_POST,
    STAFF_DEPT, STAFF_W
    from TB_STAFF
    where  STAFF_NAME= #{staffName,jdbcType=VARCHAR}
  </select>



  <select id="selectStaff" resultMap="BaseResultMap">
    select * from (select * from TB_STAFF WHERE STAFF_W=(select MAX(STAFF_W) from TB_STAFF ) order by dbms_random.value) where rownum &lt;=1
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select STAFF_NUMBER, STAFF_NAME,  STAFF_AREA, STAFF_CART, STAFF_POST,
    STAFF_DEPT, STAFF_W
    from TB_STAFF
  </select>

  <select id="selectStaffList" parameterType="com.szps.web.domain.supervise.TbStaff" resultMap="BaseResultMap">
    select STAFF_NUMBER, STAFF_NAME,  STAFF_AREA, STAFF_CART, STAFF_POST,
    STAFF_DEPT, STAFF_W
    from TB_STAFF

    <where>
    <if test="staffPost != null and staffPost != ''">
      TB_STAFF.STAFF_POST = #{staffPost}
    </if>
      <if test="staffW != null and staffW != ''">
       AND TB_STAFF.STAFF_W = #{staffW}
      </if>
      <if test="staffName != null and staffName != ''">
        AND TB_STAFF.STAFF_NAME like concat(concat('%',#{staffName}),'%')
      </if>
    </where>
  </select>


  <delete id="deleteUserByIds" parameterType="Long">
    delete from  TB_STAFF where STAFF_NUMBER in
    <foreach collection="array" item="staffNumber" open="(" separator="," close=")">
      #{staffNumber}
    </foreach>
  </delete>

  <select id="CheckdStaff" parameterType="String" resultType="int">
    select count(1) from TB_STAFF where TB_STAFF.STAFF_NUMBER=#{staffNumber}
  </select>




  <select id="selectStaffOne"  resultMap="BaseResultMap">
    select STAFF_NUMBER, STAFF_NAME,  STAFF_AREA, STAFF_CART, STAFF_POST,
    STAFF_DEPT, STAFF_W
    from TB_STAFF

    <where>
      TB_STAFF.STAFF_POST='一类'


    </where>
  </select>


  <select id="selectStaffSecond"  resultMap="BaseResultMap">
    select STAFF_NUMBER, STAFF_NAME,  STAFF_AREA, STAFF_CART, STAFF_POST,
    STAFF_DEPT, STAFF_W
    from TB_STAFF

    <where>
      TB_STAFF.STAFF_POST='二类'
     <!-- <if test="staffArea!= null and staffArea != ''">
        AND TB_STAFF.STAFF_AREA = #{staffArea}
      </if>-->

    </where>
  </select>


  <select id="selectStaffName"  resultType="java.lang.String" parameterType="java.lang.String">
    select USER_NAME
    from SYS_USER

    <where>
      <if test="a != null and a != ''">
         SYS_USER.USER_NAME like concat(concat('%',#{a}),'%')
      </if>

    </where>
  </select>

</mapper>