<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szps.web.mapper.supervise.TbTaskMapper">
  <resultMap id="BaseResultMap" type="com.szps.web.domain.supervise.TbTask">
    <id column="TASK_NUMBER" jdbcType="VARCHAR" property="taskNumber" />
    <result column="TASK_TIME" jdbcType="VARCHAR" property="taskTime" />
    <result column="TASK_HOUSE" jdbcType="VARCHAR" property="taskHouse"/>
    <result column="TASK_RESULT" jdbcType="VARCHAR" property="taskResult"/>
    <result column="TASK_HANDLE" jdbcType="VARCHAR" property="taskHandle"/>
    <result column="TASK_FLAG" jdbcType="VARCHAR" property="taskFlag"/>
    <result column="TASK_CHECKTIME" jdbcType="VARCHAR" property="taskCheckTime"/>

  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_TASK
    where TASK_NUMBER = #{taskNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.szps.web.domain.supervise.TbTask">
    insert into TB_TASK (TASK_NUMBER, TASK_TIME, TASK_HOUSE,
      TASK_RESULT, TASK_HANDLE, TASK_FLAG,
      TASK_CHECKTIME
      )
    values (#{taskNumber,jdbcType=VARCHAR}, #{taskTime,jdbcType=VARCHAR}, #{taskHouse,jdbcType=VARCHAR},
      #{taskResult,jdbcType=VARCHAR}, #{taskHandle,jdbcType=VARCHAR}, #{taskFlag,jdbcType=VARCHAR},
      #{taskCheckTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.szps.web.domain.supervise.TbTask">
    update TB_TASK
    set TASK_RESULT = #{taskResult,jdbcType=VARCHAR},
      TASK_HANDLE = #{taskHandle,jdbcType=VARCHAR},
      TASK_FLAG = #{taskFlag,jdbcType=VARCHAR},
      TASK_CHECKTIME = #{taskCheckTime,jdbcType=VARCHAR}

    where TASK_NUMBER = #{taskNumber,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select TASK_NUMBER,/* TASK_NAME, TASK_REGION, TASK_STREET, TASK_PARTITION, TASK_GRADE,
    TASK_TYPE,  TASK_CONNECTING, */TASK_TIME, TASK_HOUSE,TASK_RESULT,TASK_HANDLE,TASK_CHECKTIME
    from TB_TASK
    where TASK_NUMBER = #{taskNumber,jdbcType=VARCHAR}
  </select>

  <select id="selectTaskByTaskName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select TASK_NUMBER, TASK_NAME, TASK_REGION, TASK_STREET, TASK_PARTITION, TASK_GRADE,
    TASK_TYPE,  TASK_CONNECTING, TASK_TIME, TASK_HOUSE,  TASK_HOUSENAME, TASK_HOUSEPHONE
    from TB_TASK
    where  TASK_NAME= #{taskName,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select TASK_NUMBER,TASK_TIME, TASK_HOUSE,TASK_RESULT,TASK_HANDLE,TASK_CHECKTIME
    from TB_TASK
  </select>

  <select id="selectTaskRandom" resultMap="BaseResultMap">
    select TASK_NUMBER, TASK_NAME, TASK_REGION, TASK_STREET, TASK_PARTITION, TASK_GRADE,
    TASK_TYPE,  TASK_CONNECTING, TASK_TIME, TASK_HOUSE,  TASK_HOUSENAME, TASK_HOUSEPHONE
    from TB_TASK
    WHERE TB_TASK.TASK_HOUSE is NULL
  </select>

  <select id="selectTaskList" parameterType="com.szps.web.domain.supervise.TbTask" resultMap="BaseResultMap">
    select TASK_NUMBER, TASK_TIME, TASK_HOUSE,TASK_RESULT,TASK_HANDLE,TASK_CHECKTIME
    from TB_TASK,TB_RULE,TB_HOUSE

   <where>
     TB_TASK.TASK_HOUSE=TB_HOUSE.HOUSE_NUMBER AND  TB_HOUSE.HOUSE_RULE=TB_RULE.RULE_NAME
    <if test="ruleName != null and ruleName != ''">
      AND TB_RULE.RULE_NAME like concat(concat('%',#{RULE_NAME}),'%')
    </if>
    <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
      AND "TO_DATE"(TB_TASK.TASK_TIME, 'yyyy-mm-dd hh24:mi:ss') BETWEEN "TO_DATE"(#{beginTime}, 'yyyy-mm-dd hh24:mi:ss') AND "TO_DATE"(#{endTime}, 'yyyy-mm-dd hh24:mi:ss')
    </if>

   </where>
  </select>


  <delete id="deleteTaskByIds" parameterType="Long">
    delete from  TB_TASK where TASK_NUMBER in
    <foreach collection="array" item="taskNumber" open="(" separator="," close=")">
      #{taskNumber}
    </foreach>
  </delete>

  <select id="selectTaskCount" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(1)
    FROM TB_TASK

    <where>

      <if test="taskRegion != null and taskRegion != ''">
         TB_TASK.TASK_REGION = #{taskRegion}
      </if>
      <if test="taskStreet != null and taskStreet != ''">
        AND TB_TASK.TASK_STREET = #{taskStreet}
      </if>
      <if test="taskTime != null and taskTime != ''">
        and TB_TASK.TASK_TIME = #{taskTime}
      </if>
    </where>
  </select>

  <select id="CheckdTask" parameterType="String" resultType="int">
    select count(1) from TB_TASK where TB_TASK.TASK_NUMBER=#{taskNumber}
  </select>

  <select id="selectMonthTaskCount" parameterType="java.lang.String"  resultType="int">
    SELECT COUNT(1)
    FROM TB_TASK

    <where>

      <if test="taskRegion != null and taskRegion != ''">
        TB_TASK.TASK_REGION = #{taskRegion}
      </if>
      <if test="taskStreet != null and taskStreet != ''">
        AND TB_TASK.TASK_STREET = #{taskStreet}
      </if>
      <if test="taskTime != null and taskTime != ''">
        and TB_TASK.TASK_TIME like concat(#{taskTime},'%')
      </if>
    </where>
  </select>

  <select id="selectTaskCountAll"  resultType="int">
  select "COUNT"(*) FROM TB_TASK
  </select>
  <select id="selectTaskCountComplete"  resultType="int">
   select "COUNT"(*) FROM TB_TASK WHERE TB_TASK.TASK_FLAG='完成'
  </select>

</mapper>