<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('供应商列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">

		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="supplier-form">
					<div class="select-list">
						<ul>
							<li>
		                         <label >名称：</label>
                            	<input name="sname"  id="sname" type="text" >
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
    		<div class="select-list">
			<ul>
				
				<li>
                   	<a class="btn"  th:href="'/op/dev/pscombinfo'"  style="border-color: #1a7bb9">雨水口</a>
                   	<a class="btn"  th:href="'/op/dev/psconduitinfo'"  style="border-color: #1a7bb9">渠</a>
                   	<a class="btn"  th:href="'/op/dev/psmanholeinfo'"  style="border-color: #1a7bb9">检查井</a>
                   	<a class="btn"  th:href="'/op/dev/psoutfallinfo'"  style="border-color: #1a7bb9">排放口</a>
                   	<a class="btn"  th:href="'/op/dev/pspipeinfo'"  style="border-color: #1a7bb9">管</a>
                   	<a class="btn"  th:href="'/op/dev/pspointinfo'"  style="border-color: #1a7bb9">特征点</a>
				</li>
				<li></li>
				<li></li>
				<li>
                   	<a class="btn"  th:href="'/op/dev/ed'"  style="border-color: #1a7bb9">内窥检测数据</a>
                   	<a class="btn"  th:href="'/op/dev/nm'"  style="border-color: #1a7bb9">管网养护数据</a>
                   	<a class="btn"  th:href="'/op/dev/drainagenetworkmaintenance'"  style="border-color: #1a7bb9">维保数据</a>
                   	<a class="btn"  th:href="'/op/dev/drainagenetworkspare'"  style="border-color: #1a7bb9">备品备件</a>
                   	<a class="btn"  th:href="'/op/dev/drainagenetworksupplier'"  style="border-color: #EE0000">供应商</a>
				</li>						
			</ul>
		</div>			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="dev:drainagenetworksupplier:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="dev:drainagenetworksupplier:delete">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <!-- <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="dev:drainagenetworksupplier:export">
		            <i class="fa fa-download"></i> 导出
		        </a> -->
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "op/dev/drainagenetworksupplier";
        var viewFlag = [[${@permission.hasPermi('dev:drainagenetworksupplier:view')}]];
        var editFlag = [[${@permission.hasPermi('dev:drainagenetworksupplier:edit')}]];
        var removeFlag = [[${@permission.hasPermi('dev:drainagenetworksupplier:delete')}]];
        
       
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "排水管网设备供应商",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号' 
				},
				{
					field : 'sname', 
					title : '名称' 
				},
				{
		            field: 'contact',
		            title: '联系人',
		        },
		        {
		            field: 'tel',
		            title: '联系电话',
		        },
		        {
		            field: 'addr',
		            title: '地址',
		        },
		        {
		            field: 'remark',
		            title: '备注',
		        },
		        {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>