<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.drainage.AdministrativeMapper">
	<resultMap type="Administrative" id="administrativeResult">
		<id     property="administrative_name"       column="ADMINISTRATIVE_NAME" />
	</resultMap>
	
	<!-- 查询全部行政区名(用于下拉菜单) -->
	<select id="selectAllAdministrativeName" parameterType="Administrative" resultMap="administrativeResult">
		select ADMINISTRATIVE_NAME from DRAINAGE_T_ADMINISTRATIVE
	</select>
	
</mapper>