<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.drainage.CommitteesMapper">
	<resultMap type="Committees" id="committeesResult">
		<id     property="street_name"       column="STREET_NAME" />
		<result property="committees"     column="COMMITTEES"          />
	</resultMap>
	
	<!--通过街道名查询某街道全部居委会名称（用于下拉菜单） -->
	<select id="selectSomeCommittees" parameterType="Committees" resultMap="committeesResult">
		SELECT COMMITTEES FROM DRAINAGE_T_COMMITTEES WHERE 
		<if test="street_name == '' or street_name == null ">
			STREET_NAME = ''
		</if>
		<if test="street_name != '' and street_name != null">
			STREET_NAME = #{street_name}
		</if>
	</select>
	
</mapper>