<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.drainage.DrainMapper">
	<resultMap type="Drain" id="drainResult">
		<id     property="household_id"       column="HOUSEHOLD_ID"        />
		<result property="drain_type"     column="DRAIN_TYPE"          />
		<result property="drain_id"      column="DRAIN_ID"           />
		<result property="pretreatment_facility"     column="PRETREATMENT_FACILITY"      />
		<result property="other_pretreatment_facility"    column="OTHER_PRETREATMENT_FACILITY"     />
		<result property="pretreatment_facility_number"      column="PRETREATMENT_FACILITY_NUMBER"         />
		<result property="pretreatment_facility_note"     column="PRETREATMENT_FACILITY_NOTE"    />
		<result property="monitoring_facility"   column="MONITORING_FACILITY"  />
		<result property="water_to"     column="WATER_TO"      />
		<result property="water_name"   column="WATER_NAME" />
		<result property="other_note" column="OTHER_NOTE" />
	</resultMap>
	
	<sql id="selectDrainVo">
		SELECT * FROM DRAINAGE_T_DRAIN d 
	</sql>
	<sql id="selectDrainVoVo2">
		SELECT HOUSEHOLD_ID,DRAIN_TYPE,DRAIN_ID,PRETREATMENT_FACILITY,OTHER_PRETREATMENT_FACILITY,
        PRETREATMENT_FACILITY_NUMBER,PRETREATMENT_FACILITY_NOTE,MONITORING_FACILITY,WATER_TO,WATER_NAME,
        OTHER_NOTE FROM DRAINAGE_T_DRAIN WHERE HOUSEHOLD_ID like '%%'
	</sql>
	
	<!-- 查询某排水户全部排水口 -->
	<select id="selectDrainByHouseholdId" parameterType="Drain" resultMap="drainResult">
        <include refid="selectDrainVoVo2" />
         and HOUSEHOLD_ID = #{household_id}
        <!-- <if test="name != null and name !=''">
			AND EMPLOYEE_T_WORKER.NAME = #{name}
		</if> -->
	</select>
	
	<!-- 校验排水口编号唯一性 -->
	<select id="checkDrainUnique" parameterType="String" resultMap="drainResult">
		  select * from DRAINAGE_T_DRAIN d where d.DRAIN_ID = #{drain_id}
	</select>
	
	<!-- 添加排水口信息 -->
	<insert id="insertDrain" parameterType="com.szps.web.domain.drainage.Drain" keyProperty="household_id">
 		insert into DRAINAGE_T_DRAIN(HOUSEHOLD_ID,DRAIN_TYPE,DRAIN_ID,PRETREATMENT_FACILITY,
 		OTHER_PRETREATMENT_FACILITY,PRETREATMENT_FACILITY_NUMBER,PRETREATMENT_FACILITY_NOTE,
 		MONITORING_FACILITY,WATER_TO,WATER_NAME,OTHER_NOTE) values(#{household_id},
 		#{drain_type},#{drain_id},#{pretreatment_facility},#{other_pretreatment_facility},
 		#{pretreatment_facility_number},#{pretreatment_facility_note},#{monitoring_facility},
 		#{water_to},#{water_name},#{other_note})
	</insert>
	
	<!-- 通过排水口编号查询排水口信息 -->
	<select id="selectDrainById" parameterType="String" resultMap="drainResult">
		select HOUSEHOLD_ID,DRAIN_TYPE,DRAIN_ID,PRETREATMENT_FACILITY,OTHER_PRETREATMENT_FACILITY,
        PRETREATMENT_FACILITY_NUMBER,PRETREATMENT_FACILITY_NOTE,MONITORING_FACILITY,WATER_TO,WATER_NAME,
        OTHER_NOTE from DRAINAGE_T_DRAIN where DRAIN_ID = #{drain_id}
	</select>
	
	<!-- 修改排水口信息 -->
	<update id="updateDrain" parameterType="Drain">
 		update DRAINAGE_T_DRAIN
 		<set>
 			<if test="household_id != null and household_id != ''">HOUSEHOLD_ID = #{household_id},</if>
 			<if test="drain_type != null and drain_type != ''">DRAIN_TYPE = #{drain_type},</if>
 			<if test="drain_id != null and drain_id != ''">DRAIN_ID = #{drain_id},</if>
 			<if test="pretreatment_facility != null and pretreatment_facility != ''">PRETREATMENT_FACILITY = #{pretreatment_facility},</if>
 			<if test="other_pretreatment_facility != null and other_pretreatment_facility != ''">OTHER_PRETREATMENT_FACILITY = #{other_pretreatment_facility},</if>
 			<if test="pretreatment_facility_number != null and pretreatment_facility_number != ''">PRETREATMENT_FACILITY_NUMBER = #{pretreatment_facility_number},</if>
 			<if test="pretreatment_facility_note != null and pretreatment_facility_note != ''">PRETREATMENT_FACILITY_NOTE = #{pretreatment_facility_note},</if>
 			<if test="monitoring_facility != null and monitoring_facility != ''">MONITORING_FACILITY = #{monitoring_facility},</if>
 			<if test="water_to != null and water_to != ''">WATER_TO = #{water_to},</if>
 			<if test="water_name != null and water_name != ''">WATER_NAME = #{water_name},</if>
 			<if test="other_note != null and other_note != ''">OTHER_NOTE = #{other_note}</if>
 		</set>
 		where DRAIN_ID = #{drain_id}
	</update>
	
	<!-- 删除排水口 -->
	<delete id="deleteDrainById" parameterType="String">
 		delete from DRAINAGE_T_DRAIN where DRAIN_ID in 
 		<foreach collection="array" item="drain_id" open="(" separator="," close=")">
 			#{drain_id}
 		</foreach>
 	</delete>
	
</mapper>