<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.drainage.ExpireMapper">
	<resultMap type="Household" id="householdResult">
		<id     property="household_id"       column="HOUSEHOLD_ID"        />
		<result property="household_name"     column="HOUSEHOLD_NAME"          />
		<result property="record_state"      column="RECORD_STATE"           />
		<result property="doorplate_detail_address"     column="DOORPLATE_DETAIL_ADDRESS"      />
		<result property="longitude"    column="LONGITUDE"     />
		<result property="latitude"      column="LATITUDE"         />
		<result property="administrative_name"     column="ADMINISTRATIVE_NAME"    />
		<result property="street_name"   column="STREET_NAME"  />
		<result property="committees"     column="COMMITTEES"      />
		<result property="lane_name"   column="LANE_NAME" />
		<result property="doorplate_number" column="DOORPLATE_NUMBER" />
		<result property="household_level" column="HOUSEHOLD_LEVEL" />
		<result property="parent_household_name" column="PARENT_HOUSEHOLD_NAME" />
		<result property="linkman" column="LINKMAN" />
		<result property="telephone" column="TELEPHONE" />
		<result property="cover_area" column="COVER_AREA" />
		<result property="water_meter_id" column="WATER_METER_ID" />
		<result property="sewage_category" column="SEWAGE_CATEGORY" />
		<result property="unit_type" column="UNIT_TYPE" />
		<result property="other_unit_type" column="OTHER_UNIT_TYPE" />
		<result property="cflist" column="CFLIST" />
		<result property="other_composition" column="OTHER_COMPOSITION" />
		<result property="water_diversion" column="WATER_DIVERSION" />
		<result property="business_license" column="BUSINESS_LICENSE" />
		<result property="social_credit_id" column="SOCIAL_CREDIT_ID" />
		<result property="drainage_license" column="DRAINAGE_LICENSE" />
		<result property="drainage_license_number" column="DRAINAGE_LICENSE_NUMBER" />
		<result property="drainage_license_begin_time" column="DRAINAGE_LICENSE_BEGIN_TIME" />
		<result property="drainage_license_end_time" column="DRAINAGE_LICENSE_END_TIME" />
		<result property="sewage_license" column="SEWAGE_LICENSE" />
		<result property="sewage_license_number" column="SEWAGE_LICENSE_NUMBER" />
		<result property="sewage_license_begin_time" column="SEWAGE_LICENSE_BEGIN_TIME" />
		<result property="sewage_license_end_time" column="SEWAGE_LICENSE_END_TIME" />
		<result property="note" column="NOTE" />
		<result property="registration_time" column="REGISTRATION_TIME" />
		<result property="registration_person" column="REGISTRATION_PERSON" />
		<result property="update_time" column="UPDATE_TIME" />
		<result property="update_person" column="UPDATE_PERSON" />
		<result property="parent_household_id"    column="PARENT_HOUSEHOLD_ID" />
		<result property="addressbz"    column="ADDRESSBZ" />
		<result property="maintypeidx"    column="MAINTYPEIDX" />
		<result property="hascycert"    column="HASCYCERT" />
		<result property="cycertno"    column="CYCERTNO" />
		<result property="cydate1"    column="CYDATE1" />
		<result property="cydate2"    column="CYDATE2" />
		<result property="psknum"    column="PSKNUM" />
		<result property="yspsknum"    column="YSPSKNUM" />
		<result property="wspsknum"    column="WSPSKNUM" />
		<result property="hhpsknum"    column="HHPSKNUM" />
		<result property="recorder"    column="RECORDER" />
		<result property="levelchar"    column="LEVELCHAR" />
		<result property="hassh"    column="HASSH" />
		<result property="needzz"    column="NEEDZZ" />
		<result property="needpscert"    column="NEEDPSCERT" />
		<result property="needpwcert"    column="NEEDPWCERT" />
		<result property="needcycert"    column="NEEDCYCERT" />
		<result property="importbz"    column="IMPORTBZ" />
		<result property="building"    column="BUILDING" />
		<result property="hasdevice"    column="HASDEVICE" />
	</resultMap>
	
	<sql id="selectHouseholdVo2">
		select HOUSEHOLD_ID,HOUSEHOLD_NAME,RECORD_STATE,DOORPLATE_DETAIL_ADDRESS,LONGITUDE,
		LATITUDE,ADMINISTRATIVE_NAME,STREET_NAME,COMMITTEES,LANE_NAME,DOORPLATE_NUMBER,
		HOUSEHOLD_LEVEL,PARENT_HOUSEHOLD_NAME,LINKMAN,TELEPHONE,COVER_AREA,WATER_METER_ID,
		SEWAGE_CATEGORY,UNIT_TYPE,OTHER_UNIT_TYPE,CFLIST,OTHER_COMPOSITION,
		WATER_DIVERSION,BUSINESS_LICENSE,SOCIAL_CREDIT_ID,DRAINAGE_LICENSE,DRAINAGE_LICENSE_NUMBER,
		to_char(DRAINAGE_LICENSE_BEGIN_TIME,'yyyy-mm-dd') as DRAINAGE_LICENSE_BEGIN_TIME,
		to_char(DRAINAGE_LICENSE_END_TIME,'yyyy-mm-dd') as DRAINAGE_LICENSE_END_TIME,SEWAGE_LICENSE,
		SEWAGE_LICENSE_NUMBER,to_char(SEWAGE_LICENSE_BEGIN_TIME,'yyyy-mm-dd') as SEWAGE_LICENSE_BEGIN_TIME,
		to_char(SEWAGE_LICENSE_END_TIME,'yyyy-mm-dd') as SEWAGE_LICENSE_END_TIME,NOTE,
		to_char(REGISTRATION_TIME,'yyyy-mm-dd') as REGISTRATION_TIME,REGISTRATION_PERSON,
		to_char(UPDATE_TIME,'yyyy-mm-dd') as UPDATE_TIME,UPDATE_PERSON,PARENT_HOUSEHOLD_ID,
		ADDRESSBZ,MAINTYPEIDX,HASCYCERT,CYCERTNO,to_char(CYDATE1,'yyyy-mm-dd') as CYDATE1,
		to_char(CYDATE2,'yyyy-mm-dd') as CYDATE2,PSKNUM,YSPSKNUM,WSPSKNUM,HHPSKNUM,RECORDER,
		LEVELCHAR,HASSH,NEEDZZ,NEEDPSCERT,NEEDPWCERT,NEEDCYCERT,IMPORTBZ,BUILDING,HASDEVICE
		 from DRAINAGE_T_HOUSEHOLD where 1=1
	</sql>
	
	<!-- 查询全部排水户信息 -->
	<select id="selectAll" resultMap="householdResult">
        <include refid="selectHouseholdVo2" />		
        <if test='administrativeName != null and administrativeName != "sz"'>
		    AND ADMINISTRATIVE_NAME = #{administrativeName}
		</if>	  	  		
	 	<choose>
	 		<when test='licenseType == "ps"'>
	 			<choose>
	 				<when test='expireTime != "0" and expireTime != null'>
	 					AND DRAINAGE_LICENSE_END_TIME &gt;= SYSDATE and DRAINAGE_LICENSE_END_TIME &lt;= ADD_MONTHS(SYSDATE,#{expireTime})
	 				</when>
	 				<when test='expireTime == "0"'>
	 					AND DRAINAGE_LICENSE_END_TIME &lt; SYSDATE
	 				</when>
	 			</choose>
	 		</when>
	 		<when test='licenseType == "pw"'>
	 			<choose>
	 				<when test='expireTime != "0" and expireTime != null'>
	 					AND SEWAGE_LICENSE_END_TIME &gt;= SYSDATE and SEWAGE_LICENSE_END_TIME &lt;= ADD_MONTHS(SYSDATE,#{expireTime})
	 				</when>
	 				<when test='expireTime == "0"'>
	 					AND SEWAGE_LICENSE_END_TIME &lt; SYSDATE
	 				</when>
	 			</choose>
	 		</when>
	 		<when test='licenseType == "all"'>
	 			<choose>
	 				<when test='expireTime != "0" and expireTime != null'>
	 					AND (SEWAGE_LICENSE_END_TIME &gt;= SYSDATE and SEWAGE_LICENSE_END_TIME &lt;= ADD_MONTHS(SYSDATE,#{expireTime})
	 					OR DRAINAGE_LICENSE_END_TIME &gt;= SYSDATE and DRAINAGE_LICENSE_END_TIME &lt;= ADD_MONTHS(SYSDATE,#{expireTime}))
	 				</when>
	 				<when test='expireTime == "0"'>
	 					AND (SEWAGE_LICENSE_END_TIME &lt; SYSDATE
	 					OR DRAINAGE_LICENSE_END_TIME &lt; SYSDATE)
	 				</when>
	 			</choose>
	 		</when>
	 	</choose>
    </select>
	
</mapper>