<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szps.web.mapper.drainage.StreetMapper">
	<resultMap type="Street" id="streetResult">
		<id     property="administrative_name"       column="ADMINISTRATIVE_NAME" />
		<result property="street_name"     column="STREET_NAME"          />
	</resultMap>	

	<!--通过行政区名查询某行政区全部街道名称（用于下拉菜单） -->
	<select id="selectSomeStreet" parameterType="Street" resultMap="streetResult">
		SELECT STREET_NAME FROM DRAINAGE_T_STREET WHERE 
		<if test="administrative_name == '' or administrative_name == null ">
			ADMINISTRATIVE_NAME = ''
		</if>
		<if test="administrative_name != '' and administrative_name != null">
			ADMINISTRATIVE_NAME = #{administrative_name}
		</if>
	</select>
	
</mapper>